Repository sgl-project/sglang, changes with the owners that .github/CODEOWNERS names for each.
All owners: @merrymercy, @zhyncs, @HaiShaw, @ByronHsu, @Ying1123, @hnyls2002, @ShangmingCai, @yizhang2077, @ispobock, @CatherineSue, @slin1237, @fzyzcjy, @ch-wan, @BBuf, @kushanam, @Edwardf0t1, @Fridge003, @lifuhuang, @xiezhq-hermann, @mickqian, @JustinTong0323, @rkooo567, @kssteven418, @HandH1998, @FlamingoPg

.github/CODEOWNERS:

.github @merrymercy @zhyncs
/docker @zhyncs @HaiShaw @ByronHsu
/python/pyproject.toml @merrymercy @zhyncs
/python/sglang/* @merrymercy @Ying1123 @zhyncs @hnyls2002
/python/sglang/srt/constrained @hnyls2002
/python/sglang/srt/disaggregation @ByronHsu @hnyls2002
/python/sglang/srt/disaggregation/mooncake @ShangmingCai
/python/sglang/srt/distributed @yizhang2077 @merrymercy
/python/sglang/srt/entrypoints @ispobock @CatherineSue @slin1237 @merrymercy
/python/sglang/srt/eplb @fzyzcjy
/python/sglang/srt/function_call @CatherineSue
/python/sglang/srt/layers @merrymercy @Ying1123 @zhyncs @ispobock @HaiShaw @ch-wan @BBuf @kushanam @Edwardf0t1
/python/sglang/srt/lora @Ying1123 @Fridge003 @lifuhuang
/python/sglang/srt/managers @merrymercy @Ying1123 @hnyls2002 @xiezhq-hermann
/python/sglang/srt/mem_cache @merrymercy @Ying1123 @hnyls2002 @xiezhq-hermann
/python/sglang/srt/model_executor @merrymercy @Ying1123 @hnyls2002 @zhyncs @ispobock
/python/sglang/srt/multimodal @mickqian @JustinTong0323
/python/sglang/srt/speculative @Ying1123 @merrymercy @rkooo567 @kssteven418
/sgl-kernel @zhyncs @ispobock @HandH1998 @BBuf @yizhang2077 @merrymercy @FlamingoPg @HaiShaw
/sgl-router @slin1237 @ByronHsu
/test/srt/test_modelopt* @Edwardf0t1

swa radix cache support
  python/sglang/srt/mem_cache/swa_radix_cache.py
  test/srt/test_swa_unittest.py
Owners: @merrymercy, @Ying1123, @hnyls2002, @xiezhq-hermann

[Optimize] L3 mooncake store remove Remove multiple environment variables and read configuration from files
  python/sglang/srt/mem_cache/storage/mooncake_store/README.md
  python/sglang/srt/mem_cache/storage/mooncake_store/mooncake_store.py
Owners: @merrymercy, @Ying1123, @hnyls2002, @xiezhq-hermann

[Optimize] L3 mooncake store remove Remove multiple environment variables and read configuration from files
  python/sglang/srt/mem_cache/storage/mooncake_store/README.md
  python/sglang/srt/mem_cache/storage/mooncake_store/mooncake_store.py
Owners: @merrymercy, @Ying1123, @hnyls2002, @xiezhq-hermann

update for removed parameter in transformers
  python/sglang/srt/models/qwen3_next.py
  python/sglang/srt/models/qwen3_next_mtp.py
Owners: none

Update rope.cu
  sgl-kernel/csrc/elementwise/rope.cu
Owners: @zhyncs, @ispobock, @HandH1998, @BBuf, @yizhang2077, @merrymercy, @FlamingoPg, @HaiShaw

[Optimize] L3 mooncake store remove Remove multiple environment variables and read configuration from files
  python/sglang/srt/mem_cache/storage/mooncake_store/mooncake_store.py
Owners: @merrymercy, @Ying1123, @hnyls2002, @xiezhq-hermann

Revert "Update rope.cu"
  sgl-kernel/csrc/elementwise/rope.cu
Owners: @zhyncs, @ispobock, @HandH1998, @BBuf, @yizhang2077, @merrymercy, @FlamingoPg, @HaiShaw

[Optimize] [Optimization] L3 mooncake storage increases file loading configuration
  python/sglang/srt/mem_cache/storage/mooncake_store/mooncake_store.py
Owners: @merrymercy, @Ying1123, @hnyls2002, @xiezhq-hermann

[Optimize] L3 mooncake storage increases file loading configuration
  python/sglang/srt/mem_cache/storage/mooncake_store/mooncake_store.py
Owners: @merrymercy, @Ying1123, @hnyls2002, @xiezhq-hermann

[Optimize] L3 mooncake storage increases file loading configuration
  python/sglang/srt/mem_cache/storage/mooncake_store/README.md
Owners: @merrymercy, @Ying1123, @hnyls2002, @xiezhq-hermann

add qwen3vl
  python/sglang/srt/configs/model_config.py
  python/sglang/srt/layers/rotary_embedding.py
  python/sglang/srt/managers/mm_utils.py
  python/sglang/srt/models/qwen3_vl.py
  python/sglang/srt/models/qwen3_vl_moe.py
  python/sglang/srt/multimodal/processors/qwen_vl.py
Owners: @merrymercy, @Ying1123, @zhyncs, @ispobock, @HaiShaw, @ch-wan, @BBuf, @kushanam, @Edwardf0t1, @hnyls2002, @xiezhq-hermann, @mickqian, @JustinTong0323

[Optimize] L3 mooncake storage increases file loading configuration
  python/sglang/srt/mem_cache/storage/mooncake_store/README.md
  python/sglang/srt/mem_cache/storage/mooncake_store/mooncake_store.py
Owners: @merrymercy, @Ying1123, @hnyls2002, @xiezhq-hermann

Avoid the race condition happened
  python/sglang/srt/layers/dp_attention.py
  python/sglang/srt/layers/logits_processor.py
Owners: @merrymercy, @Ying1123, @zhyncs, @ispobock, @HaiShaw, @ch-wan, @BBuf, @kushanam, @Edwardf0t1

support loading weights from remote instance
  python/sglang/srt/configs/device_config.py
  python/sglang/srt/configs/load_config.py
  python/sglang/srt/configs/model_config.py
  python/sglang/srt/connector/__init__.py
  python/sglang/srt/connector/remote_instance.py
  python/sglang/srt/entrypoints/http_server.py
  python/sglang/srt/managers/io_struct.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/managers/tokenizer_communicator_mixin.py
  python/sglang/srt/managers/tp_worker.py
  python/sglang/srt/managers/tp_worker_overlap_thread.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/model_loader/loader.py
  python/sglang/srt/remote_instance_weight_loader_utils.py
  python/sglang/srt/server_args.py
  python/sglang/srt/utils.py
Owners: @ispobock, @CatherineSue, @slin1237, @merrymercy, @Ying1123, @hnyls2002, @xiezhq-hermann, @zhyncs

add unit test for loading weights from remote instance
  test/srt/run_suite.py
  test/srt/test_load_weights_from_remote_instance.py
Owners: none

add json_draft_model_override_args
  docs/advanced_features/server_arguments.md
  python/sglang/srt/configs/model_config.py
  python/sglang/srt/server_args.py
  python/sglang/srt/speculative/eagle_worker.py
Owners: @Ying1123, @merrymercy, @rkooo567, @kssteven418

Minor update: adjust output format
  benchmark/hicache/bench_multiturn.py
Owners: none

fix and update
  test/srt/hicache/test_hicache_storage_mooncake_backend.py
Owners: none

[Auto Sync] Update parallel_state.py (20250911) (#10326)
  python/sglang/srt/distributed/parallel_state.py
Owners: @yizhang2077, @merrymercy

[Auto Sync] Update parallel_state.py (20250911) (#10326)
  python/sglang/srt/distributed/parallel_state.py
Owners: @yizhang2077, @merrymercy

init qwen3-next doc
  docs/basic_usage/qwen3.md
Owners: none

Fix server args order
  python/sglang/srt/server_args.py
Owners: none

more
  docs/index.rst
  docs/supported_models/generative_models.md
Owners: none

Minor fix server args
  python/sglang/srt/server_args.py
Owners: none

add config for H20
  python/sglang/srt/layers/moe/fused_moe_triton/configs/triton_3_4_0/E=512,N=128,device_name=NVIDIA_H20-3e.json
  python/sglang/srt/layers/moe/fused_moe_triton/configs/triton_3_4_0/E=512,N=256,device_name=NVIDIA_H20-3e.json
Owners: @merrymercy, @Ying1123, @zhyncs, @ispobock, @HaiShaw, @ch-wan, @BBuf, @kushanam, @Edwardf0t1

add config for H20 (#10329)
  python/sglang/srt/layers/moe/fused_moe_triton/configs/triton_3_4_0/E=512,N=128,device_name=NVIDIA_H20-3e.json
  python/sglang/srt/layers/moe/fused_moe_triton/configs/triton_3_4_0/E=512,N=256,device_name=NVIDIA_H20-3e.json
Owners: @merrymercy, @Ying1123, @zhyncs, @ispobock, @HaiShaw, @ch-wan, @BBuf, @kushanam, @Edwardf0t1

[Minor] Improve the style of server args (#10328)
  python/sglang/srt/server_args.py
Owners: none

[Minor] Improve the style of server args (#10328)
  python/sglang/srt/server_args.py
Owners: none
