Repository sgl-project/sglang, changes with the owners that .github/CODEOWNERS names for each.
All owners: @HaiShaw, @zhyncs, @merrymercy, @Ying1123, @zhaochenyang20, @hnyls2002, @ByronHsu, @ispobock, @xiezhq-hermann, @rkooo567, @kssteven418, @HandH1998, @BBuf, @yizhang2077, @yinfan98

more
  python/sglang/srt/models/deepseek_v2.py
Owners: @merrymercy, @Ying1123, @hnyls2002, @zhyncs, @ispobock, @ByronHsu

more
  python/sglang/srt/models/deepseek_v2.py
Owners: @merrymercy, @Ying1123, @hnyls2002, @zhyncs, @ispobock, @ByronHsu

more
  python/sglang/srt/models/deepseek_v2.py
Owners: @merrymercy, @Ying1123, @hnyls2002, @zhyncs, @ispobock, @ByronHsu

more
  python/sglang/srt/models/deepseek_v2.py
Owners: @merrymercy, @Ying1123, @hnyls2002, @zhyncs, @ispobock, @ByronHsu

more
  python/sglang/srt/models/deepseek_v2.py
Owners: @merrymercy, @Ying1123, @hnyls2002, @zhyncs, @ispobock, @ByronHsu

more
  python/sglang/srt/models/deepseek_v2.py
Owners: @merrymercy, @Ying1123, @hnyls2002, @zhyncs, @ispobock, @ByronHsu

more
  python/sglang/srt/models/deepseek_v2.py
Owners: @merrymercy, @Ying1123, @hnyls2002, @zhyncs, @ispobock, @ByronHsu

more
  python/sglang/srt/models/deepseek_v2.py
Owners: @merrymercy, @Ying1123, @hnyls2002, @zhyncs, @ispobock, @ByronHsu

more
  python/sglang/srt/models/deepseek_v2.py
Owners: @merrymercy, @Ying1123, @hnyls2002, @zhyncs, @ispobock, @ByronHsu

more
  python/sglang/srt/models/deepseek_v2.py
Owners: @merrymercy, @Ying1123, @hnyls2002, @zhyncs, @ispobock, @ByronHsu

more
  python/sglang/srt/models/deepseek_v2.py
Owners: @merrymercy, @Ying1123, @hnyls2002, @zhyncs, @ispobock, @ByronHsu

more
  python/sglang/srt/models/deepseek_v2.py
Owners: @merrymercy, @Ying1123, @hnyls2002, @zhyncs, @ispobock, @ByronHsu

more
  python/sglang/srt/models/deepseek_v2.py
Owners: @merrymercy, @Ying1123, @hnyls2002, @zhyncs, @ispobock, @ByronHsu

more
  python/sglang/srt/models/deepseek_v2.py
Owners: @merrymercy, @Ying1123, @hnyls2002, @zhyncs, @ispobock, @ByronHsu

more
  python/sglang/srt/models/deepseek_v2.py
Owners: @merrymercy, @Ying1123, @hnyls2002, @zhyncs, @ispobock, @ByronHsu

more
  python/sglang/srt/models/deepseek_v2.py
Owners: @merrymercy, @Ying1123, @hnyls2002, @zhyncs, @ispobock, @ByronHsu

more
  python/sglang/srt/models/deepseek_v2.py
Owners: @merrymercy, @Ying1123, @hnyls2002, @zhyncs, @ispobock, @ByronHsu

Support page size > 1 + eagle
  python/sglang/srt/layers/attention/flashinfer_backend.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/mem_cache/memory_pool.py
  python/sglang/srt/mem_cache/paged_allocator.py
  python/sglang/srt/model_executor/cuda_graph_runner.py
  python/sglang/srt/server_args.py
  python/sglang/srt/speculative/eagle_utils.py
  python/sglang/srt/speculative/eagle_worker.py
  test/srt/test_eagle_infer.py
Owners: @merrymercy, @Ying1123, @zhyncs, @ispobock, @HaiShaw, @hnyls2002, @xiezhq-hermann, @ByronHsu, @rkooo567, @kssteven418

Fix
  python/sglang/srt/speculative/eagle_worker.py
Owners: @Ying1123, @merrymercy, @rkooo567, @kssteven418

.github/CODEOWNERS:

/3rdparty/amd @HaiShaw
/docker @zhyncs @HaiShaw @merrymercy @Ying1123
/docs @zhaochenyang20
/python/sglang/lang @merrymercy @Ying1123 @hnyls2002 @ByronHsu
/python/sglang/srt @merrymercy @Ying1123 @hnyls2002 @zhyncs @ispobock @ByronHsu
/python/sglang/srt/constrained @hnyls2002
/python/sglang/srt/layers @merrymercy @Ying1123 @zhyncs @ispobock @HaiShaw
/python/sglang/srt/lora @Ying1123
/python/sglang/srt/managers @merrymercy @Ying1123 @hnyls2002 @xiezhq-hermann
/python/sglang/srt/mem_cache @merrymercy @Ying1123 @hnyls2002 @xiezhq-hermann
/python/sglang/srt/model_executor @merrymercy @Ying1123 @hnyls2002 @zhyncs @ispobock
/python/sglang/srt/models @merrymercy @Ying1123 @hnyls2002 @zhyncs @ispobock @ByronHsu
/python/sglang/srt/openai_api @merrymercy @Ying1123 @hnyls2002 @zhyncs @ispobock @ByronHsu
/python/sglang/srt/sampling @merrymercy @hnyls2002
/python/sglang/srt/speculative @Ying1123 @merrymercy @rkooo567 @kssteven418
/test/lang @merrymercy @Ying1123 @ByronHsu
/test/srt @merrymercy @Ying1123 @zhyncs
/sgl-router @ByronHsu @Ying1123
/sgl-kernel @zhyncs @ispobock @HandH1998 @BBuf @yizhang2077 @merrymercy @yinfan98
