Repository sgl-project/sglang, changes with the owners that .github/CODEOWNERS names for each.
All owners: @merrymercy, @zhyncs, @HaiShaw, @ByronHsu, @Ying1123, @hnyls2002, @ShangmingCai, @yizhang2077, @ispobock, @CatherineSue, @slin1237, @fzyzcjy, @ch-wan, @BBuf, @kushanam, @Edwardf0t1, @Fridge003, @lifuhuang, @xiezhq-hermann, @mickqian, @JustinTong0323, @rkooo567, @kssteven418, @HandH1998, @FlamingoPg

.github/CODEOWNERS:

.github @merrymercy @zhyncs
/docker @zhyncs @HaiShaw @ByronHsu
/python/pyproject.toml @merrymercy @zhyncs
/python/sglang/* @merrymercy @Ying1123 @zhyncs @hnyls2002
/python/sglang/srt/constrained @hnyls2002
/python/sglang/srt/disaggregation @ByronHsu @hnyls2002
/python/sglang/srt/disaggregation/mooncake @ShangmingCai
/python/sglang/srt/distributed @yizhang2077 @merrymercy
/python/sglang/srt/entrypoints @ispobock @CatherineSue @slin1237 @merrymercy
/python/sglang/srt/eplb @fzyzcjy
/python/sglang/srt/function_call @CatherineSue
/python/sglang/srt/layers @merrymercy @Ying1123 @zhyncs @ispobock @HaiShaw @ch-wan @BBuf @kushanam @Edwardf0t1
/python/sglang/srt/lora @Ying1123 @Fridge003 @lifuhuang
/python/sglang/srt/managers @merrymercy @Ying1123 @hnyls2002 @xiezhq-hermann
/python/sglang/srt/mem_cache @merrymercy @Ying1123 @hnyls2002 @xiezhq-hermann
/python/sglang/srt/model_executor @merrymercy @Ying1123 @hnyls2002 @zhyncs @ispobock
/python/sglang/srt/multimodal @mickqian @JustinTong0323
/python/sglang/srt/speculative @Ying1123 @merrymercy @rkooo567 @kssteven418
/sgl-kernel @zhyncs @ispobock @HandH1998 @BBuf @yizhang2077 @merrymercy @FlamingoPg @HaiShaw
/sgl-router @slin1237 @ByronHsu
/test/srt/test_modelopt* @Edwardf0t1

upd
  python/pyproject.toml
Owners: @merrymercy, @zhyncs

upd
  .github/workflows/pr-test-pd-router.yml
Owners: @merrymercy, @zhyncs

upd
  docker/Dockerfile
Owners: @zhyncs, @HaiShaw, @ByronHsu

upd
  docker/Dockerfile.gb200
Owners: @zhyncs, @HaiShaw, @ByronHsu

upd
  python/pyproject.toml
Owners: @merrymercy, @zhyncs

upd
  python/pyproject.toml
Owners: @merrymercy, @zhyncs

upd
  python/sglang/srt/entrypoints/engine.py
Owners: @ispobock, @CatherineSue, @slin1237, @merrymercy

upd
  scripts/ci/ci_install_dependency.sh
Owners: none

more
  .github/workflows/pr-test.yml
  scripts/ci/ci_install_dependency.sh
Owners: @merrymercy, @zhyncs

Update ci_install_dependency.sh
  scripts/ci/ci_install_dependency.sh
Owners: none

more
  scripts/ci/ci_install_dependency.sh
Owners: none

more
  scripts/ci/ci_install_dependency.sh
Owners: none

more
  .github/workflows/pr-test.yml
Owners: @merrymercy, @zhyncs

[Optimize] L3 mooncake store remove Remove multiple environment variables and read configuration from files
  python/sglang/srt/mem_cache/storage/mooncake_store/README.md
  python/sglang/srt/mem_cache/storage/mooncake_store/mooncake_store.py
Owners: @merrymercy, @Ying1123, @hnyls2002, @xiezhq-hermann

more
  .github/workflows/pr-test.yml
Owners: @merrymercy, @zhyncs

hack simp workflow
  .github/workflows/pr-test.yml
Owners: @merrymercy, @zhyncs

moe
  .github/workflows/pr-test.yml
Owners: @merrymercy, @zhyncs

test
  test/srt/run_suite.py
Owners: none

more
  sgl-kernel/csrc/elementwise/rope.cu
Owners: @zhyncs, @ispobock, @HandH1998, @BBuf, @yizhang2077, @merrymercy, @FlamingoPg, @HaiShaw

more
  .github/workflows/pr-test.yml
Owners: @merrymercy, @zhyncs

Revert "moe"
  .github/workflows/pr-test.yml
Owners: @merrymercy, @zhyncs

Revert "hack simp workflow"
  .github/workflows/pr-test.yml
Owners: @merrymercy, @zhyncs

[Optimize] L3 mooncake store remove Remove multiple environment variables and read configuration from files
  python/sglang/srt/mem_cache/storage/mooncake_store/README.md
  python/sglang/srt/mem_cache/storage/mooncake_store/mooncake_store.py
Owners: @merrymercy, @Ying1123, @hnyls2002, @xiezhq-hermann

more
  .github/workflows/pr-test-sgl-kernel.yml
Owners: @merrymercy, @zhyncs

more
  .github/workflows/pr-test-sgl-kernel.yml
Owners: @merrymercy, @zhyncs

hack
  sgl-kernel/csrc/elementwise/rope.cu
Owners: @zhyncs, @ispobock, @HandH1998, @BBuf, @yizhang2077, @merrymercy, @FlamingoPg, @HaiShaw

more
  sgl-kernel/csrc/elementwise/rope.cu
Owners: @zhyncs, @ispobock, @HandH1998, @BBuf, @yizhang2077, @merrymercy, @FlamingoPg, @HaiShaw

[Optimize] L3 mooncake store remove Remove multiple environment variables and read configuration from files
  python/sglang/srt/mem_cache/storage/mooncake_store/mooncake_store.py
Owners: @merrymercy, @Ying1123, @hnyls2002, @xiezhq-hermann

more
  scripts/ci/ci_install_dependency.sh
Owners: none

Update ci_install_dependency.sh
  scripts/ci/ci_install_dependency.sh
Owners: none

more
  scripts/ci/ci_install_dependency.sh
Owners: none

support hicache
  python/sglang/srt/mem_cache/hiradix_cache.py
Owners: @merrymercy, @Ying1123, @hnyls2002, @xiezhq-hermann

fix
  scripts/ci/ci_install_dependency.sh
Owners: none

upd
  test/srt/run_suite.py
Owners: none

chore: upgrade v0.3.9.post2 sgl-kernel (#10297)
  .github/workflows/pr-test-pd-router.yml
  docker/Dockerfile
  docker/Dockerfile.gb200
  python/pyproject.toml
  python/sglang/srt/entrypoints/engine.py
  scripts/ci/ci_install_dependency.sh
Owners: @merrymercy, @zhyncs, @HaiShaw, @ByronHsu, @ispobock, @CatherineSue, @slin1237

chore: upgrade v0.3.9.post2 sgl-kernel (#10297)
  .github/workflows/pr-test-pd-router.yml
  docker/Dockerfile
  docker/Dockerfile.gb200
  python/pyproject.toml
  python/sglang/srt/entrypoints/engine.py
  scripts/ci/ci_install_dependency.sh
Owners: @merrymercy, @zhyncs, @HaiShaw, @ByronHsu, @ispobock, @CatherineSue, @slin1237

Qwen3-Next support (#10233)
  python/sglang/srt/configs/__init__.py
  python/sglang/srt/configs/model_config.py
  python/sglang/srt/configs/qwen3_next.py
  python/sglang/srt/hf_transformers_utils.py
  python/sglang/srt/layers/attention/hybrid_linear_attn_backend.py
  python/sglang/srt/layers/attention/mamba/causal_conv1d.py
  python/sglang/srt/layers/attention/mamba/mamba.py
  python/sglang/srt/layers/moe/fused_moe_triton/configs/triton_3_4_0/E=512,N=128,device_name=NVIDIA_H100_80GB_HBM3.json
  python/sglang/srt/layers/moe/fused_moe_triton/configs/triton_3_4_0/E=512,N=64,device_name=NVIDIA_H100_80GB_HBM3.json
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/mem_cache/memory_pool.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/model_loader/weight_utils.py
  python/sglang/srt/models/qwen3_next.py
  python/sglang/srt/models/qwen3_next_mtp.py
  python/sglang/srt/server_args.py
  python/sglang/srt/speculative/eagle_target_verify_cuda_graph_runner.py
  python/sglang/srt/speculative/eagle_worker.py
Owners: @merrymercy, @Ying1123, @zhyncs, @ispobock, @HaiShaw, @ch-wan, @BBuf, @kushanam, @Edwardf0t1, @hnyls2002, @xiezhq-hermann, @rkooo567, @kssteven418

Qwen3-Next support (#10233)
  python/sglang/srt/configs/__init__.py
  python/sglang/srt/configs/model_config.py
  python/sglang/srt/configs/qwen3_next.py
  python/sglang/srt/hf_transformers_utils.py
  python/sglang/srt/layers/attention/hybrid_linear_attn_backend.py
  python/sglang/srt/layers/attention/mamba/causal_conv1d.py
  python/sglang/srt/layers/attention/mamba/mamba.py
  python/sglang/srt/layers/moe/fused_moe_triton/configs/triton_3_4_0/E=512,N=128,device_name=NVIDIA_H100_80GB_HBM3.json
  python/sglang/srt/layers/moe/fused_moe_triton/configs/triton_3_4_0/E=512,N=64,device_name=NVIDIA_H100_80GB_HBM3.json
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/mem_cache/memory_pool.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/model_loader/weight_utils.py
  python/sglang/srt/models/qwen3_next.py
  python/sglang/srt/models/qwen3_next_mtp.py
  python/sglang/srt/server_args.py
  python/sglang/srt/speculative/eagle_target_verify_cuda_graph_runner.py
  python/sglang/srt/speculative/eagle_worker.py
Owners: @merrymercy, @Ying1123, @zhyncs, @ispobock, @HaiShaw, @ch-wan, @BBuf, @kushanam, @Edwardf0t1, @hnyls2002, @xiezhq-hermann, @rkooo567, @kssteven418

lmcache radix compatible
  python/sglang/srt/mem_cache/storage/lmcache/lmc_radix_cache.py
Owners: @merrymercy, @Ying1123, @hnyls2002, @xiezhq-hermann

cpp radix cache compatible (not support extra_key kv cache isolation
  python/sglang/srt/mem_cache/radix_cache_cpp.py
Owners: @merrymercy, @Ying1123, @hnyls2002, @xiezhq-hermann
