Repository sgl-project/sglang, pull requests merged in 2024-11, with the labels that each got.

#1853 support prometheus metrics
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/managers/schedule_policy.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/metrics/metrics_collector.py
  python/sglang/srt/metrics/metrics_types.py
  python/sglang/srt/server.py
  python/sglang/srt/server_args.py
Labels: high priority

#1745 Introducing SGLang Guru on Gurubase.io
  README.md
Labels: await-response

#1996 support parallel grammar preprocessing
  python/sglang/srt/constrained/__init__.py
  python/sglang/srt/constrained/base_tool_cache.py
  python/sglang/srt/constrained/grammar.py
  python/sglang/srt/constrained/outlines_cache.py
  python/sglang/srt/constrained/outlines_jump_forward.py
  python/sglang/srt/constrained/xgrammar_cache.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/model_executor/model_runner.py
  test/srt/test_json_constrained.py
Labels: high priority

#1968 Offline LLM Engine Benchmark Throughput
  python/sglang/bench_offline_throughput.py
  python/sglang/bench_serving.py
  python/sglang/srt/server.py
  test/srt/test_srt_engine.py
Labels: high priority

#1876 Add Tensor Parallel to torch_native_llama
  python/sglang/bench_latency.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/model_parallel.py
  python/sglang/srt/models/torch_native_llama.py
  test/srt/test_torch_tp.py
Labels: high priority, await-response

#2061 Support cuda graph for DP attention
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/managers/tp_worker.py
  python/sglang/srt/managers/tp_worker_overlap_thread.py
  python/sglang/srt/model_executor/cuda_graph_runner.py
  python/sglang/srt/model_executor/forward_batch_info.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/server_args.py
  scripts/playground/reference_hf.py
Labels: await-response

#2062 add phi-3 small support
  docs/references/supported_models.md
  python/sglang/srt/models/phi3_small.py
  test/srt/models/test_generation_models.py
Labels: await-response

#2092 Expose max total num tokens from Runtime & Engine API
  docs/backend/native_api.ipynb
  python/sglang/srt/managers/data_parallel_controller.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/server.py
Labels: high priority

#2176 Update XGrammar to the latest API
  python/pyproject.toml
  python/sglang/srt/constrained/xgrammar_backend.py
  test/srt/test_json_constrained.py
Labels: bug, enhancement, high priority

#2052 Input_embeds support
  docs/references/sampling_params.md
  python/sglang/srt/managers/io_struct.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/managers/tokenizer_manager.py
  python/sglang/srt/model_executor/forward_batch_info.py
  python/sglang/srt/model_executor/model_runner.py
  test/srt/run_suite.py
  test/srt/test_input_embeddings.py
Labels: high priority, await-response

#2123 add profile in offline benchmark & update doc
  docs/references/benchmark_and_profiling.md
  python/sglang/bench_offline_throughput.py
  python/sglang/srt/server.py
Labels: await-response
