Repository sgl-project/sglang, pull requests merged in 2024-09, with the labels that each got.

#1285 feat: fix fp8 for MLA and support bmm fp8 for DeepSeek V2
  python/sglang/srt/models/deepseek_v2.py
Labels: enhancement

#1286 Support Triton fp8 e5m2 kv cache
  python/sglang/srt/layers/extend_attention.py
  python/sglang/srt/model_executor/model_runner.py
Labels: enhancement

#1281 [triton] Support head_dim not 2^n in triton extend and decode attention
  python/sglang/srt/layers/decode_attention.py
  python/sglang/srt/layers/extend_attention.py
  python/sglang/srt/layers/prefill_attention.py
Labels: high priority

#1300 Adding Documentation for installation
  docs/en/index.rst
  docs/en/install.md
  docs/requirements.txt
Labels: documentation
