Repository sgl-project/sglang, pull requests merged in 2024-12, with the labels that each got.

#2244 adapt vllm distributed module to sglang
  python/sglang/srt/_custom_ops.py
  python/sglang/srt/distributed/__init__.py
  python/sglang/srt/distributed/communication_op.py
  python/sglang/srt/distributed/device_communicators/__init__.py
  python/sglang/srt/distributed/device_communicators/cuda_wrapper.py
  python/sglang/srt/distributed/device_communicators/custom_all_reduce.py
  python/sglang/srt/distributed/device_communicators/custom_all_reduce_utils.py
  python/sglang/srt/distributed/device_communicators/hpu_communicator.py
  python/sglang/srt/distributed/device_communicators/pynccl.py
  python/sglang/srt/distributed/device_communicators/pynccl_wrapper.py
  python/sglang/srt/distributed/device_communicators/shm_broadcast.py
  python/sglang/srt/distributed/device_communicators/xpu_communicator.py
  python/sglang/srt/distributed/parallel_state.py
  python/sglang/srt/distributed/utils.py
  python/sglang/srt/utils.py
Labels: high priority

#2220 Update model_loader deps and qqq quantization deps
  python/sglang/bench_one_batch.py
  python/sglang/srt/configs/device_config.py
  python/sglang/srt/configs/load_config.py
  python/sglang/srt/configs/model_config.py
  python/sglang/srt/configs/qwen2vl.py
  python/sglang/srt/hf_transformers_utils.py
  python/sglang/srt/layers/linear.py
  python/sglang/srt/lora/lora.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/managers/tokenizer_manager.py
  python/sglang/srt/managers/tp_worker.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/model_loader/__init__.py
  python/sglang/srt/model_loader/loader.py
  python/sglang/srt/model_loader/utils.py
  python/sglang/srt/model_loader/weight_utils.py
  python/sglang/srt/models/baichuan.py
  python/sglang/srt/models/chatglm.py
  python/sglang/srt/models/commandr.py
  python/sglang/srt/models/dbrx.py
  python/sglang/srt/models/deepseek.py
  python/sglang/srt/models/deepseek_v2.py
  python/sglang/srt/models/exaone.py
  python/sglang/srt/models/gemma.py
  python/sglang/srt/models/gemma2.py
  python/sglang/srt/models/gemma2_reward.py
  python/sglang/srt/models/gpt2.py
  python/sglang/srt/models/gpt_bigcode.py
  python/sglang/srt/models/grok.py
  python/sglang/srt/models/internlm2.py
  python/sglang/srt/models/internlm2_reward.py
  python/sglang/srt/models/llama.py
  python/sglang/srt/models/llama_classification.py
  python/sglang/srt/models/llama_embedding.py
  python/sglang/srt/models/llama_reward.py
  python/sglang/srt/models/llava.py
  python/sglang/srt/models/llavavid.py
  python/sglang/srt/models/minicpm.py
  python/sglang/srt/models/minicpm3.py
  python/sglang/srt/models/mixtral.py
  python/sglang/srt/models/mixtral_quant.py
  python/sglang/srt/models/mllama.py
  python/sglang/srt/models/olmo.py
  python/sglang/srt/models/olmo2.py
  python/sglang/srt/models/olmoe.py
  python/sglang/srt/models/phi3_small.py
  python/sglang/srt/models/qwen.py
  python/sglang/srt/models/qwen2.py
  python/sglang/srt/models/qwen2_moe.py
  python/sglang/srt/models/qwen2_vl.py
  python/sglang/srt/models/registry.py
  python/sglang/srt/models/stablelm.py
  python/sglang/srt/models/torch_native_llama.py
  python/sglang/srt/models/xverse.py
  python/sglang/srt/models/xverse_moe.py
  python/sglang/srt/models/yivl.py
  python/sglang/srt/server_args.py
  python/sglang/srt/utils.py
Labels: high priority

#2318 Update model_loader deps and qqq quantization deps (#2220)
  python/sglang/bench_one_batch.py
  python/sglang/srt/configs/device_config.py
  python/sglang/srt/configs/load_config.py
  python/sglang/srt/configs/model_config.py
  python/sglang/srt/configs/qwen2vl.py
  python/sglang/srt/hf_transformers_utils.py
  python/sglang/srt/layers/linear.py
  python/sglang/srt/lora/lora.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/managers/tokenizer_manager.py
  python/sglang/srt/managers/tp_worker.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/model_loader/__init__.py
  python/sglang/srt/model_loader/loader.py
  python/sglang/srt/model_loader/utils.py
  python/sglang/srt/model_loader/weight_utils.py
  python/sglang/srt/models/baichuan.py
  python/sglang/srt/models/chatglm.py
  python/sglang/srt/models/commandr.py
  python/sglang/srt/models/dbrx.py
  python/sglang/srt/models/deepseek.py
  python/sglang/srt/models/deepseek_v2.py
  python/sglang/srt/models/exaone.py
  python/sglang/srt/models/gemma.py
  python/sglang/srt/models/gemma2.py
  python/sglang/srt/models/gemma2_reward.py
  python/sglang/srt/models/gpt2.py
  python/sglang/srt/models/gpt_bigcode.py
  python/sglang/srt/models/grok.py
  python/sglang/srt/models/internlm2.py
  python/sglang/srt/models/internlm2_reward.py
  python/sglang/srt/models/llama.py
  python/sglang/srt/models/llama_classification.py
  python/sglang/srt/models/llama_embedding.py
  python/sglang/srt/models/llama_reward.py
  python/sglang/srt/models/llava.py
  python/sglang/srt/models/llavavid.py
  python/sglang/srt/models/minicpm.py
  python/sglang/srt/models/minicpm3.py
  python/sglang/srt/models/mixtral.py
  python/sglang/srt/models/mixtral_quant.py
  python/sglang/srt/models/mllama.py
  python/sglang/srt/models/olmo.py
  python/sglang/srt/models/olmo2.py
  python/sglang/srt/models/olmoe.py
  python/sglang/srt/models/phi3_small.py
  python/sglang/srt/models/qwen.py
  python/sglang/srt/models/qwen2.py
  python/sglang/srt/models/qwen2_moe.py
  python/sglang/srt/models/qwen2_vl.py
  python/sglang/srt/models/registry.py
  python/sglang/srt/models/stablelm.py
  python/sglang/srt/models/torch_native_llama.py
  python/sglang/srt/models/xverse.py
  python/sglang/srt/models/xverse_moe.py
  python/sglang/srt/models/yivl.py
  python/sglang/srt/server_args.py
  python/sglang/srt/utils.py
Labels: enhancement

#2300 Fix gptq for moe layers
  python/sglang/srt/layers/quantization/__init__.py
  python/sglang/srt/models/mixtral.py
Labels: high priority

#2349 MLA prefill w/o weight absorption
  python/sglang/srt/layers/attention/__init__.py
  python/sglang/srt/layers/attention/double_sparsity_backend.py
  python/sglang/srt/layers/attention/flashinfer_backend.py
  python/sglang/srt/layers/attention/torch_native_backend.py
  python/sglang/srt/layers/attention/triton_backend.py
  python/sglang/srt/layers/attention/triton_ops/extend_attention.py
  python/sglang/srt/layers/radix_attention.py
  python/sglang/srt/models/deepseek_v2.py
Labels: high priority

#2203 MoE Expert Parallel Impl
  .github/workflows/pr-test.yml
  python/sglang/srt/layers/ep_moe/__init__.py
  python/sglang/srt/layers/ep_moe/kernels.py
  python/sglang/srt/layers/ep_moe/layer.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/models/deepseek_v2.py
  python/sglang/srt/models/mixtral.py
  python/sglang/srt/server_args.py
  test/srt/test_moe_ep.py
Labels: enhancement, high priority

#2387 fix: resolve fp8 moe issue
  python/sglang/srt/layers/quantization/__init__.py
  python/sglang/srt/layers/quantization/fp8.py
Labels: bug, high priority

#2481 sgl-kernel adapt tensorrt llm custom allreduce
  sgl-kernel/CMakeLists.txt
  sgl-kernel/Makefile
  sgl-kernel/pyproject.toml
  sgl-kernel/setup.py
  sgl-kernel/src/sgl-kernel/__init__.py
  sgl-kernel/src/sgl-kernel/csrc/trt_reduce.cc
  sgl-kernel/src/sgl-kernel/csrc/trt_reduce_internal.cu
  sgl-kernel/src/sgl-kernel/csrc/trt_reduce_internal.cuh
  sgl-kernel/src/sgl-kernel/csrc/trt_reduce_kernel.cu
  sgl-kernel/src/sgl-kernel/csrc/utils.hpp
  sgl-kernel/src/sgl-kernel/csrc/warp_reduce.cc
  sgl-kernel/src/sgl-kernel/ops/__init__.py
  sgl-kernel/tests/test_trt_reduce.py
Labels: high priority

#2467 benchmark decoding attention kernel with cudnn
  benchmark/kernels/decoding_attention_triton/sglang_triton_vs_flashinfer.py
  benchmark/kernels/decoding_attention_triton/triton_flashinfer_cudnn.py
Labels: high priority

#2475 [FIX] Update EOS from config
  python/sglang/srt/configs/model_config.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/managers/scheduler.py
Labels: await-response

#2614 Docs: Add constrained decoding tutorial
  docs/backend/constrained_decoding.ipynb
  docs/index.rst
Labels: documentation

#2609 [Docs] Add EBNF to sampling params docs
  docs/backend/openai_api_completions.ipynb
  docs/references/sampling_params.md
Labels: documentation

#2643 chore: bump v0.4.1.post2
  docker/Dockerfile.rocm
  docs/developer/setup_github_runner.md
  docs/start/install.md
  python/pyproject.toml
  python/sglang/version.py
Labels: performance
