Repository sgl-project/sglang, pull requests merged in 2024-08, with the labels that each got.

#749 Implement served_model_name to customize model id when use local mode…
  python/sglang/srt/managers/tokenizer_manager.py
  python/sglang/srt/server.py
  python/sglang/srt/server_args.py
Labels: await-response

#835 Feat: add alternative choices selection methods
  docs/en/choices_methods.md
  python/sglang/__init__.py
  python/sglang/api.py
  python/sglang/lang/backend/base_backend.py
  python/sglang/lang/backend/openai.py
  python/sglang/lang/backend/runtime_endpoint.py
  python/sglang/lang/choices.py
  python/sglang/lang/interpreter.py
  python/sglang/lang/ir.py
  test/lang/test_choices.py
Labels: high priority

#973 feat: frequency, min_new_tokens, presence, and repetition penalties
  docs/en/sampling_params.md
  python/sglang/bench_serving.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/openai_api/adapter.py
  python/sglang/srt/openai_api/protocol.py
  python/sglang/srt/sampling/penaltylib/__init__.py
  python/sglang/srt/sampling/penaltylib/orchestrator.py
  python/sglang/srt/sampling/penaltylib/penalizers/frequency_penalty.py
  python/sglang/srt/sampling/penaltylib/penalizers/min_new_tokens.py
  python/sglang/srt/sampling/penaltylib/penalizers/presence_penalty.py
  python/sglang/srt/sampling/penaltylib/penalizers/repetition_penalty.py
  python/sglang/srt/sampling_params.py
  python/sglang/test/srt/sampling/penaltylib/utils.py
  python/sglang/test/test_utils.py
  test/srt/run_suite.py
  test/srt/sampling/penaltylib/penalizers/test_frequency_penalty.py
  test/srt/sampling/penaltylib/penalizers/test_min_new_tokens.py
  test/srt/sampling/penaltylib/penalizers/test_presence_penalty.py
  test/srt/sampling/penaltylib/penalizers/test_repetition_penalty.py
  test/srt/sampling/penaltylib/test_srt_endpoint_with_penalizers.py
Labels: high priority

#959 Add skip_tokenizer_init args.
  python/sglang/srt/constrained/fsm_cache.py
  python/sglang/srt/managers/detokenizer_manager.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/managers/tokenizer_manager.py
  python/sglang/srt/managers/tp_worker.py
  python/sglang/srt/sampling_params.py
  python/sglang/srt/server.py
  python/sglang/srt/server_args.py
  python/sglang/srt/utils.py
  test/srt/test_skip_tokenizer_srt.py
Labels: high priority

#1056 [Feat] Add window attention for gemma-2
  python/sglang/bench_latency.py
  python/sglang/srt/layers/radix_attention.py
  python/sglang/srt/model_executor/forward_batch_info.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/models/gemma2.py
  python/sglang/srt/server_args.py
  python/sglang/test/long_prompt
  python/sglang/test/runners.py
  scripts/playground/reference_hf.py
  test/srt/models/test_embedding_models.py
  test/srt/models/test_generation_models.py
Labels: enhancement

#1138 Optimize MLA/GQA/MQA Triton decoding
  python/sglang/srt/layers/decode_attention.py
Labels: high priority, performance

#1204 [Feature] Support fp8 e5m2 kv cache with flashinfer
  python/sglang/srt/layers/radix_attention.py
  python/sglang/srt/mem_cache/memory_pool.py
  python/sglang/srt/model_executor/forward_batch_info.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/server_args.py
Labels: feature

#1232 feat: update GemmaRMSNorm
  python/sglang/srt/layers/layernorm.py
  python/sglang/srt/models/gemma2.py
  python/sglang/test/test_layernorm.py
Labels: enhancement
