Repository sgl-project/sglang, pull requests merged in 2025-09, with the labels that each got.

#8964 Support Multi Process Tokenizer Manager(#6555)
  python/sglang/srt/entrypoints/engine.py
  python/sglang/srt/entrypoints/http_server.py
  python/sglang/srt/managers/detokenizer_manager.py
  python/sglang/srt/managers/io_struct.py
  python/sglang/srt/managers/multi_tokenizer_mixin.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/managers/tokenizer_manager.py
  python/sglang/srt/server_args.py
  python/sglang/srt/utils.py
  test/srt/run_suite.py
  test/srt/test_multi_tokenizer.py
Labels: high priority, collaboration

#9874 [HiCacheStorage] fix abort request host memory leaks
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/mem_cache/hiradix_cache.py
Labels: ready-to-merge

#9875 [router] fix FunctionCallResponse proto, support arguments is null
  sgl-router/src/protocols/spec.rs
Labels: bug, router

#8118 [feat] Support tp mode for DeepSeek-R1-W4AFP8
  python/sglang/srt/configs/model_config.py
  python/sglang/srt/layers/moe/cutlass_w4a8_moe.py
  python/sglang/srt/layers/moe/ep_moe/layer.py
  python/sglang/srt/layers/moe/fused_moe_triton/layer.py
  python/sglang/srt/layers/quantization/w4afp8.py
  python/sglang/srt/models/deepseek_v2.py
  python/sglang/test/test_cutlass_w4a8_moe.py
  sgl-kernel/csrc/moe/cutlass_moe/w4a8/w4a8_get_group_starts.cuh
  sgl-kernel/csrc/moe/cutlass_moe/w4a8/w4a8_grouped_mm_c3x.cu
  sgl-kernel/csrc/moe/cutlass_moe/w4a8/w4a8_grouped_mm_c3x.cuh
  sgl-kernel/tests/test_cutlass_w4a8_moe_mm.py
Labels: high priority

#9902 Move multi-tokenizer event loop to better place
  python/sglang/srt/managers/detokenizer_manager.py
  python/sglang/srt/managers/multi_tokenizer_mixin.py
  python/sglang/srt/utils.py
Labels: high priority, ready-to-merge

#9879 [feat] apply deep_gemm compile_mode to skip launch
  docker/Dockerfile
  python/pyproject.toml
  python/sglang/srt/entrypoints/engine.py
  python/sglang/srt/layers/quantization/deep_gemm_wrapper/compile_utils.py
Labels: high priority

#9909 [Hicache] Generic page get bugfix
  python/sglang/srt/managers/cache_controller.py
Labels: ready-to-merge

#9996 [router] move tokenizer, reasoning, tool initialization to server
  sgl-router/src/core/worker.rs
  sgl-router/src/routers/factory.rs
  sgl-router/src/routers/grpc/pd_router.rs
  sgl-router/src/routers/grpc/router.rs
  sgl-router/src/server.rs
  sgl-router/tests/common/mod.rs
  sgl-router/tests/common/test_app.rs
  sgl-router/tests/test_pd_routing.rs
Labels: enhancement, router

#10000 [router] clean up dependency injector to use ctx
  sgl-router/src/routers/factory.rs
  sgl-router/src/routers/grpc/pd_router.rs
  sgl-router/src/routers/grpc/router.rs
  sgl-router/src/routers/http/pd_router.rs
  sgl-router/src/routers/http/router.rs
  sgl-router/src/service_discovery.rs
Labels: router, clean-up, benchmark

#9999 [router] fix grpc connection mode detection
  sgl-router/src/core/worker.rs
  sgl-router/src/lib.rs
  sgl-router/src/main.rs
Labels: bug, router, benchmark

#10003 Ensure chunked request extension length respects both rem_chunk_tokens and rem_total_tokens limits
  python/sglang/srt/managers/schedule_policy.py
Labels: ready-to-merge

#9846 feat(hicache): Add generic hicache ci e2e test and benchmark test
  python/sglang/srt/mem_cache/hicache_storage.py
  test/srt/hicache/test_hicache_storage_benchmark.py
  test/srt/hicache/test_hicache_storage_e2e.py
  test/srt/run_suite.py
Labels: high priority, ready-to-merge

#9938 fix 3fs zerocopy
  python/sglang/srt/managers/cache_controller.py
  python/sglang/srt/mem_cache/memory_pool_host.py
  python/sglang/srt/mem_cache/storage/hf3fs/storage_hf3fs.py
Labels: ready-to-merge

#9951 [Hicache] Mooncake API Fix & Test, and Improved Readme
  python/sglang/srt/managers/cache_controller.py
  python/sglang/srt/mem_cache/storage/mooncake_store/README.md
  python/sglang/srt/mem_cache/storage/mooncake_store/mooncake_store.py
  python/sglang/srt/mem_cache/storage/mooncake_store/test_mooncake_store.py
  python/sglang/srt/mem_cache/storage/mooncake_store/unit_test.py
Labels: ready-to-merge

#8677 Fix accuracy drop of dsv3 run in dp enablement
  python/sglang/srt/layers/attention/aiter_backend.py
  python/sglang/srt/models/deepseek_v2.py
Labels: high priority, ready-to-merge

#9964 Simplify `Router` arguments passing and build it in docker image
  docker/Dockerfile
  docs/advanced_features/pd_disaggregation.md
  docs/advanced_features/router.md
  docs/references/multi_node_deployment/lws_pd/lws-examples/lb.yaml
  docs/references/multi_node_deployment/lws_pd/lws_pd_deploy.md
  python/sglang/srt/disaggregation/launch_lb.py
  python/sglang/srt/disaggregation/mini_lb.py
  python/sglang/srt/disaggregation/utils.py
  python/sglang/srt/entrypoints/http_server.py
  python/sglang/srt/server_args.py
  python/sglang/test/test_utils.py
  scripts/ci/ci_install_dependency.sh
  sgl-router/py_src/sglang_router/__init__.py
  sgl-router/py_src/sglang_router/launch_router.py
  sgl-router/py_src/sglang_router/mini_lb.py
  sgl-router/py_src/sglang_router/router.py
  sgl-router/py_src/sglang_router/router_args.py
  sgl-router/py_test/test_launch_router.py
  sgl-router/py_test/test_launch_server.py
  sgl-router/pyproject.toml
  sgl-router/setup.py
  test/srt/test_disaggregation.py
  test/srt/test_disaggregation_different_tp.py
  test/srt/test_disaggregation_pp.py
Labels: documentation, high priority, router, clean-up

#10055 [router] fix release workflow to include protobuf
  .github/workflows/release-pypi-router.yml
Labels: bug, router

#9934 Fix typo in scheduler
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/managers/scheduler_profiler_mixin.py
Labels: ready-to-merge

#10043 [router] add py binding unit tests to coverage 80%
  .github/workflows/pr-test-rust.yml
  sgl-router/.coveragerc
  sgl-router/py_test/conftest.py
  sgl-router/py_test/unit/__init__.py
  sgl-router/py_test/unit/test_arg_parser.py
  sgl-router/py_test/unit/test_router_config.py
  sgl-router/py_test/unit/test_startup_sequence.py
  sgl-router/py_test/unit/test_validation.py
  sgl-router/pyproject.toml
  sgl-router/pytest.ini
Labels: router, ci

#10079 [router] add rust cache for rust unit test
  .github/workflows/pr-test-rust.yml
  sgl-router/README.md
Labels: router, ci

#9884 [Bug Fix] Fix Glm4vVisionBlock norm
  python/sglang/srt/models/glm4v.py
  python/sglang/srt/models/qwen2_5_vl.py
Labels: high priority, ready-to-merge

#9965 Add storage read/write bandwidth logs to monitor kvcache performance
  python/sglang/srt/managers/cache_controller.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/mem_cache/hicache_storage.py
  python/sglang/srt/mem_cache/hiradix_cache.py
  python/sglang/srt/mem_cache/storage/hf3fs/storage_hf3fs.py
  python/sglang/srt/metrics/collector.py
Labels: ready-to-merge

#10047 support Llama4 with non uniformed intermediate size across layers for…
  python/sglang/srt/lora/mem_pool.py
  python/sglang/srt/lora/utils.py
  python/sglang/srt/models/gemma3n_mm.py
  python/sglang/srt/models/llama4.py
  python/sglang/srt/models/mllama4.py
  test/srt/lora/test_lora_llama4.py
  test/srt/run_suite.py
Labels: high priority

#10057 [router] move to mcp sdk instead
  sgl-router/Cargo.toml
  sgl-router/src/mcp/client_manager.rs
  sgl-router/src/mcp/config.rs
  sgl-router/src/mcp/error.rs
  sgl-router/src/mcp/mod.rs
  sgl-router/src/mcp/oauth.rs
  sgl-router/src/mcp/tool_server.rs
  sgl-router/src/mcp/types.rs
  sgl-router/tests/common/mock_mcp_server.rs
  sgl-router/tests/mcp_test.rs
Labels: enhancement, router

#10039 [HiStorage] Remove delete and clear as necessary methods
  python/sglang/srt/mem_cache/hicache_storage.py
  python/sglang/srt/mem_cache/storage/mooncake_store/mooncake_store.py
Labels: ready-to-merge

#10029 Modify ci workflow for auto-partitioning in 2-GPU backend tests
  .github/workflows/pr-test.yml
Labels: ready-to-merge

#9834 perf: Avoid unnecessary data type conversions for DeepSeek-V3 on Blackwell
  python/sglang/srt/entrypoints/engine.py
  python/sglang/srt/models/deepseek_v2.py
Labels: high priority

#10102 [router] Improve the e2e tests
  .github/workflows/pr-test-rust.yml
  sgl-router/py_test/e2e/conftest.py
  sgl-router/py_test/e2e/test_e2e_router.py
  sgl-router/py_test/fixtures/mock_worker.py
  sgl-router/py_test/integration/test_payload_size.py
  sgl-router/py_test/run_suite.py
  sgl-router/py_test/test_launch_router.py
  sgl-router/py_test/test_launch_server.py
Labels: router, ci

#9741 [Feature] LMCache Connector Integration
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/mem_cache/memory_pool.py
  python/sglang/srt/mem_cache/storage/lmcache/README.md
  python/sglang/srt/mem_cache/storage/lmcache/example_config.yaml
  python/sglang/srt/mem_cache/storage/lmcache/lmc_radix_cache.py
  python/sglang/srt/mem_cache/storage/lmcache/unit_test.py
  python/sglang/srt/server_args.py
Labels: ready-to-merge

#9969 CUTLASS fp8 blockwise gemm support of sm120
  sgl-kernel/csrc/gemm/fp8_blockwise_gemm_kernel.cu
Labels: high priority

#10056 Fix cuda graph mode in flashinfer attn backend
  python/sglang/srt/layers/attention/flashinfer_backend.py
Labels: high priority

#9971 [BUG FIX] add fail check when get fail in case wait complete block
  python/sglang/srt/managers/cache_controller.py
  python/sglang/srt/mem_cache/hiradix_cache.py
Labels: high priority, ready-to-merge

#10090 Standalone speculative decoding
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/model_executor/cuda_graph_runner.py
  python/sglang/srt/server_args.py
  python/sglang/srt/speculative/eagle_draft_extend_cuda_graph_runner.py
  python/sglang/srt/speculative/eagle_worker.py
  python/sglang/srt/speculative/spec_info.py
  python/sglang/srt/speculative/standalone_worker.py
  python/sglang/test/test_utils.py
  test/srt/run_suite.py
  test/srt/test_standalone_speculative_decoding.py
Labels: enhancement, high priority, speculative-decoding

#9981 Add speculator attention backend switch
  python/sglang/srt/layers/attention/hybrid_attn_backend.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/models/deepseek_v2.py
  python/sglang/srt/server_args.py
  python/sglang/srt/speculative/eagle_worker.py
  test/srt/test_hybrid_attn_backend.py
Labels: high priority

#10131 [Hicache]: Add E2E CI For 3FS-KVStore
  python/sglang/srt/mem_cache/storage/hf3fs/hf3fs_client.py
  python/sglang/srt/mem_cache/storage/hf3fs/hf3fs_usrbio_client.py
  python/sglang/srt/mem_cache/storage/hf3fs/storage_hf3fs.py
  test/srt/hicache/test_hicache_storage_3fs_backend.py
  test/srt/hicache/test_hicache_storage_benchmark.py
  test/srt/hicache/test_hicache_storage_file_backend.py
  test/srt/run_suite.py
Labels: ready-to-merge

#4422 Updated Nvidia Jetson docs
  docs/platforms/nvidia_jetson.md
Labels: inactive

#10188 feat: use sgl-kernel cu129 as default
  .github/workflows/pr-test-sgl-kernel.yml
  .github/workflows/release-whl-kernel.yml
  sgl-kernel/rename_wheels.sh
  sgl-kernel/tests/test_cutlass_w4a8_moe_mm.py
Labels: high priority

#10127 [Refactor] Remove Hicache Load & Write threads
  python/sglang/srt/managers/cache_controller.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/managers/tp_worker.py
  python/sglang/srt/managers/tp_worker_overlap_thread.py
  python/sglang/srt/mem_cache/hiradix_cache.py
  python/sglang/srt/mem_cache/memory_pool.py
  python/sglang/srt/mem_cache/memory_pool_host.py
  python/sglang/srt/mem_cache/radix_cache.py
  python/sglang/srt/mem_cache/swa_radix_cache.py
Labels: high priority

#9300 [CPU] Add gelu_and_mul kernel in sgl-kernel and add ut
  python/sglang/srt/layers/activation.py
  sgl-kernel/csrc/cpu/activation.cpp
  sgl-kernel/csrc/cpu/torch_extension_cpu.cpp
  test/srt/cpu/test_activation.py
  test/srt/cpu/utils.py
Labels: ready-to-merge, intel, cpu

#10208 chore: bump v0.3.9 sgl-kernel
  .github/workflows/pr-test-pd-router.yml
  sgl-kernel/pyproject.toml
  sgl-kernel/pyproject_cpu.toml
  sgl-kernel/pyproject_rocm.toml
  sgl-kernel/python/sgl_kernel/version.py
Labels: high priority

#10213 [HiCache] feat: add mooncake backend extra config
  python/sglang/srt/mem_cache/storage/mooncake_store/README.md
  python/sglang/srt/mem_cache/storage/mooncake_store/mooncake_store.py
Labels: ready-to-merge

#10256 [router][ci] Add PD router mmlu test
  sgl-router/py_test/e2e/test_pd_router.py
  sgl-router/py_test/e2e/test_regular_router.py
Labels: router, ci

#10184 Feat: support disable tool parser
  python/sglang/srt/entrypoints/openai/serving_chat.py
  test/srt/openai_server/basic/test_serving_chat.py
Labels: high priority

#10397 fix: tool parse in large streaming chunk beginning with normal content
  python/sglang/srt/function_call/base_format_detector.py
Labels: high priority

#9382 [Performance] Dynamic Batch Tokenizer
  python/sglang/srt/managers/async_dynamic_batch_tokenizer.py
  python/sglang/srt/managers/tokenizer_manager.py
  python/sglang/srt/server_args.py
  test/srt/test_async_dynamic_batch_tokenizer.py
  test/srt/test_tokenizer_manager.py
Labels: high priority

#10429 [Fix] MoE: fix w8a8_fp8 MoE and add tests to cover this code path
  python/sglang/srt/layers/quantization/w8a8_fp8.py
  test/srt/quant/test_w8a8_quantization.py
Labels: high priority

#10437 Tiny fix wrong naming
  python/sglang/srt/layers/moe/utils.py
Labels: run-ci

#10445 Fix label PR
  .github/workflows/label-pr.yml
Labels: run-ci

#10449 [router] fix service discovery and mcp ut
  sgl-router/src/core/worker.rs
  sgl-router/src/routers/http/router.rs
  sgl-router/src/service_discovery.rs
  sgl-router/tests/mcp_test.rs
Labels: router, ci

#10458 Update GITHUB_TOKEN secret for documentation push
  .github/workflows/release-docs.yml
Labels: run-ci

#10440 Fix trtllm_moe wrong correction bias
  python/sglang/srt/layers/moe/topk.py
  python/sglang/srt/models/deepseek_v2.py
Labels: run-ci

#10465 feat: support pip install sglang
  .github/workflows/pr-test-xeon.yml
  docker/Dockerfile.npu
  docker/Dockerfile.rocm
  docker/Dockerfile.xeon
  python/pyproject.toml
  python/pyproject_other.toml
  scripts/ci/amd_ci_install_dependency.sh
  scripts/ci/npu_ci_install_dependency.sh
Labels: high priority, collaboration, run-ci

#8710 [PD metrics] Add latency Histogram metrics of each stage for generate requests
  python/sglang/srt/disaggregation/decode.py
  python/sglang/srt/disaggregation/prefill.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/metrics/collector.py
  python/sglang/srt/metrics/func_timer.py
  python/sglang/srt/metrics/utils.py
Labels: high priority

#9657 fix: gpt-oss streaming dropping normal content when tools are provided but not used
  python/sglang/srt/function_call/gpt_oss_detector.py
Labels: high priority

#10475 Fix `--dataset-path` in `bench_one_batch_server`
  python/sglang/bench_one_batch_server.py
  python/sglang/profiler.py
Labels: run-ci

#10484 [Auto Sync] Update registry.py (20250915)
  python/sglang/srt/models/registry.py
Labels: run-ci

#10434 Temporay work-around for rocm 7.0.0 alpha with enabling data-parallel issue
  python/sglang/srt/layers/dp_attention.py
Labels: run-ci

#10203 [Hicache] Evaluate Per-Round Metrics in Multiturn Bench
  benchmark/hicache/bench_multiturn.py
  python/sglang/srt/mem_cache/storage/mooncake_store/README.md
Labels: ready-to-merge

#10487 [router] add router db connector for responses api
  sgl-router/Cargo.toml
  sgl-router/src/config/types.rs
  sgl-router/src/data_connector/mod.rs
  sgl-router/src/data_connector/response_memory_store.rs
  sgl-router/src/data_connector/response_noop_store.rs
  sgl-router/src/data_connector/responses.rs
  sgl-router/src/lib.rs
  sgl-router/src/main.rs
  sgl-router/src/server.rs
  sgl-router/src/service_discovery.rs
  sgl-router/tests/api_endpoints_test.rs
  sgl-router/tests/request_formats_test.rs
  sgl-router/tests/streaming_tests.rs
  sgl-router/tests/test_pd_routing.rs
Labels: feature, router, run-ci

#10499 [router] fix router manager and router init in server
  sgl-router/src/routers/router_manager.rs
  sgl-router/src/server.rs
  sgl-router/tests/common/test_app.rs
Labels: run-ci

#10507 Minor fix lint introduced by #10466
  python/sglang/srt/models/qwen3_next.py
Labels: run-ci

#10500 chore: upgrade sgl-kernel 0.3.10
  docker/Dockerfile
  docker/Dockerfile.gb200
  python/pyproject.toml
  python/pyproject_other.toml
  python/sglang/srt/entrypoints/engine.py
Labels: run-ci

#10530 skip vision_model for lora
  python/sglang/srt/lora/lora_manager.py
Labels: run-ci

#10474 [2/2] Speed up trtllm_mla attention backend
  python/sglang/srt/layers/attention/trtllm_mla_backend.py
Labels: high priority, run-ci

#9928 support using fa4 on deepseek on blackwell
  python/sglang/srt/entrypoints/engine.py
  python/sglang/srt/layers/attention/flashattention_backend.py
  python/sglang/srt/layers/attention/hybrid_attn_backend.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/models/deepseek_v2.py
  python/sglang/srt/server_args.py
  sgl-kernel/python/sgl_kernel/_fa4_interface.py
Labels: high priority, run-ci

#10494 [Auto Sync] Update scheduler_profiler_mixin.py, rpd_utils.p... (20250916)
  python/sglang/srt/managers/scheduler_profiler_mixin.py
  python/sglang/srt/rpd_utils.py
  python/sglang/srt/utils.py
  python/sglang/srt/warmup.py
Labels: run-ci

#8746 feat: add priority based scheduling with priority based request acceptance and preemption
  python/sglang/srt/entrypoints/openai/protocol.py
  python/sglang/srt/entrypoints/openai/serving_chat.py
  python/sglang/srt/entrypoints/openai/serving_completions.py
  python/sglang/srt/entrypoints/openai/serving_embedding.py
  python/sglang/srt/managers/io_struct.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/managers/schedule_policy.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/managers/tokenizer_manager.py
  python/sglang/srt/managers/tp_worker.py
  python/sglang/srt/server_args.py
  python/sglang/test/test_utils.py
  test/srt/run_suite.py
  test/srt/test_priority_scheduling.py
  test/srt/test_request_queue_validation.py
  test/srt/test_schedule_policy.py
Labels: run-ci

#10459 enable prefix cache with dp
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/models/deepseek_v2.py
Labels: high priority, run-ci

#10523 [bugfix]hicache bench_long_context.py run failed
  benchmark/hicache/bench_long_context.py
Labels: run-ci

#10171 [HiCache] Add tests for hicache storage mooncake backend
  scripts/ci/ci_install_dependency.sh
  test/srt/hicache/test_hicache_storage_mooncake_backend.py
  test/srt/run_suite.py
Labels: high priority, run-ci

#10584 fix: update dsv3 fp4 ut
  test/srt/test_deepseek_v3_fp4_4gpu.py
Labels: run-ci

#9987 vlm: remove redundant d2h movement of mm feature tensors
  python/sglang/srt/multimodal/processors/base_processor.py
  python/sglang/srt/server_args.py
Labels: run-ci

#10526 Enable trtllm mla prefix extend
  python/sglang/srt/layers/attention/trtllm_mla_backend.py
Labels: ready-to-merge, run-ci

#10190 [HICache] introduce evict policy
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/mem_cache/evict_policy.py
  python/sglang/srt/mem_cache/hiradix_cache.py
  python/sglang/srt/mem_cache/radix_cache.py
  python/sglang/srt/mem_cache/storage/lmcache/lmc_radix_cache.py
  python/sglang/srt/server_args.py
Labels: ready-to-merge, run-ci

#10563 aiter v0.1.5.post2
  docker/Dockerfile.rocm
Labels: ready-to-merge, run-ci

#10273 [PD] Improve disaggregation common backend and refactor mooncake backend
  python/sglang/srt/disaggregation/common/conn.py
  python/sglang/srt/disaggregation/mooncake/conn.py
  python/sglang/srt/disaggregation/nixl/conn.py
Labels: high priority, run-ci

#10604 Scale kkt after reduction
  python/sglang/srt/layers/attention/fla/chunk_scaled_dot_kkt.py
Labels: run-ci

#10222 Feat/add heartbeat mechanism for nixl conn
  python/sglang/srt/disaggregation/nixl/conn.py
Labels: ready-to-merge, run-ci

#10622 support qwen3-next-fp8 deepep
  python/sglang/srt/models/qwen2_moe.py
  python/sglang/srt/models/qwen3_next.py
Labels: run-ci

#10595 [Performance] qwen3-next improve causal conv1d in prefill phase
  python/sglang/srt/layers/attention/hybrid_linear_attn_backend.py
Labels: high priority, run-ci

#10579 Fix bias handling in TritonMoeQuantInfo within quantization/mxfp4.py
  python/sglang/srt/layers/quantization/mxfp4.py
Labels: ready-to-merge, run-ci

#10628 [router] refactor worker to builder pattern 1/n
  sgl-router/src/core/mod.rs
  sgl-router/src/core/worker.rs
  sgl-router/src/core/worker_builder.rs
  sgl-router/src/core/worker_registry.rs
Labels: enhancement, router, run-ci

#9873 [Feature] Speculative decoding support lookahead
  python/pyproject.toml
  python/sglang/bench_serving.py
  python/sglang/srt/layers/attention/flashinfer_backend.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/managers/tokenizer_manager.py
  python/sglang/srt/model_executor/cuda_graph_runner.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/server_args.py
  python/sglang/srt/speculative/cpp_lookahead/.clang-format
  python/sglang/srt/speculative/cpp_lookahead/lookahead.cpp
  python/sglang/srt/speculative/cpp_lookahead/lookahead.h
  python/sglang/srt/speculative/cpp_lookahead/lookahead_cache.py
  python/sglang/srt/speculative/cpp_lookahead/lookahead_cache_binding.cpp
  python/sglang/srt/speculative/cpp_lookahead/param.h
  python/sglang/srt/speculative/cpp_lookahead/queue.h
  python/sglang/srt/speculative/eagle_worker.py
  python/sglang/srt/speculative/lookahead_utils.py
  python/sglang/srt/speculative/lookahead_worker.py
  python/sglang/srt/speculative/spec_info.py
  python/sglang/test/test_utils.py
  sgl-kernel/CMakeLists.txt
  sgl-kernel/csrc/common_extension.cc
  sgl-kernel/csrc/speculative/lookahead_utils.cu
  sgl-kernel/include/sgl_kernel_ops.h
  sgl-kernel/python/sgl_kernel/__init__.py
  sgl-kernel/python/sgl_kernel/speculative.py
  sgl-kernel/tests/speculative/test_lookahead_utils.py
  test/srt/run_suite.py
  test/srt/test_lookahead_speculative_decoding.py
Labels: enhancement, high priority, speculative-decoding, run-ci

#10553 [Performance] Qwen3-Next: replace arange to cached query_start_loc_li…
  python/sglang/srt/layers/attention/hybrid_linear_attn_backend.py
Labels: high priority, run-ci

#10586 [Performance] Qwen3-Next: speed up update_mamba_state_after_mtp_verify by 10x; e2e up to 3.54% faster
  python/sglang/srt/layers/attention/hybrid_linear_attn_backend.py
Labels: high priority, run-ci

#10632 model support: Sarashina2VisionForCausalLM
  examples/chat_template/vision_template_sarashina_vl.jinja
  python/sglang/srt/configs/model_config.py
  python/sglang/srt/hf_transformers_utils.py
  python/sglang/srt/models/llama.py
  python/sglang/srt/models/sarashina2_vision.py
  python/sglang/srt/multimodal/processors/sarashina2_vision.py
Labels: run-ci

#10633 [router] refactor worker to builder pattern 2/n
  sgl-router/src/core/worker.rs
Labels: enhancement, router, run-ci

#10081 [Feature]feat(get_ip): unify get_ip_xxx
  python/sglang/srt/disaggregation/ascend/conn.py
  python/sglang/srt/distributed/device_communicators/shm_broadcast.py
  python/sglang/srt/utils.py
Labels: high priority, run-ci

#10321 [sgl-kernel] Support moe_sum_reduce cuda kernel
  benchmark/kernels/fused_moe_triton/benchmark_sum_scale.py
  sgl-kernel/CMakeLists.txt
  sgl-kernel/csrc/common_extension.cc
  sgl-kernel/csrc/moe/moe_sum_reduce.cu
  sgl-kernel/include/sgl_kernel_ops.h
  sgl-kernel/python/sgl_kernel/__init__.py
  sgl-kernel/python/sgl_kernel/moe.py
Labels: run-ci

#10650 [router] refactor worker to builder pattern 4/n
  sgl-router/src/core/mod.rs
  sgl-router/src/core/worker.rs
  sgl-router/src/core/worker_builder.rs
  sgl-router/src/routers/http/pd_router.rs
Labels: router, run-ci

#10634 Fix fast decode plan for flashinfer v0.4.0rc1 and upgrade sgl-kernel 0.3.11
  docker/Dockerfile
  python/pyproject.toml
  python/pyproject_other.toml
  python/sglang/srt/entrypoints/engine.py
  python/sglang/srt/layers/attention/flashinfer_backend.py
Labels: run-ci

#10670 [Auto Sync] Update .clang-format (20250919)
  python/sglang/srt/speculative/cpp_lookahead/.clang-format
Labels: run-ci

#10648 limit sgl-kernel causal conv1d to cuda only
  python/sglang/srt/layers/attention/hybrid_linear_attn_backend.py
Labels: high priority, run-ci

#10679 [Auto Sync] Update model_runner.py (20250920)
  python/sglang/srt/model_executor/model_runner.py
Labels: run-ci

#10677 [router] refactor router and worker management 2.5/n
  sgl-router/src/policies/registry.rs
  sgl-router/src/routers/http/pd_router.rs
  sgl-router/src/routers/http/router.rs
  sgl-router/src/routers/worker_initializer.rs
  sgl-router/src/server.rs
  sgl-router/tests/api_endpoints_test.rs
  sgl-router/tests/request_formats_test.rs
  sgl-router/tests/streaming_tests.rs
Labels: router, run-ci

#10645 [1/2] Support deterministic inference with flashinfer attention backend
  python/sglang/environ.py
  python/sglang/srt/layers/attention/flashinfer_backend.py
  python/sglang/srt/layers/layernorm.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/managers/schedule_policy.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/sampling/sampling_batch_info.py
  python/sglang/srt/server_args.py
  python/sglang/test/test_deterministic.py
Labels: high priority, ready-to-merge, run-ci

#10681 chore: upgrade mooncake 0.3.6.post1 to fix gb200 dockerfile
  .github/workflows/pr-test-pd-router.yml
  docker/Dockerfile
  docker/Dockerfile.gb200
  scripts/ci/ci_install_dependency.sh
Labels: run-ci

#10680 [Performance] Qwen3-Next: optimize causal_conv1d_fn triton kernel - up to 9% faster
  python/sglang/srt/layers/attention/hybrid_linear_attn_backend.py
  python/sglang/srt/layers/attention/mamba/causal_conv1d.py
  python/sglang/srt/layers/attention/mamba/causal_conv1d_triton.py
Labels: run-ci

#10684 Replace os.environ in layernorm.py
  python/sglang/srt/layers/layernorm.py
Labels: run-ci

#10673 fix(disagg): fix sending KV cache in case of MLA for NIXL backend
  python/sglang/srt/disaggregation/nixl/conn.py
Labels: high priority, ready-to-merge, run-ci

#10686 fix: remove awq_dequantize deps
  python/sglang/srt/models/deepseek_v2.py
  python/sglang/srt/models/longcat_flash.py
  python/sglang/srt/models/longcat_flash_nextn.py
Labels: run-ci

#10688 [Auto Sync] Update modelopt_quant.py (20250920)
  python/sglang/srt/layers/quantization/modelopt_quant.py
Labels: run-ci

#10651 [Feature] Support deterministic inference with FA3 backend
  python/sglang/srt/layers/attention/flashattention_backend.py
  python/sglang/srt/server_args.py
Labels: run-ci

#10697 Super tiny fix extra logs
  python/sglang/srt/server_args.py
Labels: run-ci

#10317 Refactors radix cache for extra key support
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/managers/schedule_policy.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/mem_cache/base_prefix_cache.py
  python/sglang/srt/mem_cache/hiradix_cache.py
  python/sglang/srt/mem_cache/lora_radix_cache.py
  python/sglang/srt/mem_cache/radix_cache.py
  python/sglang/srt/mem_cache/radix_cache_cpp.py
  python/sglang/srt/mem_cache/storage/lmcache/lmc_radix_cache.py
  python/sglang/srt/mem_cache/swa_radix_cache.py
  test/srt/run_suite.py
  test/srt/test_radix_cache_unit.py
  test/srt/test_swa_unittest.py
Labels: high priority, lora, ready-to-merge, run-ci

#10385 [Router]fix: fix get_load missing api_key
  sgl-router/py_test/e2e/test_regular_router.py
  sgl-router/py_test/fixtures/mock_worker.py
  sgl-router/src/core/worker.rs
  sgl-router/src/core/worker_builder.rs
  sgl-router/src/core/worker_registry.rs
  sgl-router/src/policies/cache_aware.rs
  sgl-router/src/policies/mod.rs
  sgl-router/src/protocols/worker_spec.rs
  sgl-router/src/routers/grpc/pd_router.rs
  sgl-router/src/routers/grpc/router.rs
  sgl-router/src/routers/http/openai_router.rs
  sgl-router/src/routers/http/pd_router.rs
  sgl-router/src/routers/http/router.rs
  sgl-router/src/routers/mod.rs
  sgl-router/src/routers/router_manager.rs
  sgl-router/src/routers/worker_initializer.rs
  sgl-router/src/server.rs
  sgl-router/src/service_discovery.rs
  sgl-router/tests/cache_aware_backward_compat_test.rs
  sgl-router/tests/policy_registry_integration.rs
  sgl-router/tests/test_pd_routing.rs
Labels: router, run-ci

#10694 Support deterministic inference with triton backend
  python/sglang/environ.py
  python/sglang/srt/layers/attention/triton_backend.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/server_args.py
Labels: run-ci

#10678 [2/2] Support deterministic inference for temperature > 0
  python/sglang/srt/layers/sampler.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/managers/tp_worker.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/sampling/sampling_batch_info.py
  python/sglang/srt/sampling/sampling_params.py
  python/sglang/srt/server_args.py
  python/sglang/test/test_deterministic.py
  sgl-router/benches/request_processing.rs
  sgl-router/src/protocols/spec.rs
  sgl-router/src/routers/http/openai_router.rs
  sgl-router/tests/test_openai_routing.rs
Labels: run-ci

#9849 EPLB: prefer to use physical experts in the same node
  python/sglang/srt/eplb/expert_location.py
Labels: high priority, run-ci

#10728 Fix flaky logprobs test
  test/srt/test_logprobs.py
Labels: run-ci

#10754 bugfix: Fix `get_worker_urls_for_model` in http/router.rs
  sgl-router/src/routers/http/router.rs
Labels: router, run-ci

#10757 [router] update ci so only execute benchmarks when labels are added
  .github/workflows/pr-benchmark-rust.yml
  .github/workflows/pr-test-pd-router.yml
Labels: run-ci

#10732 chore: bump sgl-kernel v0.3.12
  sgl-kernel/pyproject.toml
  sgl-kernel/pyproject_cpu.toml
  sgl-kernel/pyproject_rocm.toml
  sgl-kernel/python/sgl_kernel/version.py
Labels: high priority, run-ci

#10755 [Generative Score API] Added test_scores_api.py to github CICD to run per commit
  test/srt/run_suite.py
Labels: run-ci

#10281 Enables TRT-LLM backend to be used for target_verify
  python/sglang/srt/layers/attention/trtllm_mla_backend.py
Labels: high priority, run-ci

#10541 fix: kv events with tp > 1
  python/sglang/srt/managers/scheduler.py
Labels: high priority, run-ci

#10762 [Auto Sync] Update flashattention_backend.py (20250922)
  python/sglang/srt/layers/attention/flashattention_backend.py
Labels: run-ci

#10828 Revert "[fix][pd-disag]no need set next batch sampling info done in prefill"
  python/sglang/srt/managers/scheduler.py
Labels: run-ci

#10718 feat: add cache_salt support to request
  python/sglang/srt/entrypoints/openai/protocol.py
  python/sglang/srt/entrypoints/openai/serving_base.py
  python/sglang/srt/entrypoints/openai/serving_chat.py
  python/sglang/srt/entrypoints/openai/serving_completions.py
  python/sglang/srt/entrypoints/openai/serving_responses.py
  python/sglang/srt/managers/io_struct.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/managers/tokenizer_manager.py
  test/srt/openai_server/features/test_cache_report.py
Labels: ready-to-merge, run-ci

#10860 fix bailing_moe with enable_dp_attention
  python/sglang/srt/models/bailing_moe.py
Labels: run-ci

#10876 [router] consolidate health endpoints and flush cache
  sgl-router/src/core/worker_manager.rs
  sgl-router/src/protocols/worker_spec.rs
  sgl-router/src/routers/grpc/pd_router.rs
  sgl-router/src/routers/grpc/router.rs
  sgl-router/src/routers/http/openai_router.rs
  sgl-router/src/routers/http/pd_router.rs
  sgl-router/src/routers/http/router.rs
  sgl-router/src/routers/mod.rs
  sgl-router/src/routers/router_manager.rs
  sgl-router/src/server.rs
  sgl-router/tests/api_endpoints_test.rs
  sgl-router/tests/test_openai_routing.rs
Labels: router, run-ci

#10861 Restruct sgl-kernel benchmark
  benchmark/kernels/deepseek/benchmark_deepgemm_fp8_gemm.py
  benchmark/kernels/deepseek/benchmark_deepgemm_fp8_group_gemm.py
  benchmark/kernels/rmsnorm/benchmark_rmsnorm.py
  python/sglang/srt/layers/quantization/w4afp8.py
  python/sglang/test/test_block_fp8.py
  sgl-kernel/README.md
  sgl-kernel/benchmark/bench_activation.py
  sgl-kernel/benchmark/bench_awq_dequant.py
  sgl-kernel/benchmark/bench_cutlass_mla.py
  sgl-kernel/benchmark/bench_dsv3_fused_a_gemm.py
  sgl-kernel/benchmark/bench_dsv3_router_gemm.py
  sgl-kernel/benchmark/bench_fp4_gemm.py
  sgl-kernel/benchmark/bench_fp8_blockwise_gemm.py
  sgl-kernel/benchmark/bench_fp8_gemm.py
  sgl-kernel/benchmark/bench_int8_gemm.py
  sgl-kernel/benchmark/bench_lightning_attention_decode.py
  sgl-kernel/benchmark/bench_moe_align_block_size.py
  sgl-kernel/benchmark/bench_moe_ep_post_reorder.py
  sgl-kernel/benchmark/bench_moe_fused_gate.py
  sgl-kernel/benchmark/bench_moe_topk_softmax.py
  sgl-kernel/benchmark/bench_nvfp4_scaled_gemm.py
  sgl-kernel/benchmark/bench_per_tensor_quant_fp8.py
  sgl-kernel/benchmark/bench_per_token_quant_fp8.py
  sgl-kernel/benchmark/bench_qserve_w4a8_gemm.py
  sgl-kernel/benchmark/bench_rmsnorm.py
  sgl-kernel/benchmark/bench_top_k_top_p_sampling.py
  sgl-kernel/tests/test_norm.py
Labels: run-ci

#10778 [HiCache] Cleaning the deprecated host memory state
  python/sglang/srt/managers/cache_controller.py
  python/sglang/srt/mem_cache/hiradix_cache.py
  python/sglang/srt/mem_cache/memory_pool_host.py
Labels: run-ci

#10926 [router] change log level to warning
  sgl-router/py_test/e2e/conftest.py
Labels: run-ci

#10932 Remove pull_request trigger from CI monitor workflow
  .github/workflows/ci-monitor.yml
Labels: run-ci

#10929 router: Support parallel sampling num > 1 in grpc_server and non-stream handling
  python/sglang/srt/entrypoints/grpc_request_manager.py
  python/sglang/srt/entrypoints/grpc_server.py
  python/sglang/srt/grpc/sglang_scheduler.proto
  python/sglang/srt/grpc/sglang_scheduler_pb2.py
  python/sglang/srt/grpc/sglang_scheduler_pb2.pyi
  sgl-router/src/grpc_client/sglang_scheduler.rs
  sgl-router/src/proto/sglang_scheduler.proto
  sgl-router/src/routers/grpc/router.rs
Labels: router, run-ci

#10192 [PD-HiCache]: Support Async Offloading KVCache In Decode Side
  python/sglang/srt/disaggregation/decode.py
  python/sglang/srt/disaggregation/decode_kvcache_offload_manager.py
  python/sglang/srt/disaggregation/utils.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/managers/scheduler_output_processor_mixin.py
  python/sglang/srt/server_args.py
  test/srt/hicache/test_disaggregation_hicache.py
Labels: high priority, hicache, run-ci

#10927 [router] update owners for router components
  .github/CODEOWNERS
Labels: run-ci

#10749 Fuse write kv buffer into rope for qwen3 moe & bailing moe
  python/sglang/srt/models/bailing_moe.py
  python/sglang/srt/models/gpt_oss.py
  python/sglang/srt/models/qwen3_moe.py
  python/sglang/srt/models/utils.py
Labels: run-ci

#10960 [router] add move grpc worker management from router to worker manager
  sgl-router/src/core/worker_manager.rs
  sgl-router/src/routers/factory.rs
  sgl-router/src/routers/grpc/pd_router.rs
  sgl-router/src/routers/grpc/router.rs
Labels: router, run-ci

#10963 [router] grpc router regular mode import cleanup
  sgl-router/src/routers/grpc/router.rs
Labels: router, run-ci

#10967 [router] remove old/oudated/useless comments
  sgl-router/src/lib.rs
  sgl-router/src/logging.rs
  sgl-router/src/main.rs
  sgl-router/src/metrics.rs
  sgl-router/src/service_discovery.rs
Labels: router, run-ci

#10968 [router] remove old/oudated/useless comments across code base
  sgl-router/src/config/types.rs
  sgl-router/src/config/validation.rs
  sgl-router/src/core/circuit_breaker.rs
  sgl-router/src/core/worker.rs
  sgl-router/src/core/worker_manager.rs
  sgl-router/src/core/worker_registry.rs
  sgl-router/src/data_connector/response_memory_store.rs
  sgl-router/src/grpc_client/sglang_scheduler.rs
  sgl-router/src/mcp/client_manager.rs
  sgl-router/src/metrics.rs
  sgl-router/src/middleware.rs
  sgl-router/src/policies/factory.rs
  sgl-router/src/policies/random.rs
  sgl-router/src/protocols/spec.rs
  sgl-router/src/protocols/validation.rs
  sgl-router/src/reasoning_parser/factory.rs
  sgl-router/src/reasoning_parser/parsers/kimi.rs
  sgl-router/src/routers/grpc/router.rs
  sgl-router/src/routers/http/pd_router.rs
  sgl-router/src/service_discovery.rs
  sgl-router/src/tokenizer/factory.rs
  sgl-router/src/tokenizer/sequence.rs
  sgl-router/src/tokenizer/stop.rs
  sgl-router/src/tokenizer/tests.rs
  sgl-router/src/tokenizer/tiktoken.rs
  sgl-router/src/tool_parser/parsers/llama_parser.rs
  sgl-router/src/tool_parser/parsers/pythonic_parser.rs
  sgl-router/src/tool_parser/tests.rs
  sgl-router/src/tree.rs
  sgl-router/tests/api_endpoints_test.rs
  sgl-router/tests/cache_aware_backward_compat_test.rs
  sgl-router/tests/chat_template_integration.rs
  sgl-router/tests/chat_template_loading.rs
  sgl-router/tests/common/mock_mcp_server.rs
  sgl-router/tests/common/mod.rs
  sgl-router/tests/mcp_test.rs
  sgl-router/tests/policy_registry_integration.rs
  sgl-router/tests/request_formats_test.rs
  sgl-router/tests/responses_api_test.rs
  sgl-router/tests/streaming_tests.rs
  sgl-router/tests/test_openai_routing.rs
  sgl-router/tests/test_pd_routing.rs
  sgl-router/tests/tokenizer_integration.rs
  sgl-router/tests/tool_parser_deepseek.rs
  sgl-router/tests/tool_parser_edge_cases.rs
  sgl-router/tests/tool_parser_glm4_moe.rs
  sgl-router/tests/tool_parser_gpt_oss.rs
  sgl-router/tests/tool_parser_kimik2.rs
  sgl-router/tests/tool_parser_llama.rs
  sgl-router/tests/tool_parser_mixed_edge_cases.rs
  sgl-router/tests/tool_parser_pythonic.rs
  sgl-router/tests/tool_parser_qwen.rs
  sgl-router/tests/tool_parser_registry.rs
  sgl-router/tests/tool_parser_step3.rs
  sgl-router/tests/tool_parser_streaming.rs
  sgl-router/tests/tool_parser_wrapper_tokens.rs
Labels: router, run-ci, router-benchmark

#10970 Update label field comment to indicate deprecation
  python/sglang/srt/managers/io_struct.py
Labels: run-ci

#10941 refactor loading weights from remote instance coding format
  python/sglang/srt/configs/load_config.py
  python/sglang/srt/configs/model_config.py
  python/sglang/srt/managers/tp_worker.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/model_loader/loader.py
  python/sglang/srt/model_loader/remote_instance_weight_loader_utils.py
Labels: run-ci

#10971 [router][grpc] Add helpfer functions for decoder in router.rs and fix specs
  python/sglang/srt/grpc/sglang_scheduler.proto
  python/sglang/srt/grpc/sglang_scheduler_pb2.py
  sgl-router/src/grpc_client/sglang_scheduler.rs
  sgl-router/src/proto/sglang_scheduler.proto
  sgl-router/src/protocols/spec.rs
  sgl-router/src/routers/grpc/router.rs
Labels: run-ci

#10944 Add simple docker file for B300
  docker/Dockerfile.b300
Labels: run-ci

#10965 Ci monitor support performance
  .github/workflows/ci-monitor.yml
  scripts/ci_monitor/README.md
  scripts/ci_monitor/ci_analyzer_perf.py
Labels: run-ci

#10980 [router][grpc] Support E2E non-stream chat completions
  python/sglang/srt/entrypoints/grpc_request_manager.py
  python/sglang/srt/entrypoints/grpc_server.py
  python/sglang/srt/grpc/sglang_scheduler.proto
  python/sglang/srt/grpc/sglang_scheduler_pb2.py
  python/sglang/srt/grpc/sglang_scheduler_pb2.pyi
  sgl-router/src/proto/sglang_scheduler.proto
  sgl-router/src/protocols/spec.rs
  sgl-router/src/routers/grpc/router.rs
Labels: run-ci

#10930 fix: make inference deterministic for large TP
  python/sglang/srt/server_args.py
  python/sglang/test/test_deterministic.py
Labels: run-ci

#10616 Add support for topk metadata transferring for PD
  python/sglang/srt/disaggregation/decode.py
  python/sglang/srt/disaggregation/decode_schedule_batch_mixin.py
  python/sglang/srt/disaggregation/prefill.py
  python/sglang/srt/disaggregation/utils.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/managers/scheduler.py
Labels: run-ci

#10550 Use jsonschema to constrain required or specific tool choice
  python/sglang/srt/entrypoints/openai/protocol.py
  python/sglang/srt/entrypoints/openai/serving_base.py
  python/sglang/srt/entrypoints/openai/serving_chat.py
  python/sglang/srt/function_call/function_call_parser.py
  python/sglang/srt/function_call/json_array_parser.py
  python/sglang/srt/function_call/utils.py
  test/srt/function_call/test_json_schema_constraint.py
  test/srt/openai_server/basic/test_serving_chat.py
  test/srt/openai_server/function_call/test_openai_function_calling.py
  test/srt/openai_server/function_call/test_tool_choice.py
  test/srt/run_suite.py
  test/srt/test_function_call_parser.py
Labels: high priority, run-ci

#10995 [router][tool parser] Modify tool parser to return both normal text and tool calls (non-stream)
  sgl-router/benches/tool_parser_benchmark.rs
  sgl-router/src/reasoning_parser/traits.rs
  sgl-router/src/routers/grpc/router.rs
  sgl-router/src/tool_parser/parsers/deepseek_parser.rs
  sgl-router/src/tool_parser/parsers/glm4_moe_parser.rs
  sgl-router/src/tool_parser/parsers/gpt_oss_parser.rs
  sgl-router/src/tool_parser/parsers/json_parser.rs
  sgl-router/src/tool_parser/parsers/kimik2_parser.rs
  sgl-router/src/tool_parser/parsers/llama_parser.rs
  sgl-router/src/tool_parser/parsers/mistral_parser.rs
  sgl-router/src/tool_parser/parsers/pythonic_parser.rs
  sgl-router/src/tool_parser/parsers/qwen_parser.rs
  sgl-router/src/tool_parser/parsers/step3_parser.rs
  sgl-router/src/tool_parser/tests.rs
  sgl-router/src/tool_parser/traits.rs
  sgl-router/tests/tool_parser_deepseek.rs
  sgl-router/tests/tool_parser_edge_cases.rs
  sgl-router/tests/tool_parser_fallback.rs
  sgl-router/tests/tool_parser_glm4_moe.rs
  sgl-router/tests/tool_parser_gpt_oss.rs
  sgl-router/tests/tool_parser_json.rs
  sgl-router/tests/tool_parser_kimik2.rs
  sgl-router/tests/tool_parser_llama.rs
  sgl-router/tests/tool_parser_mistral.rs
  sgl-router/tests/tool_parser_mixed_edge_cases.rs
  sgl-router/tests/tool_parser_pythonic.rs
  sgl-router/tests/tool_parser_qwen.rs
  sgl-router/tests/tool_parser_registry.rs
  sgl-router/tests/tool_parser_step3.rs
  sgl-router/tests/tool_parser_wrapper_tokens.rs
Labels: run-ci

#10978 [router] basic mcp support for openai router response api
  sgl-router/src/protocols/spec.rs
  sgl-router/src/routers/http/openai_router.rs
  sgl-router/tests/common/mock_worker.rs
  sgl-router/tests/responses_api_test.rs
Labels: run-ci

#10999 [router] fix chat template loading and tokenizer path
  python/sglang/srt/entrypoints/grpc_server.py
  sgl-router/src/tokenizer/factory.rs
  sgl-router/src/tokenizer/hub.rs
  sgl-router/src/tokenizer/huggingface.rs
  sgl-router/tests/tokenizer_integration.rs
Labels: bug, router, run-ci

#10555 prepare for sglang+verl
  python/sglang/srt/patch_torch.py
Labels: npu, run-ci

#11013 [HiCache] bug: fix mooncake store batch set v1
  python/sglang/srt/mem_cache/storage/mooncake_store/mooncake_store.py
Labels: high priority, run-ci

#11003 Fix FusedSetKVBufferArg in RotaryEmbedding
  python/sglang/srt/layers/rotary_embedding.py
  sgl-kernel/python/sgl_kernel/testing/rotary_embedding.py
Labels: run-ci

#11033 [router] migrate to rust python module for pythonic parser
  sgl-router/Cargo.toml
  sgl-router/src/tool_parser/mod.rs
  sgl-router/src/tool_parser/parsers/pythonic_parser.rs
  sgl-router/src/tool_parser/python_literal_parser.rs
Labels: router, benchmark, run-ci, router-benchmark

#11036 [router] add harmony tool parser base structure and interface
  sgl-router/src/tool_parser/parsers/gpt_oss_harmony_parser.rs
  sgl-router/src/tool_parser/parsers/mod.rs
  sgl-router/src/tool_parser/registry.rs
  sgl-router/src/tool_parser/state.rs
  sgl-router/src/tool_parser/traits.rs
Labels: run-ci
