Repository sgl-project/sglang, pull requests merged in 2025-03, with the labels that each got.

#3967 [Feature]Support ragged prefill in flashinfer mla backend
  docs/backend/server_arguments.md
  python/sglang/srt/layers/attention/flashinfer_backend.py
  python/sglang/srt/layers/attention/flashinfer_mla_backend.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/models/deepseek_v2.py
  python/sglang/srt/server_args.py
  test/srt/run_suite.py
  test/srt/test_mla_flashinfer.py
Labels: high priority, flashinfer

#3406 Enable custom AR for AMD GPUs and maintain it in sgl-kernel
  python/sglang/srt/_custom_ops.py
  python/sglang/srt/distributed/device_communicators/custom_all_reduce.py
  sgl-kernel/setup_rocm.py
  sgl-kernel/src/sgl-kernel/__init__.py
  sgl-kernel/src/sgl-kernel/csrc/custom_all_reduce.hip
  sgl-kernel/src/sgl-kernel/csrc/custom_all_reduce_hip.cuh
  sgl-kernel/src/sgl-kernel/include/sgl_kernels_ops.h
  sgl-kernel/src/sgl-kernel/ops/__init__.py
  sgl-kernel/src/sgl-kernel/torch_extension_rocm.cc
Labels: wip

#3987 Add fast decode plan for flashinfer mla
  docs/backend/server_arguments.md
  docs/references/deepseek.md
  python/sglang/srt/layers/attention/__init__.py
  python/sglang/srt/layers/attention/flashinfer_backend.py
  python/sglang/srt/layers/attention/flashinfer_mla_backend.py
  python/sglang/srt/layers/attention/triton_backend.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/model_executor/cuda_graph_runner.py
  python/sglang/srt/model_executor/forward_batch_info.py
Labels: high priority, flashinfer

#3986 [Eagle] Refactor eagle speculative decoding
  python/sglang/bench_one_batch.py
  python/sglang/srt/layers/attention/flashinfer_backend.py
  python/sglang/srt/layers/attention/triton_backend.py
  python/sglang/srt/managers/cache_controller.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/managers/schedule_policy.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/managers/tokenizer_manager.py
  python/sglang/srt/managers/tp_worker.py
  python/sglang/srt/managers/tp_worker_overlap_thread.py
  python/sglang/srt/mem_cache/chunk_cache.py
  python/sglang/srt/mem_cache/hiradix_cache.py
  python/sglang/srt/mem_cache/memory_pool.py
  python/sglang/srt/mem_cache/radix_cache.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/server_args.py
  python/sglang/srt/speculative/build_eagle_tree.py
  python/sglang/srt/speculative/eagle_draft_cuda_graph_runner.py
  python/sglang/srt/speculative/eagle_utils.py
  python/sglang/srt/speculative/eagle_worker.py
  python/sglang/srt/speculative/spec_info.py
  test/srt/test_eagle_infer.py
Labels: high priority

#3786 [quant kernel] sgl-kernel support per_tensor_quant fp8
  sgl-kernel/benchmark/bench_per_tensor_quant_fp8.py
  sgl-kernel/setup.py
  sgl-kernel/src/sgl-kernel/__init__.py
  sgl-kernel/src/sgl-kernel/csrc/gemm/per_tensor_quant_fp8.cu
  sgl-kernel/src/sgl-kernel/include/sgl_kernels_ops.h
  sgl-kernel/src/sgl-kernel/ops/gemm.py
  sgl-kernel/src/sgl-kernel/torch_extension.cc
  sgl-kernel/tests/test_per_tensor_quant_fp8.py
Labels: high priority

#4218 Support nextn for flashinfer mla attention backend
  docs/references/deepseek.md
  python/sglang/srt/layers/attention/flashinfer_mla_backend.py
  python/sglang/srt/models/deepseek_v2.py
  python/sglang/srt/speculative/eagle_worker.py
  test/srt/test_mla_flashinfer.py
Labels: high priority

#3148 Apply sgl w8a8 fp8 kernel
  python/sglang/srt/configs/model_config.py
  python/sglang/srt/layers/linear.py
  python/sglang/srt/layers/parameter.py
  python/sglang/srt/layers/quantization/__init__.py
  python/sglang/srt/layers/quantization/blockwise_int8.py
  python/sglang/srt/layers/quantization/fp8.py
  python/sglang/srt/layers/quantization/fp8_kernel.py
  python/sglang/srt/layers/quantization/fp8_utils.py
  python/sglang/srt/layers/quantization/modelopt_quant.py
  python/sglang/srt/layers/quantization/w8a8_fp8.py
  python/sglang/srt/server_args.py
  python/sglang/srt/utils.py
  python/sglang/test/test_block_fp8.py
Labels: high priority, quant

#4199 linear support deepgemm
  python/sglang/srt/layers/quantization/fp8_kernel.py
  python/sglang/test/test_block_fp8.py
  test/srt/test_fp8_kernel.py
Labels: high priority

#4104 Add awq dequantize kernel to sgl with 1x to 3x speedup
  sgl-kernel/benchmark/bench_awq_dequant.py
  sgl-kernel/csrc/gemm/awq_kernel.cu
  sgl-kernel/csrc/torch_extension.cc
  sgl-kernel/include/sgl_kernel_ops.h
  sgl-kernel/python/sgl_kernel/__init__.py
  sgl-kernel/python/sgl_kernel/gemm.py
  sgl-kernel/setup.py
  sgl-kernel/tests/test_awq_dequant.py
Labels: high priority

#4082 Hierarchical Caching Refactoring and Fixing TP issue
  python/sglang/srt/managers/cache_controller.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/managers/schedule_policy.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/mem_cache/hiradix_cache.py
  python/sglang/srt/mem_cache/memory_pool.py
Labels: high priority

#3679 [moe] fix: correct the cache size in the last chunk
  python/sglang/srt/layers/moe/fused_moe_triton/fused_moe.py
Labels: high priority

#4041 chore: bump v0.4.4
  docker/Dockerfile.rocm
  docs/developer/setup_github_runner.md
  docs/start/install.md
  python/pyproject.toml
  python/sglang/version.py
Labels: high priority

#4320 Fix Llama3.3 tool call support
  python/sglang/srt/function_call_parser.py
  python/sglang/srt/openai_api/adapter.py
Labels: high priority

#4371 [XPU][CPU] Enable the native path of DeepSeek
  docs/start/install.md
  python/pyproject.toml
  python/sglang/srt/layers/quantization/base_config.py
  python/sglang/srt/layers/quantization/blockwise_int8.py
  python/sglang/srt/layers/quantization/fp8.py
  python/sglang/srt/layers/quantization/fp8_kernel.py
  python/sglang/srt/layers/quantization/gptq.py
  python/sglang/srt/layers/quantization/modelopt_quant.py
  python/sglang/srt/layers/quantization/w8a8_fp8.py
  python/sglang/srt/layers/quantization/w8a8_int8.py
  python/sglang/srt/layers/rotary_embedding.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/model_loader/loader.py
  python/sglang/srt/models/deepseek_v2.py
  python/sglang/srt/utils.py
  python/sglang/test/test_block_fp8.py
Labels: high priority

#3964 feat(remote_model): support variable remote backend for model loader
  examples/runtime/engine/save_remote_state.py
  examples/runtime/engine/save_sharded_state.py
  python/sglang/__init__.py
  python/sglang/srt/configs/load_config.py
  python/sglang/srt/configs/model_config.py
  python/sglang/srt/connector/__init__.py
  python/sglang/srt/connector/base_connector.py
  python/sglang/srt/connector/redis.py
  python/sglang/srt/connector/s3.py
  python/sglang/srt/connector/serde/__init__.py
  python/sglang/srt/connector/serde/safe_serde.py
  python/sglang/srt/connector/serde/serde.py
  python/sglang/srt/connector/utils.py
  python/sglang/srt/entrypoints/engine.py
  python/sglang/srt/hf_transformers_utils.py
  python/sglang/srt/managers/io_struct.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/model_loader/loader.py
  python/sglang/srt/model_loader/weight_utils.py
  python/sglang/srt/server_args.py
  python/sglang/srt/utils.py
Labels: high priority

#4447 Update comment in qwen2.py
  python/sglang/srt/models/qwen2_moe.py
Labels: high priority

#4383 Add greedy verification kernel
  sgl-kernel/csrc/speculative/eagle_utils.cu
  sgl-kernel/csrc/speculative/packbit.cu
  sgl-kernel/csrc/speculative/speculative_sampling.cu
  sgl-kernel/csrc/speculative/speculative_sampling.cuh
  sgl-kernel/csrc/torch_extension.cc
  sgl-kernel/include/sgl_kernel_ops.h
  sgl-kernel/python/sgl_kernel/__init__.py
  sgl-kernel/python/sgl_kernel/speculative.py
  sgl-kernel/setup.py
  sgl-kernel/tests/speculative/test_eagle_utils.py
  sgl-kernel/tests/speculative/test_speculative_sampling.py
Labels: high priority

#4424 model: support gemma-3-it
  docs/references/supported_models.md
  python/sglang/lang/chat_template.py
  python/sglang/srt/configs/__init__.py
  python/sglang/srt/configs/gemma3.py
  python/sglang/srt/configs/model_config.py
  python/sglang/srt/conversation.py
  python/sglang/srt/hf_transformers_utils.py
  python/sglang/srt/layers/attention/vision.py
  python/sglang/srt/layers/layernorm.py
  python/sglang/srt/layers/rotary_embedding.py
  python/sglang/srt/managers/image_processors/base_image_processor.py
  python/sglang/srt/managers/image_processors/gemma3.py
  python/sglang/srt/managers/image_processors/janus_pro.py
  python/sglang/srt/managers/image_processors/minicpmv.py
  python/sglang/srt/managers/image_processors/qwen_vl.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/model_executor/forward_batch_info.py
  python/sglang/srt/models/gemma3_causal.py
  python/sglang/srt/models/gemma3_mm.py
  python/sglang/srt/utils.py
  test/srt/test_vision_openai_server.py
Labels: high priority

#4372 [Fix] use `torch.inference_mode()` instead of `torch.no_grad()`
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/managers/tp_worker_overlap_thread.py
  python/sglang/srt/utils.py
  python/sglang/test/test_dynamic_grad_mode.py
Labels: high priority

#2798 [Feature] Support Deepseek-VL2
  docs/references/supported_models.md
  python/sglang/srt/configs/__init__.py
  python/sglang/srt/configs/deepseekvl2.py
  python/sglang/srt/configs/model_config.py
  python/sglang/srt/conversation.py
  python/sglang/srt/hf_transformers_utils.py
  python/sglang/srt/managers/image_processors/deepseek_vl_v2.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/models/deepseek_v2.py
  python/sglang/srt/models/deepseek_vl2.py
  scripts/ci_install_dependency.sh
  test/srt/test_vision_openai_server.py
Labels: enhancement

#4418 Support serving DeepSeek-R1-Channel-INT8 with 32 L40S.
  benchmark/deepseek_v3/README.md
  docs/references/deepseek.md
  python/sglang/srt/layers/attention/triton_ops/extend_attention.py
  python/sglang/srt/layers/moe/fused_moe_triton/configs/E=256,N=64,device_name=NVIDIA_L20,dtype=int8_w8a8.json
  python/sglang/srt/layers/moe/fused_moe_triton/configs/E=256,N=64,device_name=NVIDIA_L40S,dtype=int8_w8a8.json
  sgl-kernel/csrc/gemm/int8_gemm_kernel.cu
  sgl-kernel/tests/test_int8_gemm.py
Labels: high priority, quant

#4531 [Hotfix] solve fp8 w8a8 ci test fail
  python/sglang/srt/layers/quantization/fp8.py
  python/sglang/srt/layers/quantization/fp8_utils.py
  python/sglang/srt/layers/quantization/gptq.py
  python/sglang/srt/layers/quantization/utils.py
  scripts/ci_install_dependency.sh
Labels: high priority

#4541 cleanup deps 3/n
  python/sglang/srt/layers/quantization/fp8.py
  python/sglang/srt/models/deepseek_nextn.py
  python/sglang/srt/models/deepseek_v2.py
  python/sglang/srt/utils.py
Labels: high priority

#4441 use sgl custom all reduce
  .github/workflows/pr-test.yml
  python/sglang/srt/_custom_ops.py
  test/srt/test_bench_one_batch.py
Labels: high priority

#4521 Reduce computation and communication in DP attention
  python/sglang/srt/distributed/parallel_state.py
  python/sglang/srt/layers/dp_attention.py
  python/sglang/srt/layers/logits_processor.py
  python/sglang/srt/models/deepseek_v2.py
  test/srt/test_dp_attention.py
Labels: high priority

#4553 Optimize Triton decoding kernel for dynamic workload
  python/sglang/srt/layers/attention/base_attn_backend.py
  python/sglang/srt/layers/attention/flashinfer_backend.py
  python/sglang/srt/layers/attention/flashinfer_mla_backend.py
  python/sglang/srt/layers/attention/triton_backend.py
  python/sglang/srt/layers/attention/triton_ops/decode_attention.py
  python/sglang/srt/model_executor/cuda_graph_runner.py
  test/srt/test_triton_attention_kernels.py
Labels: high priority

#4232 [Feature] Integrate DeepEP into SGLang
  docker/Dockerfile.deepep
  docs/backend/server_arguments.md
  python/sglang/srt/layers/linear.py
  python/sglang/srt/layers/moe/ep_moe/kernels.py
  python/sglang/srt/layers/moe/ep_moe/layer.py
  python/sglang/srt/layers/moe/ep_moe/token_dispatcher.py
  python/sglang/srt/layers/parameter.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/models/deepseek_v2.py
  python/sglang/srt/server_args.py
  test/srt/test_moe_deepep.py
Labels: high priority

#4514 Support FlashMLA backend cuda graph
  python/sglang/srt/layers/attention/flashmla_backend.py
  python/sglang/srt/layers/attention/utils.py
  python/sglang/srt/server_args.py
Labels: high priority

#4571 [fix] fix illegal mem access and clean up triton attention backend
  python/sglang/srt/layers/attention/base_attn_backend.py
  python/sglang/srt/layers/attention/flashinfer_backend.py
  python/sglang/srt/layers/attention/flashinfer_mla_backend.py
  python/sglang/srt/layers/attention/triton_backend.py
  python/sglang/srt/layers/attention/triton_ops/decode_attention.py
  python/sglang/srt/model_executor/cuda_graph_runner.py
  test/srt/test_triton_attention_kernels.py
Labels: high priority

#4558 Support fp8 gemm for blackwell
  sgl-kernel/csrc/gemm/fp8_gemm_kernel.cu
Labels: high priority

#4654 [PD] Release initial code
  python/sglang/srt/disaggregation/conn.py
  python/sglang/srt/disaggregation/decode.py
  python/sglang/srt/disaggregation/mini_lb.py
  python/sglang/srt/disaggregation/prefill.py
  python/sglang/srt/disaggregation/utils.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/managers/tokenizer_manager.py
  python/sglang/srt/mem_cache/memory_pool.py
  python/sglang/srt/server_args.py
Labels: high priority

#4596 [quantization] fix channelwise conversion with scalar weight scale
  python/sglang/srt/layers/quantization/utils.py
  python/sglang/test/test_utils.py
  test/srt/test_eval_fp8_accuracy.py
Labels: high priority

#4556 [1/3] fix dsv3 awq issue
  sgl-kernel/csrc/gemm/awq_kernel.cu
  sgl-kernel/tests/test_awq_dequant.py
Labels: high priority

#4643 Optimize Permute Kernel in DeepEP
  python/sglang/srt/layers/moe/ep_moe/kernels.py
  python/sglang/srt/layers/moe/ep_moe/layer.py
  python/sglang/srt/layers/moe/ep_moe/token_dispatcher.py
  python/sglang/srt/models/deepseek_v2.py
Labels: high priority

#4610 Support async in DeepEP
  python/sglang/srt/layers/moe/ep_moe/token_dispatcher.py
  python/sglang/srt/models/deepseek_v2.py
Labels: high priority

#4631 [ROCm] Enable MTP (NextN) on AMD GPU
  python/sglang/srt/speculative/build_eagle_tree.py
  python/sglang/srt/speculative/eagle_utils.py
  sgl-kernel/csrc/speculative/eagle_utils.cu
  sgl-kernel/csrc/speculative/pytorch_extension_utils_rocm.h
  sgl-kernel/csrc/torch_extension_rocm.cc
  sgl-kernel/setup_rocm.py
  test/srt/test_mla_deepseek_v3.py
Labels: amd

#4680 Support FA3 as Attention backend by using `--attention-backend fa3`
  python/sglang/bench_serving.py
  python/sglang/srt/layers/attention/flashattention_backend.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/server_args.py
  python/sglang/test/attention/test_flashattn_backend.py
Labels: high priority, performance

#4609 [Model] Support Qwen2ForSequenceClassification
  docs/references/supported_models.md
  python/sglang/srt/configs/model_config.py
  python/sglang/srt/models/qwen2_classification.py
  test/srt/models/test_embedding_models.py
Labels: high priority

#3899 Support FP4 gemm (1/2)
  sgl-kernel/csrc/gemm/nvfp4_quant_entry.cu
  sgl-kernel/csrc/gemm/nvfp4_quant_kernels.cu
  sgl-kernel/csrc/gemm/nvfp4_scaled_mm_entry.cu
  sgl-kernel/csrc/gemm/nvfp4_scaled_mm_kernels.cu
  sgl-kernel/csrc/torch_extension.cc
  sgl-kernel/include/sgl_kernel_ops.h
  sgl-kernel/python/sgl_kernel/__init__.py
  sgl-kernel/python/sgl_kernel/gemm.py
  sgl-kernel/setup.py
  sgl-kernel/tests/test_fp4_gemm.py
  sgl-kernel/tests/test_fp4_quantize.py
Labels: high priority

#4435 Add endpoints to dump selected expert ids
  docs/backend/native_api.ipynb
  python/sglang/srt/entrypoints/http_server.py
  python/sglang/srt/layers/moe/topk.py
  python/sglang/srt/managers/io_struct.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/managers/tokenizer_manager.py
  python/sglang/srt/managers/utils.py
  python/sglang/srt/models/deepseek_v2.py
  test/srt/run_suite.py
  test/srt/test_expert_distribution.py
Labels: high priority

#4669 bump v0.4.4.post2
  docker/Dockerfile.rocm
  docs/developer/setup_github_runner.md
  docs/start/install.md
  python/pyproject.toml
  python/sglang/version.py
Labels: high priority

#4719 [3/3] fix dsv3 awq issue
  python/sglang/srt/layers/quantization/__init__.py
  python/sglang/srt/layers/quantization/awq.py
Labels: high priority

#4388 Align finish reason and stream mode in openai api
  python/sglang/srt/openai_api/adapter.py
  python/sglang/srt/openai_api/protocol.py
  test/srt/test_openai_server.py
Labels: high priority

#4565 Patch PyTorch's bug that cross-process tensor transfer will lead to wrong device
  python/sglang/srt/entrypoints/verl_engine.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/patch_torch.py
  test/srt/run_suite.py
  test/srt/test_patch_torch.py
Labels: high priority

#4770 Support (1 <= dp < tp) in the dp attention in DeepEP
  docs/backend/server_arguments.md
  python/sglang/srt/distributed/device_communicators/custom_all_reduce.py
  python/sglang/srt/distributed/parallel_state.py
  python/sglang/srt/layers/dp_attention.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/model_executor/cuda_graph_runner.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/models/deepseek_v2.py
  python/sglang/srt/server_args.py
  test/srt/test_moe_deepep.py
Labels: high priority

#4819 [Fix] Add compressed_tensors as deps
  python/pyproject.toml
Labels: high priority

#4832 Support Page Size > 1 for FA3
  python/sglang/srt/layers/attention/flashattention_backend.py
Labels: high priority

#4834 Clean up `import vllm` in quantization/__init__.py
  .github/workflows/pr-test.yml
  .github/workflows/vllm-dependency-test.yml
  python/pyproject.toml
  python/sglang/srt/configs/model_config.py
  python/sglang/srt/layers/moe/topk.py
  python/sglang/srt/layers/quantization/__init__.py
  python/sglang/srt/layers/quantization/awq.py
  python/sglang/srt/layers/quantization/fp8_kernel.py
  python/sglang/srt/layers/quantization/gptq.py
  python/sglang/srt/managers/tp_worker.py
  python/sglang/srt/models/deepseek_v2.py
  scripts/ci_install_dependency.sh
  test/srt/test_eagle_infer.py
  test/srt/test_triton_attention_backend.py
Labels: high priority

#4831 [Feature] Support FA3 backend for MLA
  python/sglang/srt/layers/attention/flashattention_backend.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/models/deepseek_v2.py
Labels: high priority

#4882 Fix BadRequestError wrong arguments and remove openai dependency
  python/sglang/srt/managers/multimodal_processors/base_processor.py
Labels: high priority

#4530 Add deepseek style fused moe group gate selection kernel
  sgl-kernel/CMakeLists.txt
  sgl-kernel/benchmark/bench_moe_fused_gate.py
  sgl-kernel/csrc/moe/moe_fused_gate.cu
  sgl-kernel/csrc/torch_extension.cc
  sgl-kernel/include/sgl_kernel_ops.h
  sgl-kernel/python/sgl_kernel/__init__.py
  sgl-kernel/python/sgl_kernel/moe.py
  sgl-kernel/setup.py
  sgl-kernel/tests/test_moe_fused_gate.py
Labels: high priority

#4902 [feat] add fa3 in sgl-kernel
  sgl-kernel/CMakeLists.txt
  sgl-kernel/README.md
  sgl-kernel/csrc/torch_extension.cc
  sgl-kernel/include/sgl_kernel_ops.h
  sgl-kernel/include/sgl_kernel_torch_shim.h
  sgl-kernel/python/sgl_kernel/flash_attn.py
  sgl-kernel/tests/test_flash_attention.py
Labels: high priority

#4883 Fix DeepSeek bug causing 2.2% MMLU drop when TP!=DP
  python/sglang/srt/models/deepseek_v2.py
Labels: high priority

#4928 [feat] interface for platforms abstraction
  python/sglang/srt/platforms/interface.py
Labels: high priority

#4754 refactor: multimodal data
  benchmark/mmmu/bench_hf.py
  benchmark/mmmu/eval_utils.py
  python/sglang/srt/managers/mm_utils.py
  python/sglang/srt/managers/multimodal_processor.py
  python/sglang/srt/managers/multimodal_processors/base_processor.py
  python/sglang/srt/managers/multimodal_processors/clip.py
  python/sglang/srt/managers/multimodal_processors/deepseek_vl_v2.py
  python/sglang/srt/managers/multimodal_processors/gemma3.py
  python/sglang/srt/managers/multimodal_processors/janus_pro.py
  python/sglang/srt/managers/multimodal_processors/llava.py
  python/sglang/srt/managers/multimodal_processors/minicpm.py
  python/sglang/srt/managers/multimodal_processors/mlama.py
  python/sglang/srt/managers/multimodal_processors/qwen_vl.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/managers/utils.py
  python/sglang/srt/model_executor/forward_batch_info.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/models/clip.py
  python/sglang/srt/models/deepseek_janus_pro.py
  python/sglang/srt/models/deepseek_v2.py
  python/sglang/srt/models/deepseek_vl2.py
  python/sglang/srt/models/gemma3_mm.py
  python/sglang/srt/models/llama.py
  python/sglang/srt/models/llava.py
  python/sglang/srt/models/llavavid.py
  python/sglang/srt/models/minicpmo.py
  python/sglang/srt/models/minicpmv.py
  python/sglang/srt/models/mllama.py
  python/sglang/srt/models/qwen2.py
  python/sglang/srt/models/qwen2_5_vl.py
  python/sglang/srt/models/qwen2_vl.py
  python/sglang/srt/openai_api/adapter.py
  python/sglang/srt/utils.py
  test/srt/test_vision_openai_server.py
  test/srt/test_vlm_accuracy.py
Labels: high priority
