Repository sgl-project/sglang, pull requests merged in 2025-05, with the labels that each got.

#5724 [PP] Add pipeline parallelism
  python/sglang/bench_one_batch.py
  python/sglang/srt/entrypoints/engine.py
  python/sglang/srt/layers/dp_attention.py
  python/sglang/srt/layers/utils.py
  python/sglang/srt/managers/data_parallel_controller.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/managers/scheduler_output_processor_mixin.py
  python/sglang/srt/managers/tp_worker.py
  python/sglang/srt/managers/tp_worker_overlap_thread.py
  python/sglang/srt/mem_cache/memory_pool.py
  python/sglang/srt/model_executor/cuda_graph_runner.py
  python/sglang/srt/model_executor/forward_batch_info.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/models/llama.py
  python/sglang/srt/models/llama4.py
  python/sglang/srt/models/llama_eagle.py
  python/sglang/srt/models/llama_eagle3.py
  python/sglang/srt/server_args.py
  python/sglang/srt/speculative/eagle_worker.py
  python/sglang/srt/utils.py
  python/sglang/test/test_utils.py
  test/srt/run_suite.py
  test/srt/test_pp_single_node.py
  test/srt/test_vlm_accuracy.py
Labels: high priority

#5934 fix: update model runner
  python/sglang/srt/model_executor/model_runner.py
Labels: wip, review-wip

#5921 Support XiaomiMiMo/MiMo model inference
  python/sglang/srt/layers/attention/flashinfer_backend.py
  python/sglang/srt/models/xiaomi_mimo.py
Labels: ready-to-merge

#5957 Fix flaky issues of lora and add multi batch tests
  python/sglang/srt/lora/lora_manager.py
  test/srt/models/lora/test_lora.py
  test/srt/models/lora/test_multi_lora_backend.py
  test/srt/models/lora/utils.py
Labels: ready-to-merge

#5587 [Test] Add flashmla attention backend test
  scripts/ci_install_dependency.sh
  test/srt/run_suite.py
  test/srt/test_flash_mla_attention_backend.py
Labels: ready-to-merge

#5555 Fix "Avoid computing lse in Ragged Prefill when there's no prefix match"
  docs/backend/server_arguments.md
  python/sglang/srt/layers/attention/flashinfer_backend.py
  python/sglang/srt/layers/attention/flashinfer_mla_backend.py
Labels: ready-to-merge

#5428 feat: Add a unified merge_state API
  python/sglang/srt/layers/attention/merge_state.py
  python/sglang/srt/layers/attention/triton_ops/merge_state.py
Labels: ready-to-merge

#5081 Fix prefill OOM error in the case of large page size
  python/sglang/srt/managers/schedule_policy.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/mem_cache/chunk_cache.py
Labels: bug, high priority, ready-to-merge

#5993 [refactor] slightly tidy fp8 module
  python/sglang/srt/layers/moe/ep_moe/kernels.py
  python/sglang/srt/layers/quantization/compressed_tensors/compressed_tensors_moe.py
  python/sglang/srt/layers/quantization/compressed_tensors/schemes/compressed_tensors_w8a8_fp8.py
  python/sglang/srt/layers/quantization/fp8.py
  python/sglang/srt/layers/quantization/fp8_kernel.py
  python/sglang/srt/layers/quantization/fp8_utils.py
  python/sglang/srt/layers/quantization/kv_cache.py
  python/sglang/srt/layers/quantization/utils.py
  python/sglang/srt/layers/quantization/w8a8_fp8.py
  python/sglang/srt/models/deepseek_nextn.py
  python/sglang/srt/models/deepseek_v2.py
  python/sglang/test/test_block_fp8.py
Labels: high priority, review-wip

#6077 optimize pad operations in fa3 to accelarate 100+us
  python/sglang/srt/layers/attention/flashattention_backend.py
Labels: high priority

#5121 Overlap shared expert and routed expert computations
  python/sglang/srt/models/llama.py
  python/sglang/srt/models/llama4.py
Labels: ready-to-merge

#5764 [Feature] Add FlashAttention3 as a backend for VisionAttention
  docs/backend/server_arguments.md
  python/sglang/srt/layers/attention/vision.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/models/clip.py
  python/sglang/srt/models/deepseek_janus_pro.py
  python/sglang/srt/models/gemma3_mm.py
  python/sglang/srt/models/minicpmv.py
  python/sglang/srt/models/mllama.py
  python/sglang/srt/models/qwen2_5_vl.py
  python/sglang/srt/models/qwen2_vl.py
  python/sglang/srt/server_args.py
Labels: high priority

#5662 [perf] dsv3 bmm fallback to bf16
  python/sglang/srt/layers/quantization/fp8_utils.py
  python/sglang/srt/models/deepseek_v2.py
Labels: high priority

#6129 upgrade xgrammar to 0.1.19
  python/pyproject.toml
  python/sglang/srt/constrained/xgrammar_backend.py
Labels: high priority

#5745 [Fix] Incorrect Memory Allocation on CUDA:0 by Non-Zero CUDA Processes in TP/DP
  python/sglang/srt/configs/deepseekvl2.py
  python/sglang/srt/configs/janus_pro.py
  python/sglang/srt/managers/multimodal_processors/base_processor.py
  python/sglang/srt/managers/schedule_batch.py
Labels: high priority, ready-to-merge

#6101 Cutlass MLA: Disable split kv due to https://github.com/NVIDIA/cutlass/issues/2274
  sgl-kernel/csrc/attention/cutlass_mla_kernel.cu
  sgl-kernel/tests/test_cutlass_mla.py
Labels: ready-to-merge

#6118 [fix] fix determine_n_share_experts_fusion
  python/sglang/srt/models/deepseek_v2.py
Labels: ready-to-merge

#6114 Fix and Clean up chat-template requirement for VLM
  benchmark/mmmu/README.md
  benchmark/mmmu/bench_sglang.py
  docs/backend/openai_api_vision.ipynb
  docs/backend/sampling_params.md
  docs/supported_models/embedding_models.md
  docs/supported_models/vision_language_models.md
  examples/runtime/engine/offline_batch_inference_vlm.py
  examples/runtime/llava_onevision/http_llava_onevision_test.py
  examples/runtime/multimodal_embedding.py
  python/sglang/lang/chat_template.py
  python/sglang/srt/conversation.py
  test/srt/models/test_vlm_models.py
  test/srt/test_bench_serving.py
  test/srt/test_bnb.py
  test/srt/test_openai_server.py
  test/srt/test_vision_openai_server.py
Labels: visIon-LM, ready-to-merge

#4701 Added async_encode method to Engine
  python/sglang/srt/entrypoints/engine.py
  test/srt/test_srt_engine.py
Labels: high priority

#5654 [PD] Add simple unit test for disaggregation feature
  .github/workflows/pr-test.yml
  python/sglang/test/test_utils.py
  scripts/ci_install_dependency_8_gpu.sh
  test/srt/run_suite.py
  test/srt/test_disaggregation.py
Labels: high priority

#6191 [fix] remove mixtral from is_fa3_default_architecture
  python/sglang/srt/utils.py
Labels: bug, high priority

#6198 Add dev-deepep docker image
  .github/workflows/release-docker-dev-deepep.yml
  docker/Dockerfile.dev-deepep
Labels: high priority

#5922 [PD] Add support for different TP sizes per DP rank
  python/sglang/srt/disaggregation/base/conn.py
  python/sglang/srt/disaggregation/decode.py
  python/sglang/srt/disaggregation/mooncake/conn.py
  python/sglang/srt/disaggregation/nixl/conn.py
  python/sglang/srt/disaggregation/prefill.py
  python/sglang/srt/disaggregation/utils.py
  test/srt/run_suite.py
  test/srt/test_disaggregation_different_tp.py
Labels: high priority

#6273 perf: optimize local_block_table memory allocation
  python/sglang/srt/layers/attention/flashattention_backend.py
Labels: high priority

#6317 Fix gpu mem check on CPU
  python/sglang/srt/server_args.py
Labels: ready-to-merge

#6136 Support precomputed multimodal features for Qwen-VL and Gemma3 models.
  docs/backend/vlm_query.ipynb
  python/sglang/srt/entrypoints/engine.py
  python/sglang/srt/managers/io_struct.py
  python/sglang/srt/managers/mm_utils.py
  python/sglang/srt/managers/multimodal_processors/base_processor.py
  python/sglang/srt/managers/multimodal_processors/gemma3.py
  python/sglang/srt/managers/multimodal_processors/qwen_vl.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/managers/session_controller.py
  python/sglang/srt/models/gemma3_mm.py
  python/sglang/srt/models/qwen2_5_vl.py
  python/sglang/srt/models/qwen2_vl.py
  test/srt/test_skip_tokenizer_init.py
  test/srt/test_vlm_accuracy.py
Labels: visIon-LM, ready-to-merge

#5099 model(vlm): mistral 3.1
  docs/supported_models/vision_language_models.md
  python/sglang/srt/configs/model_config.py
  python/sglang/srt/managers/multimodal_processors/llava.py
  python/sglang/srt/models/llava.py
  python/sglang/srt/models/mistral.py
  test/srt/test_vision_openai_server.py
Labels: visIon-LM, ready-to-merge

#6356 perf: Optimize local attention memory allocation in FlashAttentionBackend
  python/sglang/srt/layers/attention/flashattention_backend.py
Labels: high priority

#6175 Speed up when having padding tokens in DeepEP
  python/sglang/srt/layers/moe/topk.py
  python/sglang/srt/model_executor/cuda_graph_runner.py
  python/sglang/srt/model_executor/forward_batch_info.py
  python/sglang/srt/models/deepseek_v2.py
Labels: high priority

#6187 refactor: minor refactors regarding multimodal processing
  python/sglang/srt/configs/model_config.py
  python/sglang/srt/hf_transformers_utils.py
  python/sglang/srt/layers/attention/vision.py
  python/sglang/srt/managers/io_struct.py
  python/sglang/srt/managers/mm_utils.py
  python/sglang/srt/managers/multimodal_processors/base_processor.py
  python/sglang/srt/managers/multimodal_processors/minicpm.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/managers/tokenizer_manager.py
  python/sglang/srt/mm_utils.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/models/minicpmo.py
  python/sglang/srt/models/mllama.py
  python/sglang/srt/models/qwen2_5_vl.py
  test/srt/test_vision_chunked_prefill.py
Labels: visIon-LM

#6339 Add fp8 shared_expert kernel for CPU in sgl-kernel and add UT
  sgl-kernel/csrc/cpu/gemm.h
  sgl-kernel/csrc/cpu/gemm_fp8.cpp
  sgl-kernel/csrc/cpu/moe.cpp
  sgl-kernel/csrc/cpu/moe_fp8.cpp
  sgl-kernel/csrc/cpu/torch_extension_cpu.cpp
  sgl-kernel/setup_cpu.py
  test/srt/cpu/test_shared_expert.py
  test/srt/cpu/utils.py
Labels: high priority

#6395 [fix] fix fa3 forward_decode with spec_decode
  python/sglang/srt/layers/attention/flashattention_backend.py
Labels: high priority

#6323 refactor: Extract repeated member variables in KVCache subclasses to base class.
  python/sglang/srt/mem_cache/memory_pool.py
Labels: ready-to-merge

#6137 Implement `return_hidden_states` for the OpenAI API
  python/sglang/srt/openai_api/adapter.py
  python/sglang/srt/openai_api/protocol.py
  test/srt/test_openai_server.py
Labels: high priority

#6098 [Metrics] Add KV events publishing
  python/pyproject.toml
  python/sglang/srt/disaggregation/kv_events.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/mem_cache/base_prefix_cache.py
  python/sglang/srt/mem_cache/radix_cache.py
  python/sglang/srt/server_args.py
  test/srt/test_kv_events.py
Labels: high priority

#4957 Expert distribution recording without overhead for EPLB
  docs/backend/native_api.ipynb
  python/sglang/srt/layers/moe/ep_moe/token_dispatcher.py
  python/sglang/srt/layers/moe/topk.py
  python/sglang/srt/managers/expert_distribution.py
  python/sglang/srt/managers/expert_location.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/models/deepseek_v2.py
  python/sglang/srt/models/qwen2_moe.py
  python/sglang/srt/server_args.py
  python/sglang/srt/utils.py
  test/srt/test_expert_distribution.py
Labels: high priority

#6321 Refactor communication logic of DeepSeek for extensibility and understandability
  python/sglang/srt/layers/communicator.py
  python/sglang/srt/models/deepseek_v2.py
Labels: high priority

#6412 Address performance regression: disable multiple streams on ROCm
  python/sglang/srt/models/deepseek_v2.py
Labels: high priority

#6429 [QuickFix] fix gptq model initialize
  python/sglang/srt/layers/quantization/__init__.py
  python/sglang/srt/layers/quantization/gptq.py
Labels: high priority

#6444 [doc] add note for get_num_kv_splits in triton_backend
  python/sglang/srt/layers/attention/triton_backend.py
Labels: ready-to-merge

#6447 Fix master CI for DeepSeek
  python/sglang/srt/layers/moe/ep_moe/layer.py
  python/sglang/srt/layers/moe/fused_moe_triton/layer.py
  python/sglang/srt/models/deepseek_v2.py
Labels: high priority

#6381 aiter attention-backend (default enabled on AMD/ROCm)
  .github/workflows/pr-test-amd.yml
  docker/Dockerfile.rocm
  python/sglang/srt/layers/attention/aiter_backend.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/server_args.py
  scripts/amd_ci_install_dependency.sh
  scripts/amd_ci_start_container.sh
  test/srt/models/test_dummy_grok_models.py
  test/srt/test_eval_accuracy_large.py
Labels: high priority

#6419 [CPU] Fix build issue
  sgl-kernel/csrc/cpu/CMakeLists.txt
  sgl-kernel/csrc/cpu/bmm.cpp
  sgl-kernel/csrc/cpu/gemm.cpp
  sgl-kernel/csrc/cpu/gemm_fp8.cpp
  sgl-kernel/csrc/cpu/gemm_int8.cpp
  sgl-kernel/csrc/cpu/interface.cpp
  sgl-kernel/csrc/cpu/moe.cpp
  sgl-kernel/csrc/cpu/qkv_proj.cpp
  sgl-kernel/csrc/cpu/shm.h
  sgl-kernel/csrc/cpu/torch_extension_cpu.cpp
  sgl-kernel/pyproject_cpu.toml
  sgl-kernel/setup_cpu.py
  test/srt/cpu/test_gemm.py
  test/srt/cpu/test_shared_expert.py
Labels: high priority, intel, cpu

#6499 Apply constraint grammar to EAGLE
  python/sglang/srt/speculative/eagle_utils.py
  python/sglang/srt/speculative/eagle_worker.py
  test/srt/test_eagle_infer.py
Labels: high priority

#6504 [PD] Abort request if transfer fails
  python/sglang/srt/disaggregation/decode.py
  python/sglang/srt/disaggregation/mooncake/conn.py
  python/sglang/srt/disaggregation/prefill.py
  python/sglang/srt/disaggregation/utils.py
  python/sglang/srt/managers/scheduler.py
Labels: high priority

#6355 [VLM] Support chunk prefill for VLM
  python/sglang/srt/configs/model_config.py
  python/sglang/srt/managers/mm_utils.py
  python/sglang/srt/managers/multimodal_processors/base_processor.py
  python/sglang/srt/managers/multimodal_processors/deepseek_vl_v2.py
  python/sglang/srt/managers/multimodal_processors/gemma3.py
  python/sglang/srt/managers/multimodal_processors/internvl.py
  python/sglang/srt/managers/multimodal_processors/janus_pro.py
  python/sglang/srt/managers/multimodal_processors/kimi_vl.py
  python/sglang/srt/managers/multimodal_processors/llava.py
  python/sglang/srt/managers/multimodal_processors/minicpm.py
  python/sglang/srt/managers/multimodal_processors/mllama4.py
  python/sglang/srt/managers/multimodal_processors/pixtral.py
  python/sglang/srt/managers/multimodal_processors/qwen_vl.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/mem_cache/multimodal_cache.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/models/minicpmo.py
  test/srt/test_vision_openai_server_common.py
  test/srt/test_vlm_accuracy.py
Labels: high priority, visIon-LM

#6404 Add fp8 fused_experts kernel for CPU in sgl-kernel and add UT
  sgl-kernel/csrc/cpu/gemm.h
  sgl-kernel/csrc/cpu/moe.cpp
  sgl-kernel/csrc/cpu/moe_fp8.cpp
  sgl-kernel/csrc/cpu/torch_extension_cpu.cpp
  sgl-kernel/setup_cpu.py
  test/srt/cpu/test_moe.py
  test/srt/cpu/utils.py
Labels: high priority, sgl-kernel, intel, cpu

#6452 Update sgl-kernel UTs for activation/topk/norm/rope kernels
  test/srt/cpu/test_activation.py
  test/srt/cpu/test_norm.py
  test/srt/cpu/test_rope.py
  test/srt/cpu/test_topk.py
Labels: sgl-kernel, intel, cpu

#6507 [PD] support spec decode
  .pre-commit-config.yaml
  python/sglang/srt/disaggregation/decode.py
  python/sglang/srt/disaggregation/mooncake/conn.py
  python/sglang/srt/disaggregation/mooncake/transfer_engine.py
  python/sglang/srt/disaggregation/prefill.py
  python/sglang/srt/managers/scheduler.py
  test/srt/run_suite.py
  test/srt/test_disaggregation.py
Labels: high priority

#6550 feat(Tool Calling): Support `required` and specific function mode
  docs/backend/function_calling.ipynb
  python/sglang/srt/entrypoints/http_server.py
  python/sglang/srt/function_call/base_format_detector.py
  python/sglang/srt/function_call/core_types.py
  python/sglang/srt/function_call/deepseekv3_detector.py
  python/sglang/srt/function_call/ebnf_composer.py
  python/sglang/srt/function_call/function_call_parser.py
  python/sglang/srt/function_call/llama32_detector.py
  python/sglang/srt/function_call/mistral_detector.py
  python/sglang/srt/function_call/pythonic_detector.py
  python/sglang/srt/function_call/qwen25_detector.py
  python/sglang/srt/function_call/utils.py
  python/sglang/srt/function_call_parser.py
  python/sglang/srt/openai_api/adapter.py
  test/srt/run_suite.py
  test/srt/test_function_call_parser.py
  test/srt/test_openai_function_calling.py
Labels: high priority, review-wip

#4068 Support overlapping two batches
  python/sglang/srt/layers/attention/tbo_backend.py
  python/sglang/srt/layers/quantization/deep_gemm.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/model_executor/cuda_graph_runner.py
  python/sglang/srt/model_executor/forward_batch_info.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/models/deepseek_v2.py
  python/sglang/srt/operations.py
  python/sglang/srt/operations_strategy.py
  python/sglang/srt/server_args.py
  python/sglang/srt/two_batch_overlap.py
  test/srt/test_two_batch_overlap.py
Labels: high priority

#5961 [OAI] Support non-normalized logprobs in OpenAI server
  python/sglang/srt/layers/sampler.py
Labels: high priority

#6575 chore: upgrade transformers 4.52.3
  python/pyproject.toml
  python/sglang/srt/configs/internvl.py
  python/sglang/srt/configs/model_config.py
  python/sglang/test/runners.py
  test/srt/test_vlm_accuracy.py
Labels: high priority

#6581 refactor qwen moe code, use communicator to support tp+dp
  python/sglang/srt/models/deepseek_v2.py
  python/sglang/srt/models/qwen2_moe.py
  python/sglang/srt/models/qwen3_moe.py
  python/sglang/srt/utils.py
  test/srt/test_disaggregation.py
Labels: high priority

#6597 feat: Improve Mistral and Qwen25 function call parsing
  python/sglang/srt/function_call/base_format_detector.py
  python/sglang/srt/function_call/deepseekv3_detector.py
  python/sglang/srt/function_call/ebnf_composer.py
  python/sglang/srt/function_call/mistral_detector.py
  python/sglang/srt/function_call/pythonic_detector.py
  python/sglang/srt/function_call/qwen25_detector.py
  test/srt/test_function_call_parser.py
Labels: high priority

#6263 [PD] Handle P/D failure and reconnect without affecting other instances
  python/sglang/srt/disaggregation/decode.py
  python/sglang/srt/disaggregation/mooncake/conn.py
  python/sglang/srt/disaggregation/mooncake/transfer_engine.py
  python/sglang/srt/disaggregation/prefill.py
Labels: high priority

#6634 Support TP in attention for two batch overlap
  python/sglang/srt/layers/communicator.py
  python/sglang/srt/models/deepseek_v2.py
  python/sglang/srt/models/qwen2_moe.py
  python/sglang/srt/two_batch_overlap.py
Labels: high priority

#6638 DeepSeek: enable none block-quant FP8 quantizations
  python/sglang/srt/models/deepseek_v2.py
Labels: high priority

#6582 feat: Add warnings for invalid tool_choice and UTs
  python/sglang/srt/function_call/function_call_parser.py
  test/srt/run_suite.py
  test/srt/test_tool_choice.py
Labels: high priority

#6627 Refine pre_reorder_triton_kernel slightly to improve performance
  benchmark/kernels/fused_moe_triton/benchmark_ep_pre_reorder_triton.py
  python/sglang/srt/layers/moe/ep_moe/kernels.py
Labels: high priority

#6697 [Bugfix] Fix slice operation when chunk size mismatch
  python/sglang/srt/disaggregation/mooncake/conn.py
Labels: high priority

#6479 [Feature] Support Flashinfer fp8 blockwise GEMM kernel on Blackwell
  docs/references/environment_variables.md
  python/sglang/srt/layers/quantization/fp8.py
  python/sglang/srt/layers/quantization/fp8_utils.py
Labels: high priority

#6545 refactor apply_w8a8_block_fp8_linear in fp
  benchmark/kernels/deepseek/benchmark_deepgemm_fp8_gemm.py
  python/sglang/srt/layers/quantization/fp8.py
  python/sglang/srt/layers/quantization/fp8_kernel.py
  python/sglang/srt/layers/quantization/fp8_utils.py
  sgl-kernel/benchmark/bench_fp8_blockwise_gemm.py
Labels: ready-to-merge

#6509 Support sliding window in triton backend
  python/sglang/srt/layers/attention/triton_backend.py
  python/sglang/srt/layers/attention/triton_ops/extend_attention.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/models/gemma3_causal.py
  test/srt/run_suite.py
  test/srt/test_triton_sliding_window.py
Labels: ready-to-merge

#6289 Fix shared experts fusion error
  python/sglang/srt/models/deepseek_v2.py
Labels: high priority

#6408 Add intel_amx backend for Radix Attention for CPU
  python/sglang/srt/layers/attention/base_attn_backend.py
  python/sglang/srt/layers/attention/intel_amx_backend.py
  python/sglang/srt/layers/attention/torch_native_backend.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/model_executor/forward_batch_info.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/server_args.py
  python/sglang/srt/utils.py
Labels: high priority, ready-to-merge, intel, cpu

#6791 [FIX] mmmu bench serving result display error (#6525)
  python/sglang/bench_serving.py
Labels: visIon-LM, ready-to-merge
