Repository sgl-project/sglang, pull requests merged in 2025-08, with the labels that each got.

#8083 Feature/modelscope model download
  python/sglang/bench_offline_throughput.py
Labels: ready-to-merge

#8270 chore: speedup NPU CI by cache
  .github/workflows/pr-test-npu.yml
  scripts/npu_ci_install_dependency.sh
Labels: high priority, ready-to-merge

#8308 [Bugfix] fix w8a8_int8 load issue
  python/sglang/srt/layers/quantization/w8a8_int8.py
  python/sglang/srt/model_loader/weight_utils.py
Labels: ready-to-merge

#8450 [NVIDIA] Enable Flashinfer MoE blockscale fp8 backend for TP MoE
  python/sglang/srt/layers/moe/ep_moe/layer.py
  python/sglang/srt/layers/moe/fused_moe_triton/layer.py
  python/sglang/srt/layers/quantization/fp8.py
  python/sglang/srt/models/deepseek_v2.py
  python/sglang/srt/models/glm4_moe.py
  python/sglang/srt/server_args.py
Labels: high priority

#8636 HiCache, fixing hash value indexing
  python/sglang/srt/mem_cache/hiradix_cache.py
Labels: ready-to-merge

#8318 Interface change for kvcache io to support page first layout
  python/sglang/srt/managers/cache_controller.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/mem_cache/hiradix_cache.py
  python/sglang/srt/mem_cache/memory_pool.py
  python/sglang/srt/mem_cache/memory_pool_host.py
  python/sglang/srt/server_args.py
Labels: ready-to-merge

#8013 [Kimi K2] dsv3_router_gemm supports NUM_EXPERTS == 384
  sgl-kernel/benchmark/bench_dsv3_router_gemm.py
  sgl-kernel/csrc/gemm/dsv3_router_gemm_bf16_out.cu
  sgl-kernel/csrc/gemm/dsv3_router_gemm_entry.cu
  sgl-kernel/csrc/gemm/dsv3_router_gemm_float_out.cu
  sgl-kernel/tests/test_dsv3_router_gemm.py
Labels: ready-to-merge

#8543 fix per token cuda kernel hidden dim cannot divide by 16
  sgl-kernel/benchmark/bench_per_token_quant_fp8.py
  sgl-kernel/csrc/gemm/per_token_quant_fp8.cu
  sgl-kernel/tests/test_per_token_quant_fp8.py
Labels: ready-to-merge

#8684 [bug] limit bootstrap room to to [0, 2^63 - 1]
  sgl-router/src/routers/pd_types.rs
Labels: high priority

#8679 Fix deepgemm masked grouped gemm jit compile
  python/sglang/srt/layers/quantization/deep_gemm_wrapper/compile_utils.py
Labels: high priority

#8668 bugfix(hicache): Fix 'MooncakeStore' not defined error.
  python/sglang/srt/managers/cache_controller.py
Labels: ready-to-merge

#8364 [1/2] sgl-kernel: Fuse routed scaling factor into select_experts
  sgl-kernel/csrc/common_extension.cc
  sgl-kernel/csrc/moe/moe_fused_gate.cu
  sgl-kernel/include/sgl_kernel_ops.h
  sgl-kernel/python/sgl_kernel/moe.py
  sgl-kernel/tests/test_moe_fused_gate.py
Labels: high priority

#7434 Fix: resolve prefill of retracted request out-of-memory issue when ignore_eos is enabled
  python/sglang/srt/managers/schedule_policy.py
Labels: high priority

#8719 HiCache storage, style change and bug fix
  python/sglang/srt/mem_cache/hicache_storage.py
  python/sglang/srt/mem_cache/storage/mooncake_store/README.md
  python/sglang/srt/mem_cache/storage/mooncake_store/mooncake_store.py
  python/sglang/srt/mem_cache/storage/mooncake_store/unit_test.py
  python/sglang/srt/mem_cache/storage/nixl/README.md
  python/sglang/srt/mem_cache/storage/nixl/hicache_nixl.py
  python/sglang/srt/mem_cache/storage/nixl/nixl_utils.py
  python/sglang/srt/mem_cache/storage/nixl/test_hicache_nixl_storage.py
Labels: ready-to-merge

#7379 [feat] support minimum token load balance in dp attention
  docs/backend/server_arguments.md
  python/sglang/srt/entrypoints/engine.py
  python/sglang/srt/managers/data_parallel_controller.py
  python/sglang/srt/managers/io_struct.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/managers/utils.py
  python/sglang/srt/server_args.py
  test/srt/test_dp_attention.py
Labels: ready-to-merge

#8718 chore: bump sgl-kernel 0.3.0 with torch 2.8.0
  .github/workflows/pr-test-sgl-kernel.yml
  sgl-kernel/build.sh
  sgl-kernel/pyproject.toml
  sgl-kernel/pyproject_cpu.toml
  sgl-kernel/pyproject_rocm.toml
  sgl-kernel/python/sgl_kernel/version.py
Labels: high priority

#7114 Fix the missing 'lof' choice of --schedule-policy server args
  python/sglang/srt/server_args.py
Labels: high priority

#8437 Rename lora_path to lora_id in batches
  python/sglang/srt/lora/lora_manager.py
  python/sglang/srt/managers/io_struct.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/managers/tokenizer_manager.py
  python/sglang/srt/model_executor/cuda_graph_runner.py
  python/sglang/srt/model_executor/forward_batch_info.py
  python/sglang/srt/two_batch_overlap.py
Labels: ready-to-merge

#8294 [CI] Ascend NPU CI enhancement
  .github/workflows/pr-test-npu.yml
  python/sglang/srt/layers/moe/topk.py
  scripts/npu_ci_install_dependency.sh
  test/srt/run_suite.py
  test/srt/test_ascend_attention_backend.py
  test/srt/test_ascend_mla_backend.py
  test/srt/test_ascend_mla_w8a8int8.py
  test/srt/test_ascend_tp1_bf16.py
  test/srt/test_ascend_tp2_bf16.py
Labels: ready-to-merge, npu

#8749 [bugfix] fix import path in HiCacheController
  python/sglang/srt/managers/cache_controller.py
Labels: ready-to-merge

#8773 [NVIDIA] Fix breakage of using trtllm-gen fp8 moe
  python/sglang/srt/layers/moe/ep_moe/layer.py
  python/sglang/srt/layers/moe/fused_moe_triton/layer.py
Labels: bug, high priority

#8782 feat: add trtllm-gen mha from direct call
  python/sglang/srt/layers/attention/trtllm_mha_backend.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/server_args.py
Labels: high priority, collaboration, ready-to-merge

#8824 Add initial support for gpt-oss
  python/sglang/srt/layers/attention/triton_backend.py
  python/sglang/srt/layers/attention/triton_ops/decode_attention.py
  python/sglang/srt/layers/attention/triton_ops/extend_attention.py
  python/sglang/srt/layers/linear.py
  python/sglang/srt/layers/moe/fused_moe_triton/layer.py
  python/sglang/srt/layers/moe/fused_moe_triton/triton_kernels_moe.py
  python/sglang/srt/layers/quantization/fp8_utils.py
  python/sglang/srt/layers/quantization/mxfp4_tensor.py
  python/sglang/srt/layers/quantization/unquant.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/models/gpt_oss.py
  python/sglang/srt/server_args.py
Labels: high priority

#8836 chore: upgrade torch 2.8.0
  .github/workflows/vllm-dependency-test.yml
  python/pyproject.toml
  python/sglang/srt/entrypoints/engine.py
  scripts/ci_install_dependency.sh
Labels: high priority

#8680 Support bailing moe
  docs/supported_models/generative_models.md
  python/sglang/srt/models/bailing_moe.py
  test/srt/models/test_generation_models.py
Labels: new-model

#8144 [Feature] improve TBO: two chunk overlap
  docs/backend/server_arguments.md
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/model_executor/forward_batch_info.py
  python/sglang/srt/server_args.py
  python/sglang/srt/two_batch_overlap.py
  test/srt/test_two_batch_overlap.py
Labels: ready-to-merge

#8751 [1/3] Optimize Slime Update Weights: Remove QWen3MOE Load Weight Overhead
  python/sglang/srt/models/qwen3_moe.py
Labels: RLHF, ready-to-merge

#8753 [2/3] Optimize Slime Update Weights: Avoid GPU-to-CPU Device Sync when update expert weights
  python/sglang/srt/eplb/expert_location.py
Labels: RLHF, ready-to-merge

#8539 Use reduce scatter for DP
  python/sglang/srt/layers/communicator.py
  python/sglang/srt/layers/dp_attention.py
  python/sglang/srt/layers/linear.py
  python/sglang/srt/model_executor/forward_batch_info.py
  python/sglang/srt/models/deepseek_v2.py
  python/sglang/srt/models/glm4_moe.py
Labels: high priority

#8697 Support GPU pinning for LoRA
  docs/backend/lora.ipynb
  python/sglang/srt/entrypoints/engine.py
  python/sglang/srt/lora/lora_manager.py
  python/sglang/srt/lora/lora_registry.py
  python/sglang/srt/lora/mem_pool.py
  python/sglang/srt/managers/io_struct.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/managers/tokenizer_manager.py
  python/sglang/srt/managers/tp_worker.py
  python/sglang/srt/managers/tp_worker_overlap_thread.py
  python/sglang/srt/server_args.py
  python/sglang/test/runners.py
  test/srt/models/lora/test_lora_update.py
Labels: ready-to-merge

#8292 [Feature][Multimodal] Implement LRU cache for multimodal embeddings
  python/sglang/srt/managers/mm_utils.py
  python/sglang/srt/mem_cache/multimodal_cache.py
  test/srt/models/test_vlm_models.py
Labels: Multi-modal

#8888 [router] fix req handling order, improve serialization, remove retry
  sgl-router/benches/request_processing.rs
  sgl-router/scripts/run_benchmarks.py
  sgl-router/src/policies/cache_aware.rs
  sgl-router/src/policies/mod.rs
  sgl-router/src/routers/bootstrap_injector.rs
  sgl-router/src/routers/mod.rs
  sgl-router/src/routers/pd_router.rs
  sgl-router/src/routers/pd_types.rs
  sgl-router/src/server.rs
  sgl-router/tests/benchmark_integration.rs
Labels: bug, router

#5949 [Feat] QWen-1M context support[2/2]: Update block sparse attention backend
  examples/runtime/engine/offline_batch_inference_qwen_1m.py
  python/sglang/srt/configs/model_config.py
  python/sglang/srt/disaggregation/decode_schedule_batch_mixin.py
  python/sglang/srt/hf_transformers_utils.py
  python/sglang/srt/layers/attention/dual_chunk_flashattention_backend.py
  python/sglang/srt/layers/rotary_embedding.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/model_executor/cuda_graph_runner.py
  python/sglang/srt/model_executor/forward_batch_info.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/models/qwen2.py
  python/sglang/srt/models/qwen2_moe.py
  python/sglang/srt/models/qwen3_moe.py
  python/sglang/srt/server_args.py
  python/sglang/srt/two_batch_overlap.py
Labels: high priority

#8041 [CPU] Fix fallback allgather issue
  python/sglang/srt/distributed/parallel_state.py
Labels: ready-to-merge

#8869 Fix sgl-kernel arch and missing package in CI
  scripts/ci_install_dependency.sh
Labels: high priority

#6555 Support Multi Process Tokenizer Manager
  python/sglang/srt/entrypoints/http_server.py
  python/sglang/srt/managers/detokenizer_manager.py
  python/sglang/srt/managers/io_struct.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/managers/tokenizer_manager.py
  python/sglang/srt/server_args.py
  python/sglang/srt/utils.py
  test/srt/run_suite.py
  test/srt/test_multi_tokenizer.py
Labels: high priority

#8757 [RL] fix skip_server_warmup and rl health_generate logic
  python/sglang/srt/entrypoints/http_server.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/managers/scheduler_update_weights_mixin.py
Labels: RLHF, ready-for-review

#8959 chore: bump v0.5.0rc0
  benchmark/deepseek_v3/README.md
  docs/references/setup_github_runner.md
  docs/start/install.md
  python/pyproject.toml
  python/sglang/version.py
Labels: high priority

#8972 [router] harden retries + metrics; fix streaming load; header filtering
  sgl-router/src/routers/router.rs
Labels: bug, enhancement, router

#8971 [router] add metrics for worker and policy
  sgl-router/src/core/worker.rs
  sgl-router/src/policies/cache_aware.rs
  sgl-router/src/policies/power_of_two.rs
  sgl-router/src/policies/random.rs
  sgl-router/src/policies/round_robin.rs
Labels: enhancement, router

#8982 [router] fix radix tree integration issues in PD router
  sgl-router/src/policies/cache_aware.rs
  sgl-router/src/routers/pd_router.rs
Labels: bug, router

#8785 [bug fix] Ensure local token and global token buffers are pointing to different storage
  python/sglang/srt/layers/dp_attention.py
Labels: high priority

#8851 Add CI for gpt-oss model on hopper
  python/sglang/test/run_eval.py
  python/sglang/test/simple_eval_common.py
  python/sglang/test/simple_eval_gpqa.py
  test/srt/run_suite.py
  test/srt/test_gpt_oss_1gpu.py
  test/srt/test_gpt_oss_4gpu.py
  test/srt/test_gpt_oss_common.py
Labels: high priority

#8798 Support glm4.1v and glm4.5v
  benchmark/mmmu/README.md
  benchmark/mmmu/bench_sglang.py
  benchmark/mmmu/eval_utils.py
  docs/supported_models/multimodal_language_models.md
  python/sglang/lang/chat_template.py
  python/sglang/srt/configs/model_config.py
  python/sglang/srt/function_call/ebnf_composer.py
  python/sglang/srt/function_call/glm4_moe_detector.py
  python/sglang/srt/jinja_template_utils.py
  python/sglang/srt/layers/rotary_embedding.py
  python/sglang/srt/models/glm4.py
  python/sglang/srt/models/glm4v.py
  python/sglang/srt/models/glm4v_moe.py
  python/sglang/srt/multimodal/processors/base_processor.py
  python/sglang/srt/multimodal/processors/glm4v.py
  python/sglang/srt/utils.py
  test/srt/openai_server/function_call/test_openai_function_calling.py
  test/srt/test_function_call_parser.py
  test/srt/test_jinja_template_utils.py
  test/srt/test_vision_openai_server_b.py
  test/srt/test_vision_openai_server_common.py
Labels: high priority, Multi-modal, new-model

#6752 Tiny Llama4 type error in constructor
  python/sglang/srt/models/llama4.py
Labels: ready-to-merge

#8329 Enable TBO on ROCm
  python/sglang/srt/two_batch_overlap.py
Labels: high priority

#8915 fix page first per layer pf2lf kernel
  python/sglang/srt/mem_cache/memory_pool_host.py
  sgl-kernel/csrc/common_extension.cc
  sgl-kernel/csrc/kvcacheio/transfer.cu
  sgl-kernel/include/sgl_kernel_ops.h
  sgl-kernel/python/sgl_kernel/kvcacheio.py
Labels: ready-to-merge

#8991 [Fix] Fix hicache backend
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/model_executor/model_runner.py
Labels: ready-to-merge

#9019 [router] upgrade to latest sgl kernel for router ci
  .github/workflows/pr-test-pd-router.yml
Labels: router, ci

#9017 [router] upgrade rand to latest version
  sgl-router/Cargo.toml
  sgl-router/src/middleware.rs
  sgl-router/src/policies/power_of_two.rs
  sgl-router/src/policies/random.rs
  sgl-router/src/tree.rs
Labels: dependencies, router

#8940 Improve LoRA Perf by Deprecating FlashInfer and Eliminating Redundant Tensor Ops
  docs/backend/lora.ipynb
  python/sglang/srt/lora/backend/base_backend.py
  python/sglang/srt/lora/backend/flashinfer_backend.py
  python/sglang/srt/lora/layers.py
  python/sglang/srt/lora/lora.py
  python/sglang/srt/lora/lora_manager.py
  python/sglang/srt/lora/mem_pool.py
  python/sglang/srt/lora/triton_ops/qkv_lora_b.py
  python/sglang/srt/lora/utils.py
  python/sglang/srt/models/gemma3n_mm.py
Labels: performance, lora, ready-to-merge

#8997 [router] regular router circuit breaker
  package-lock.json
  sgl-router/README.md
  sgl-router/py_src/sglang_router/launch_router.py
  sgl-router/py_src/sglang_router/launch_server.py
  sgl-router/py_src/sglang_router/router.py
  sgl-router/py_test/test_launch_router.py
  sgl-router/py_test/test_launch_server.py
  sgl-router/src/config/types.rs
  sgl-router/src/config/validation.rs
  sgl-router/src/core/circuit_breaker.rs
  sgl-router/src/core/mod.rs
  sgl-router/src/core/retry.rs
  sgl-router/src/core/worker.rs
  sgl-router/src/lib.rs
  sgl-router/src/metrics.rs
  sgl-router/src/policies/mod.rs
  sgl-router/src/routers/pd_router.rs
  sgl-router/src/routers/router.rs
  sgl-router/tests/api_endpoints_test.rs
  sgl-router/tests/request_formats_test.rs
  sgl-router/tests/streaming_tests.rs
  sgl-router/tests/test_pd_routing.rs
Labels: enhancement, router

#8731 fuse allreduce and residual_rmsnorm
  python/sglang/srt/layers/communicator.py
  python/sglang/srt/layers/flashinfer_comm_fusion.py
  python/sglang/srt/layers/linear.py
  python/sglang/srt/layers/moe/fused_moe_triton/layer.py
  python/sglang/srt/models/deepseek_v2.py
  python/sglang/srt/models/glm4_moe.py
  python/sglang/srt/models/gpt_oss.py
  python/sglang/srt/server_args.py
Labels: high priority

#9053 HiCache Storage: generate hash when inserting new nodes
  python/sglang/srt/managers/cache_controller.py
  python/sglang/srt/mem_cache/hicache_storage.py
  python/sglang/srt/mem_cache/hiradix_cache.py
  python/sglang/srt/mem_cache/radix_cache.py
  python/sglang/srt/mem_cache/storage/mooncake_store/mooncake_store.py
Labels: high priority, ready-to-merge

#9089 [router] Add Rust Binary Entrypoint for SGLang Router
  sgl-router/Cargo.toml
  sgl-router/README.md
  sgl-router/src/main.rs
  sgl-router/src/routers/factory.rs
  sgl-router/src/routers/pd_router.rs
  sgl-router/src/routers/router.rs
  sgl-router/src/server.rs
  sgl-router/src/service_discovery.rs
  sgl-router/tests/api_endpoints_test.rs
  sgl-router/tests/request_formats_test.rs
  sgl-router/tests/streaming_tests.rs
  sgl-router/tests/test_pd_routing.rs
Labels: enhancement, router

#9096 update support new models doc
  docs/supported_models/support_new_models.md
Labels: ready-to-merge

#9077 Fuse writing KV buffer into rope kernel (part 1: sgl-kernel)
  python/sglang/srt/bench_utils.py
  sgl-kernel/benchmark/bench_rotary_embedding.py
  sgl-kernel/csrc/common_extension.cc
  sgl-kernel/csrc/elementwise/pos_enc.cuh
  sgl-kernel/csrc/elementwise/rope.cu
  sgl-kernel/include/sgl_kernel_ops.h
  sgl-kernel/python/sgl_kernel/__init__.py
  sgl-kernel/python/sgl_kernel/elementwise.py
  sgl-kernel/python/sgl_kernel/testing/__init__.py
  sgl-kernel/python/sgl_kernel/testing/rotary_embedding.py
  sgl-kernel/tests/test_rotary_embedding.py
Labels: high priority

#9122 router: Fix user guide link README.md
  sgl-router/README.md
Labels: documentation, router

#9121 [router] update router documentation
  docs/advanced_features/pd_disaggregation.md
  docs/advanced_features/router.md
Labels: documentation, router

#8588 Use FlashInfer's TRTLLM FP8 Blockscale GEMM
  python/sglang/srt/layers/quantization/fp8_utils.py
Labels: high priority

#9093 Support Triton FP8 Gemm can handle hidden_dim not divisible by 16
  python/sglang/srt/layers/quantization/fp8_kernel.py
  python/sglang/srt/layers/quantization/fp8_utils.py
  test/srt/quant/test_triton_scaled_mm.py
  test/srt/run_suite.py
Labels: quant, ready-to-merge

#9149 [PD] optimize kv cache transfer directly using batch transfer
  python/sglang/srt/disaggregation/mooncake/conn.py
Labels: ready-to-merge

#8910 [PD] feat: mooncake use batch reg/dereg
  python/sglang/srt/disaggregation/mooncake/conn.py
  python/sglang/srt/disaggregation/mooncake/transfer_engine.py
Labels: ready-to-merge

#9169 [Bugfix] Avoid unnecessary reduce-scatter call in prepare_mlp
  python/sglang/srt/layers/dp_attention.py
Labels: ready-to-merge

#9136 [DP Attention] Refactor: adding some utility functions
  python/sglang/srt/layers/communicator.py
  python/sglang/srt/layers/dp_attention.py
  python/sglang/srt/layers/logits_processor.py
  python/sglang/srt/layers/sampler.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/model_executor/cuda_graph_runner.py
  python/sglang/srt/model_executor/forward_batch_info.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/models/deepseek_nextn.py
  python/sglang/srt/models/deepseek_v2.py
  python/sglang/srt/models/glm4_moe.py
  python/sglang/srt/models/glm4_moe_nextn.py
  python/sglang/srt/models/gpt_oss.py
  python/sglang/srt/models/llama4.py
  python/sglang/srt/models/qwen2.py
  python/sglang/srt/models/qwen2_moe.py
  python/sglang/srt/models/step3_vl.py
  python/sglang/srt/operations.py
  python/sglang/srt/speculative/eagle_draft_cuda_graph_runner.py
  python/sglang/srt/speculative/eagle_draft_extend_cuda_graph_runner.py
  python/sglang/srt/two_batch_overlap.py
Labels: ready-to-merge

#9162 Faster weight processing (trtllm-gen moe nvfp4)
  python/sglang/srt/layers/quantization/modelopt_quant.py
Labels: high priority

#9101 Feature: support qwen and llama4 reducescatter for dp attention padding
  python/sglang/srt/lora/layers.py
  python/sglang/srt/models/llama.py
  python/sglang/srt/models/llama4.py
  python/sglang/srt/models/qwen2_moe.py
  python/sglang/srt/models/qwen3_moe.py
Labels: ready-to-merge

#9213 feat(hicache-3fs): 3FS-SGLang Hierarchical Cache Deployment Guide​
  python/sglang/srt/mem_cache/storage/hf3fs/docs/README.md
  python/sglang/srt/mem_cache/storage/hf3fs/docs/deploy_sglang_3fs_multinode.md
Labels: ready-to-merge

#8777 Fp4 MOE quant kernel optimization
  sgl-kernel/csrc/gemm/nvfp4_expert_quant.cu
Labels: high priority

#9220 chore: bump sgl-kernel v0.3.6
  docker/Dockerfile
  sgl-kernel/pyproject.toml
  sgl-kernel/pyproject_cpu.toml
  sgl-kernel/pyproject_rocm.toml
  sgl-kernel/python/sgl_kernel/version.py
Labels: high priority

#9198 [router] allow more health check configuration
  sgl-router/py_src/sglang_router/launch_router.py
  sgl-router/py_src/sglang_router/router.py
  sgl-router/src/config/types.rs
  sgl-router/src/core/mod.rs
  sgl-router/src/core/worker.rs
  sgl-router/src/lib.rs
  sgl-router/src/main.rs
  sgl-router/src/routers/factory.rs
  sgl-router/src/routers/pd_router.rs
  sgl-router/src/routers/router.rs
  sgl-router/src/service_discovery.rs
  sgl-router/tests/api_endpoints_test.rs
  sgl-router/tests/request_formats_test.rs
  sgl-router/tests/streaming_tests.rs
  sgl-router/tests/test_pd_routing.rs
Labels: enhancement, router

#9201 [router] clean up lint warnings with clippy execution
  sgl-router/src/config/types.rs
  sgl-router/src/config/validation.rs
  sgl-router/src/core/retry.rs
  sgl-router/src/core/worker.rs
  sgl-router/src/main.rs
  sgl-router/src/middleware.rs
  sgl-router/src/routers/pd_router.rs
  sgl-router/src/routers/router.rs
  sgl-router/src/service_discovery.rs
  sgl-router/src/tree.rs
Labels: router, clean-up

#8268 [AMD] Expand test coverage for AMD CI and enable apply_token_bitmask_inplace_cuda in sgl-kernel
  .github/workflows/pr-test-amd.yml
  python/sglang/srt/constrained/xgrammar_backend.py
  sgl-kernel/csrc/common_extension_rocm.cc
  sgl-kernel/csrc/grammar/apply_token_bitmask_inplace_cuda.cu
  sgl-kernel/setup_rocm.py
  test/srt/run_suite.py
Labels: high priority

#8027 [feature] Ascend NPU graph support
  benchmark/kernels/fused_moe_triton/benchmark_torch_compile_fused_moe.py
  python/sglang/srt/distributed/parallel_state.py
  python/sglang/srt/layers/attention/ascend_backend.py
  python/sglang/srt/mem_cache/memory_pool.py
  python/sglang/srt/model_executor/cuda_graph_runner.py
  python/sglang/srt/model_executor/graph_runner.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/model_executor/npu_graph_runner.py
  python/sglang/srt/models/deepseek_v2.py
  python/sglang/srt/models/glm4_moe.py
  python/sglang/srt/models/mllama.py
  python/sglang/srt/models/qwen3.py
  python/sglang/srt/models/qwen3_moe.py
  python/sglang/srt/speculative/eagle_draft_cuda_graph_runner.py
  python/sglang/srt/speculative/eagle_draft_extend_cuda_graph_runner.py
  test/srt/run_suite.py
  test/srt/test_ascend_graph_tp1_bf16.py
  test/srt/test_ascend_graph_tp2_bf16.py
Labels: ready-to-merge, npu

#9237 [router] fix pd prefill http request complinace issue
  sgl-router/src/routers/pd_router.rs
Labels: bug, router

#9067 model: support nvidia/Llama-3_3-Nemotron-Super-49B-v1
  docs/supported_models/generative_models.md
  python/sglang/srt/configs/model_config.py
  python/sglang/srt/models/nemotron_nas.py
  python/sglang/srt/utils.py
  python/sglang/test/runners.py
  test/srt/models/test_generation_models.py
Labels: high priority

#9242 [router] add cargo clippy in CI and fix-up linting errors
  .github/workflows/pr-test-rust.yml
  sgl-router/benches/request_processing.rs
  sgl-router/src/core/error.rs
  sgl-router/src/core/worker.rs
  sgl-router/src/lib.rs
  sgl-router/src/metrics.rs
  sgl-router/src/policies/power_of_two.rs
  sgl-router/src/routers/header_utils.rs
  sgl-router/src/routers/pd_router.rs
  sgl-router/src/routers/router.rs
  sgl-router/src/tree.rs
  sgl-router/tests/api_endpoints_test.rs
  sgl-router/tests/benchmark_integration.rs
  sgl-router/tests/common/test_app.rs
  sgl-router/tests/request_formats_test.rs
  sgl-router/tests/streaming_tests.rs
  sgl-router/tests/test_pd_routing.rs
Labels: router, ci, clean-up

#9281 [router] introduce prefill response draining for http compliance
  sgl-router/src/routers/pd_router.rs
Labels: bug, router, clean-up

#9287 [router] introducing tokenizer trait
  sgl-router/Cargo.toml
  sgl-router/src/lib.rs
  sgl-router/src/tokenizer/mock.rs
  sgl-router/src/tokenizer/mod.rs
  sgl-router/src/tokenizer/stream.rs
  sgl-router/src/tokenizer/tests.rs
  sgl-router/src/tokenizer/traits.rs
Labels: feature, router

#9317 [Bug] Fix input arguments of flashinfer_trtllm_moe
  python/sglang/srt/layers/moe/fused_moe_triton/layer.py
  python/sglang/srt/layers/moe/topk.py
  python/sglang/srt/layers/quantization/fp8.py
Labels: bug, high priority

#9321 [router]restructure protocol modules for better organization
  sgl-router/benches/request_processing.rs
  sgl-router/src/lib.rs
  sgl-router/src/openai_api_types.rs
  sgl-router/src/protocols/common.rs
  sgl-router/src/protocols/generate/mod.rs
  sgl-router/src/protocols/generate/request.rs
  sgl-router/src/protocols/generate/types.rs
  sgl-router/src/protocols/mod.rs
  sgl-router/src/protocols/openai/chat/mod.rs
  sgl-router/src/protocols/openai/chat/request.rs
  sgl-router/src/protocols/openai/chat/response.rs
  sgl-router/src/protocols/openai/chat/types.rs
  sgl-router/src/protocols/openai/common.rs
  sgl-router/src/protocols/openai/completions/mod.rs
  sgl-router/src/protocols/openai/completions/request.rs
  sgl-router/src/protocols/openai/completions/response.rs
  sgl-router/src/protocols/openai/errors.rs
  sgl-router/src/protocols/openai/mod.rs
  sgl-router/src/routers/mod.rs
  sgl-router/src/routers/pd_router.rs
  sgl-router/src/routers/router.rs
  sgl-router/src/server.rs
  sgl-router/tests/benchmark_integration.rs
Labels: high priority, router

#9353 [router] add dsr1, kimi, and qwen reasoning parser
  sgl-router/src/reasoning_parser/factory.rs
  sgl-router/src/reasoning_parser/mod.rs
  sgl-router/src/reasoning_parser/parsers/base.rs
  sgl-router/src/reasoning_parser/parsers/deepseek_r1.rs
  sgl-router/src/reasoning_parser/parsers/kimi.rs
  sgl-router/src/reasoning_parser/parsers/mod.rs
  sgl-router/src/reasoning_parser/parsers/qwen3.rs
  sgl-router/src/reasoning_parser/traits.rs
Labels: feature, router

#9354 [router] add tiktokenizer and sequence in router
  sgl-router/Cargo.toml
  sgl-router/src/tokenizer/factory.rs
  sgl-router/src/tokenizer/mod.rs
  sgl-router/src/tokenizer/sequence.rs
  sgl-router/src/tokenizer/tests.rs
  sgl-router/src/tokenizer/tiktoken.rs
  sgl-router/src/tokenizer/traits.rs
Labels: feature, router

#9360 [router] adds reasoning parser pooling and thread-safe
  sgl-router/src/reasoning_parser/factory.rs
  sgl-router/src/reasoning_parser/mod.rs
Labels: enhancement, router

#8690 [2/2] Fuse routed scaling factor into select_experts
  python/sglang/srt/layers/moe/fused_moe_triton/layer.py
  python/sglang/srt/layers/moe/topk.py
  python/sglang/srt/layers/quantization/fp8.py
  python/sglang/srt/layers/quantization/modelopt_quant.py
  python/sglang/srt/models/deepseek_v2.py
  sgl-kernel/tests/test_moe_fused_gate.py
Labels: high priority

#9249 Support pinning adapter via server args.
  docs/advanced_features/lora.ipynb
  docs/advanced_features/server_arguments.md
  python/sglang/srt/lora/lora_manager.py
  python/sglang/srt/lora/lora_registry.py
  python/sglang/srt/managers/tokenizer_manager.py
  python/sglang/srt/server_args.py
  python/sglang/test/runners.py
  test/srt/lora/test_lora_update.py
Labels: ready-to-merge

#9336 Fix incorrect logic in chat template handling.
  python/sglang/srt/managers/template_manager.py
Labels: ready-to-merge

#9339 Support trtllm_allreduce_fusion in flashinfer for cuda<12.8
  python/sglang/srt/layers/communicator.py
  python/sglang/srt/layers/flashinfer_comm_fusion.py
  python/sglang/srt/layers/layernorm.py
Labels: high priority

#9371 [router] Add IGW (Inference Gateway) Feature Flag
  .github/workflows/pr-test-rust.yml
  sgl-router/src/config/types.rs
  sgl-router/src/config/validation.rs
  sgl-router/src/lib.rs
  sgl-router/src/main.rs
  sgl-router/src/routers/factory.rs
  sgl-router/tests/api_endpoints_test.rs
  sgl-router/tests/request_formats_test.rs
  sgl-router/tests/streaming_tests.rs
  sgl-router/tests/test_pd_routing.rs
Labels: router

#9415 [router] add glm and step3 reasoning parser
  sgl-router/src/reasoning_parser/factory.rs
  sgl-router/src/reasoning_parser/mod.rs
  sgl-router/src/reasoning_parser/parsers/glm45.rs
  sgl-router/src/reasoning_parser/parsers/mod.rs
  sgl-router/src/reasoning_parser/parsers/step3.rs
Labels: enhancement, router

#9420 Fix biased_grouped_topk_cpu
  python/sglang/srt/layers/moe/topk.py
Labels: intel

#9251 feat: Add Triton fallback option and SM120 MoE configs for FP8 models
  python/sglang/srt/layers/moe/fused_moe_triton/configs/triton_3_4_0/E=129,N=352,device_name=NVIDIA_RTX_PRO_6000_Blackwell_Max-Q_Workstation_Edition,dtype=fp8_w8a8.json
  python/sglang/srt/layers/moe/fused_moe_triton/configs/triton_3_4_0/E=161,N=384,device_name=NVIDIA_RTX_PRO_6000_Blackwell_Max-Q_Workstation_Edition,dtype=fp8_w8a8.json
  python/sglang/srt/layers/quantization/fp8_utils.py
Labels: high priority

#9238 Enables speculative decoding for the trtllm_mla attention backend
  python/sglang/srt/layers/attention/trtllm_mla_backend.py
  python/sglang/srt/server_args.py
  python/sglang/srt/speculative/eagle_worker.py
Labels: high priority

#9427 [router] add tokenizer benchmark
  sgl-router/Cargo.toml
  sgl-router/benches/tokenizer_benchmark.rs
  sgl-router/tests/common/mock_worker.rs
  sgl-router/tests/common/mod.rs
  sgl-router/tests/tokenizer_integration.rs
Labels: enhancement, router

#9482 [router] add tool parser base structure and partial json parser
  sgl-router/Cargo.toml
  sgl-router/benches/tokenizer_benchmark.rs
  sgl-router/src/lib.rs
  sgl-router/src/tool_parser/errors.rs
  sgl-router/src/tool_parser/mod.rs
  sgl-router/src/tool_parser/partial_json.rs
  sgl-router/src/tool_parser/registry.rs
  sgl-router/src/tool_parser/state.rs
  sgl-router/src/tool_parser/tests.rs
  sgl-router/src/tool_parser/traits.rs
  sgl-router/src/tool_parser/types.rs
Labels: feature, router

#9331 Support speculative decoding in the trtllm_mha attention backend
  python/sglang/srt/layers/attention/trtllm_mha_backend.py
  python/sglang/srt/server_args.py
  python/sglang/srt/speculative/eagle_worker.py
Labels: high priority, speculative-decoding

#8865 [HiCacheStorage] backup optimization for MLA model
  python/sglang/srt/managers/cache_controller.py
  python/sglang/srt/mem_cache/hicache_storage.py
  python/sglang/srt/mem_cache/memory_pool_host.py
  python/sglang/srt/mem_cache/storage/mooncake_store/mooncake_store.py
Labels: ready-to-merge

#9513 [router] tokenizer arch doc
  sgl-router/src/tokenizer/README.md
Labels: documentation, router

#9498 [router] add right rustls dependency in sgl-router cargo.toml
  sgl-router/Cargo.toml
  sgl-router/src/service_discovery.rs
Labels: bug, dependencies, router

#9576 fix: Update OpenAI client base URL in documentation
  docs/basic_usage/gpt_oss.md
Labels: documentation, ready-to-merge

#9559 Update CUTLASS 4.2 & Enable K-Major Scale Factor for SM90 FP8 Blockwise Group GEMM
  python/sglang/srt/layers/moe/cutlass_moe.py
  python/sglang/test/test_cutlass_moe.py
  sgl-kernel/CMakeLists.txt
  sgl-kernel/csrc/moe/fp8_blockwise_moe_kernel.cu
  sgl-kernel/tests/test_fp8_blockwise_moe.py
Labels: high priority

#9229 bugfix for undefined logging functions in HarmonyBrowserTool & HarmonyPythonTool
  python/sglang/srt/entrypoints/tool.py
Labels: high priority

#9436 [Performance] Batch Send from Tokenizer Manager.
  python/sglang/srt/managers/io_struct.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/managers/tokenizer_manager.py
Labels: high priority

#9190 Fix Harmony reasoning parser for and auto-separation for gpt-oss models
  python/sglang/srt/entrypoints/openai/serving_chat.py
  python/sglang/srt/function_call/gpt_oss_detector.py
  python/sglang/srt/harmony_parser.py
  python/sglang/srt/managers/detokenizer_manager.py
  python/sglang/srt/reasoning_parser.py
  python/sglang/srt/server_args.py
  test/srt/run_suite.py
  test/srt/test_harmony_parser.py
Labels: high priority

#8901 [Fix] HiCache Bugfix & Mooncake Error Handling Enhance
  python/sglang/srt/managers/cache_controller.py
  python/sglang/srt/mem_cache/hicache_storage.py
  python/sglang/srt/mem_cache/memory_pool_host.py
  python/sglang/srt/mem_cache/storage/mooncake_store/README.md
  python/sglang/srt/mem_cache/storage/mooncake_store/mooncake_store.py
Labels: high priority, ready-to-merge

#9622 [router] add mistral tool parser
  sgl-router/src/tool_parser/json_parser.rs
  sgl-router/src/tool_parser/mistral_parser.rs
  sgl-router/src/tool_parser/mod.rs
  sgl-router/src/tool_parser/registry.rs
  sgl-router/src/tool_parser/tests.rs
Labels: feature, router

#9632 [router] add ut for mistral, llama, pythonic, and streaming tool parser
  sgl-router/src/tool_parser/qwen_parser.rs
  sgl-router/tests/tool_parser_edge_cases.rs
  sgl-router/tests/tool_parser_json.rs
  sgl-router/tests/tool_parser_llama.rs
  sgl-router/tests/tool_parser_mistral.rs
  sgl-router/tests/tool_parser_mixed_edge_cases.rs
  sgl-router/tests/tool_parser_pythonic.rs
  sgl-router/tests/tool_parser_qwen.rs
  sgl-router/tests/tool_parser_registry.rs
  sgl-router/tests/tool_parser_streaming.rs
  sgl-router/tests/tool_parser_wrapper_tokens.rs
Labels: enhancement, router, ci

#9658 Fix FA3 swa spec verify topk>1
  python/sglang/srt/layers/attention/flashattention_backend.py
Labels: high priority

#9583 chore: enhance bench_serving for vlms with a new dataset of configurable image count and resolution
  python/sglang/bench_serving.py
Labels: enhancement, ready-to-merge

#9678 fix mooncake store mla zero copy meta
  python/sglang/srt/mem_cache/memory_pool_host.py
Labels: ready-to-merge

#9693 [router] restructure tool parser module folder
  sgl-router/src/tool_parser/mod.rs
  sgl-router/src/tool_parser/parsers/json_parser.rs
  sgl-router/src/tool_parser/parsers/llama_parser.rs
  sgl-router/src/tool_parser/parsers/mistral_parser.rs
  sgl-router/src/tool_parser/parsers/mod.rs
  sgl-router/src/tool_parser/parsers/pythonic_parser.rs
  sgl-router/src/tool_parser/parsers/qwen_parser.rs
  sgl-router/src/tool_parser/registry.rs
  sgl-router/src/tool_parser/tests.rs
Labels: router, clean-up

#9340 [sgl-kernel] misc: update deepgemm version for sgl-kernel
  .github/workflows/pr-test-sgl-kernel.yml
  python/sglang/srt/layers/moe/ep_moe/layer.py
  python/sglang/srt/layers/quantization/deep_gemm_wrapper/compile_utils.py
  python/sglang/srt/layers/quantization/deep_gemm_wrapper/configurer.py
  python/sglang/srt/layers/quantization/deep_gemm_wrapper/entrypoint.py
  python/sglang/srt/layers/quantization/fp8_kernel.py
  python/sglang/srt/layers/quantization/fp8_utils.py
  python/sglang/srt/layers/quantization/mxfp4_tensor.py
  sgl-kernel/CMakeLists.txt
  sgl-kernel/csrc/moe/marlin_moe_wna16/generate_kernels.py
  sgl-kernel/csrc/moe/marlin_moe_wna16/kernel.h
  sgl-kernel/csrc/moe/marlin_moe_wna16/kernel_bf16_ku4.cu
  sgl-kernel/csrc/moe/marlin_moe_wna16/kernel_bf16_ku4b8.cu
  sgl-kernel/csrc/moe/marlin_moe_wna16/kernel_bf16_ku8b128.cu
  sgl-kernel/csrc/moe/marlin_moe_wna16/kernel_fp16_ku4.cu
  sgl-kernel/csrc/moe/marlin_moe_wna16/kernel_fp16_ku4b8.cu
  sgl-kernel/csrc/moe/marlin_moe_wna16/kernel_fp16_ku8b128.cu
  sgl-kernel/csrc/moe/marlin_moe_wna16/kernel_marlin.cuh
  sgl-kernel/csrc/moe/marlin_moe_wna16/marlin_template.h
  sgl-kernel/csrc/moe/marlin_moe_wna16/ops.cu
  sgl-kernel/csrc/moe/moe_topk_softmax_kernels.cu
  sgl-kernel/pyproject.toml
  sgl-kernel/pyproject_cpu.toml
  sgl-kernel/pyproject_rocm.toml
  sgl-kernel/python/sgl_kernel/version.py
Labels: bug, enhancement, high priority, collaboration, dependencies

#9720 [router] upgrade kernel version in pd ci
  .github/workflows/pr-test-pd-router.yml
Labels: router, ci

#9505 [router] fix error response in pd_router
  sgl-router/src/routers/pd_router.rs
Labels: bug, router

#9730 [router] additional pythonic parser unit test
  sgl-router/tests/tool_parser_pythonic.rs
Labels: router, ci

#9732 [router] additional llama32 parser unit test and multi json support
  sgl-router/src/tool_parser/parsers/json_parser.rs
  sgl-router/tests/tool_parser_llama.rs
Labels: enhancement, router, ci

#9739 add support for nvidia/gpt-oss-120b-Eagle3
  python/sglang/srt/models/llama_eagle3.py
  python/sglang/srt/speculative/eagle_worker.py
Labels: high priority, speculative-decoding, ready-to-merge

#9573 Support speculative decoding in hybrid attention backend
  python/sglang/srt/layers/attention/hybrid_attn_backend.py
  python/sglang/srt/model_executor/model_runner.py
  test/srt/test_hybrid_attn_backend.py
Labels: high priority

#9735 [router] add llama3.2 multi json streaming parser
  sgl-router/src/tool_parser/parsers/json_parser.rs
  sgl-router/tests/tool_parser_llama.rs
Labels: enhancement, router

#8750 Optimize prefill performance on cpu backend
  sgl-kernel/csrc/cpu/common.h
  sgl-kernel/csrc/cpu/gemm.cpp
  sgl-kernel/csrc/cpu/gemm.h
  sgl-kernel/csrc/cpu/gemm_fp8.cpp
  sgl-kernel/csrc/cpu/gemm_int8.cpp
  sgl-kernel/csrc/cpu/moe.cpp
  sgl-kernel/csrc/cpu/moe_fp8.cpp
  sgl-kernel/csrc/cpu/moe_int8.cpp
  sgl-kernel/csrc/cpu/qkv_proj.cpp
Labels: high priority, sgl-kernel, ready-to-merge, intel, cpu

#9772 [HiCache] change the default policy to write through
  docs/advanced_features/server_arguments.md
  python/sglang/srt/server_args.py
Labels: ready-to-merge

#9749 bugfix(hicache): Move exists check before key suffixing
  python/sglang/srt/mem_cache/hicache_storage.py
Labels: ready-to-merge

#9216 [feat] Support EAGLE3 for Qwen2
  python/sglang/srt/models/qwen2.py
  python/sglang/srt/models/qwen2_moe.py
Labels: high priority

#9809 Small bug fix in transformers model implementation
  python/sglang/srt/models/transformers.py
Labels: bug

#9837 [router] add reasoning parser readme
  sgl-router/src/reasoning_parser/README.md
Labels: documentation, router

#9835 Tool parser.benchmark
  .github/workflows/pr-test-pd-router.yml
  sgl-router/Cargo.toml
  sgl-router/benches/tool_parser_benchmark.rs
Labels: router, ci, benchmark

#9840 [router] global tool parser registry
  sgl-router/Cargo.toml
  sgl-router/src/tool_parser/parsers/pythonic_parser.rs
  sgl-router/src/tool_parser/registry.rs
  sgl-router/src/tool_parser/tests.rs
Labels: enhancement, router

#8909 [feat]Ascend NPU Gemma-3-12b and Gemma-3-27b support
  python/sglang/srt/layers/activation.py
  python/sglang/srt/layers/attention/ascend_backend.py
  python/sglang/srt/layers/layernorm.py
  python/sglang/srt/layers/rotary_embedding.py
  python/sglang/srt/managers/mm_utils.py
  python/sglang/srt/multimodal/processors/base_processor.py
Labels: ready-to-merge

#9797 [HiCache] Storage Refactoring
  python/sglang/srt/managers/cache_controller.py
  python/sglang/srt/mem_cache/hiradix_cache.py
  python/sglang/srt/mem_cache/radix_cache.py
Labels: high priority, ready-to-merge
