Repository sgl-project/sglang, pull requests merged in 2025-01, with the labels that each got.

#2150 Eagle speculative decoding part 4: Add EAGLE2 worker
  examples/runtime/engine/EAGLE_offline_batch_inference.py
  python/sglang/srt/speculative/build_eagle_tree.py
  python/sglang/srt/speculative/eagle_utils.py
  python/sglang/srt/speculative/eagle_worker.py
  test/srt/run_suite.py
  test/srt/test_eagle_infer.py
Labels: high priority

#2601 [Feature, Hardware] Enable DeepseekV3 on AMD GPUs
  python/sglang/srt/layers/attention/triton_ops/decode_attention.py
  python/sglang/srt/layers/moe/fused_moe_triton/fused_moe.py
Labels: bug, high priority, amd

#2535 Enable Nvidia's ModelOpt fp8 quantized models
  python/sglang/srt/layers/linear.py
  python/sglang/srt/layers/modelopt_quant.py
  python/sglang/srt/layers/quantization/__init__.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/server_args.py
Labels: high priority, quant

#2513 Add generator-style run_batch function
  python/sglang/lang/interpreter.py
  python/sglang/lang/ir.py
  python/sglang/test/test_programs.py
Labels: await-response

#2852 Update base image for ROCm
  docker/Dockerfile.rocm
Labels: good first issue, amd

#2828 Integration of TurboMind AWQ
  python/pyproject.toml
  python/sglang/srt/configs/model_config.py
  python/sglang/srt/layers/linear.py
  python/sglang/srt/layers/quantization/__init__.py
  python/sglang/srt/layers/quantization/awq_turbomind.py
  python/sglang/srt/layers/quantization/turbomind_utils.py
  python/sglang/srt/server_args.py
  test/srt/test_turbomind_awq.py
Labels: enhancement, high priority, quant

#2881 Support w8a8 int8 quantization config
  python/sglang/srt/configs/model_config.py
  python/sglang/srt/layers/quantization/__init__.py
  python/sglang/srt/layers/quantization/w8a8_int8.py
  python/sglang/srt/server_args.py
Labels: enhancement, high priority, performance, quant

#2511 adapt custom allreduce for tensorrt llm
  python/pyproject.toml
  python/sglang/srt/_custom_ops.py
  python/sglang/srt/distributed/device_communicators/custom_all_reduce.py
  test/srt/run_suite.py
  test/srt/test_custom_allreduce.py
Labels: high priority

#2981 add config to swtich from vllm custom allreduce to sgl_kernel custom allreduce
  python/sglang/srt/_custom_ops.py
  python/sglang/srt/distributed/device_communicators/custom_all_reduce.py
Labels: high priority

#2396 [Feature] Add sampler custom logits processor
  python/sglang/srt/layers/sampler.py
  python/sglang/srt/managers/io_struct.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/managers/session_controller.py
  python/sglang/srt/managers/tokenizer_manager.py
  python/sglang/srt/sampling/custom_logit_processor.py
  python/sglang/srt/sampling/sampling_batch_info.py
  python/sglang/srt/sampling/sampling_params.py
  python/sglang/srt/server.py
  python/sglang/srt/server_args.py
  test/srt/test_srt_endpoint.py
Labels: await-response

#3130 feat: refactor sgl-kernel and use TORCH_LIBRARY instead of PYBIND11_MODULE for custom ops
  sgl-kernel/developer_guide.md
  sgl-kernel/setup.py
  sgl-kernel/src/sgl-kernel/include/sgl_kernels_ops.h
  sgl-kernel/src/sgl-kernel/include/trt_reduce_internal.cuh
  sgl-kernel/src/sgl-kernel/include/utils.h
  sgl-kernel/src/sgl-kernel/ops/__init__.py
  sgl-kernel/src/sgl-kernel/torch_extension.cc
Labels: high priority

#3047 support w8a8 fp8 kernel with CUTLASS
  sgl-kernel/benchmark/bench_fp8_gemm.py
  sgl-kernel/setup.py
  sgl-kernel/src/sgl-kernel/__init__.py
  sgl-kernel/src/sgl-kernel/csrc/fp8_gemm_kernel.cu
  sgl-kernel/src/sgl-kernel/include/sgl_kernels_ops.h
  sgl-kernel/src/sgl-kernel/ops/__init__.py
  sgl-kernel/src/sgl-kernel/torch_extension.cc
  sgl-kernel/tests/test_fp8_gemm.py
Labels: high priority

#3221 [Docs] Add more details to profiling docs
  docs/references/benchmark_and_profiling.md
Labels: documentation
