Repository sgl-project/sglang, pull requests merged in 2025-07, with the labels that each got.

#7486 [CPU] remove process_group from inputs of shm_allreduce and shm_allgather
  sgl-kernel/csrc/cpu/interface.cpp
  sgl-kernel/csrc/cpu/torch_extension_cpu.cpp
Labels: sgl-kernel, intel, cpu

#7642 Improve error handling for requests with unloaded LoRA path(s)
  python/sglang/srt/managers/tokenizer_manager.py
  python/sglang/srt/server_args.py
  test/srt/models/lora/test_lora_update.py
Labels: ready-to-merge

#6549 [CPU] Bind threads and numa node for each TP rank
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/utils.py
Labels: intel, cpu

#7462 Support non-contiguous query input for extend/decode attention
  sgl-kernel/csrc/cpu/decode.cpp
  sgl-kernel/csrc/cpu/extend.cpp
  test/srt/cpu/test_decode.py
  test/srt/cpu/test_extend.py
Labels: sgl-kernel, intel, cpu

#6698 Support updating weights at once by stopping all requests
  python/sglang/srt/entrypoints/http_server.py
  python/sglang/srt/entrypoints/openai/protocol.py
  python/sglang/srt/managers/io_struct.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/managers/tokenizer_manager.py
  test/srt/test_abort.py
  test/srt/test_update_weights_from_disk.py
Labels: high priority

#7722 Ascend attention backend(PA&MLA)
  docs/backend/attention_backend.md
  python/sglang/srt/layers/attention/ascend_backend.py
  python/sglang/srt/layers/moe/ep_moe/layer.py
  python/sglang/srt/layers/moe/fused_moe_triton/layer.py
  python/sglang/srt/layers/moe/topk.py
  python/sglang/srt/layers/rotary_embedding.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/mem_cache/allocator.py
  python/sglang/srt/mem_cache/memory_pool.py
  python/sglang/srt/model_executor/forward_batch_info.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/models/deepseek_v2.py
  python/sglang/srt/server_args.py
  python/sglang/srt/utils.py
  test/srt/run_suite.py
  test/srt/test_ascend_attention_backend.py
  test/srt/test_ascend_mla_backend.py
Labels: npu

#7647 [CPU] refine CPU integration code
  python/sglang/srt/layers/amx_utils.py
  python/sglang/srt/layers/linear.py
  python/sglang/srt/layers/logits_processor.py
  python/sglang/srt/layers/moe/fused_moe_triton/layer.py
  python/sglang/srt/layers/quantization/fp8.py
  python/sglang/srt/layers/quantization/w8a8_int8.py
  python/sglang/srt/layers/vocab_parallel_embedding.py
  python/sglang/srt/models/deepseek_v2.py
  python/sglang/srt/utils.py
Labels: intel, cpu

#6771 [CPU] support the case where num_attention_heads or intermediate_size is not divisible by the TP size
  python/sglang/srt/configs/update_config.py
  python/sglang/srt/layers/linear.py
  python/sglang/srt/layers/moe/fused_moe_triton/layer.py
  python/sglang/srt/layers/parameter.py
  python/sglang/srt/layers/vocab_parallel_embedding.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/model_loader/weight_utils.py
  python/sglang/srt/models/mllama4.py
  python/sglang/srt/models/qwen2.py
  python/sglang/srt/utils.py
Labels: intel, cpu

#7754 fix CI: update native api ipynb
  docs/backend/native_api.ipynb
Labels: ready-to-merge

#7751 fuse renormal into moe topk softmax kernel python code
  python/pyproject.toml
  python/sglang/srt/entrypoints/engine.py
  python/sglang/srt/layers/moe/topk.py
Labels: high priority

#7778 [Fix] Alloc return type error
  python/sglang/srt/disaggregation/utils.py
Labels: ready-to-merge

#7705 saving hidden_states.clone()
  python/sglang/srt/layers/logits_processor.py
  python/sglang/srt/models/deepseek_v2.py
Labels: ready-to-merge

#7782 Optimize Hopper CUTLASS FP8 Blockwise Grouped GEMM Kernel in Small K Scenario
  sgl-kernel/csrc/moe/fp8_blockwise_moe_kernel.cu
Labels: high priority

#7444 fix: fix apply_shuffle_mul_sum
  sgl-kernel/csrc/moe/prepare_moe_input.cu
Labels: ready-to-merge

#7222 DP Attention with Auto DeepEP Dispatch
  python/sglang/srt/disaggregation/decode.py
  python/sglang/srt/disaggregation/prefill.py
  python/sglang/srt/layers/moe/ep_moe/layer.py
  python/sglang/srt/layers/moe/ep_moe/token_dispatcher.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/model_executor/forward_batch_info.py
  python/sglang/srt/models/deepseek_v2.py
  python/sglang/srt/models/qwen3_moe.py
  python/sglang/srt/server_args.py
  python/sglang/srt/two_batch_overlap.py
  python/sglang/srt/utils.py
  test/srt/test_hybrid_dp_ep_tp_mtp.py
Labels: high priority

#7790 [fix] fix misusing of is_cuda
  python/sglang/srt/models/deepseek_v2.py
Labels: ready-to-merge

#7792 ci: fix port args
  test/srt/test_server_args.py
Labels: ready-to-merge

#7799 Fix CI test OOM issue.
  test/srt/models/lora/test_lora_update.py
Labels: ready-to-merge

#7796 [misc] remove pdlb rust
  sgl-pdlb/.rustfmt.toml
  sgl-pdlb/Cargo.toml
  sgl-pdlb/README.md
  sgl-pdlb/py_src/sgl_pdlb/__init__.py
  sgl-pdlb/pyproject.toml
  sgl-pdlb/src/io_struct.rs
  sgl-pdlb/src/lb_state.rs
  sgl-pdlb/src/lib.rs
  sgl-pdlb/src/main.rs
  sgl-pdlb/src/server.rs
  sgl-pdlb/src/strategy_lb.rs
Labels: ready-to-merge

#7733 [RL] Fix illegal memory for _import_static_state
  python/sglang/srt/managers/scheduler.py
Labels: high priority

#6094 Log the timestamps of each prefill/decode iteration
  python/sglang/srt/managers/scheduler.py
Labels: ready-to-merge

#7762 feat: support DeepSeek-R1-W4AFP8 model with ep-moe mode
  python/sglang/srt/configs/model_config.py
  python/sglang/srt/layers/moe/cutlass_w4a8_moe.py
  python/sglang/srt/layers/moe/ep_moe/kernels.py
  python/sglang/srt/layers/moe/ep_moe/layer.py
  python/sglang/srt/layers/quantization/__init__.py
  python/sglang/srt/layers/quantization/fp8.py
  python/sglang/srt/layers/quantization/w4afp8.py
  python/sglang/srt/models/deepseek_v2.py
  python/sglang/srt/server_args.py
  python/sglang/test/test_cutlass_w4a8_moe.py
Labels: high priority

#7129 Enable ModelOpt Llama4 fp8 checkpoint deployment in SGLang
  python/sglang/srt/layers/moe/fused_moe_triton/layer.py
  python/sglang/srt/layers/quantization/modelopt_quant.py
  python/sglang/srt/models/mllama4.py
Labels: high priority

#7818 [CPU]convert topk_weights to fp32 for INT8 and FP8 paths (for llama4) and fix LmHead weight pack
  python/sglang/srt/layers/moe/fused_moe_triton/layer.py
  python/sglang/srt/layers/vocab_parallel_embedding.py
  sgl-kernel/csrc/cpu/moe.cpp
Labels: intel, cpu

#7608 [feature] Add start step profile argument in /start_profile
  python/sglang/srt/entrypoints/http_server.py
  python/sglang/srt/managers/io_struct.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/managers/tokenizer_manager.py
  test/srt/run_suite.py
  test/srt/test_start_profile.py
Labels: high priority

#7791 [feature]Ascend quantization support
  python/sglang/srt/configs/model_config.py
  python/sglang/srt/layers/linear.py
  python/sglang/srt/layers/moe/ep_moe/layer.py
  python/sglang/srt/layers/moe/fused_moe_triton/layer.py
  python/sglang/srt/layers/moe/topk.py
  python/sglang/srt/layers/quantization/moe_wna16.py
  python/sglang/srt/layers/quantization/w8a8_int8.py
  python/sglang/srt/mem_cache/memory_pool.py
  python/sglang/srt/model_loader/loader.py
  python/sglang/srt/models/llama.py
  python/sglang/srt/models/mixtral_quant.py
  python/sglang/srt/models/qwen2.py
  python/sglang/srt/utils.py
Labels: high priority

#7795 [feature] kv transfer support of ascend npu
  docs/backend/pd_disaggregation.md
  python/sglang/srt/disaggregation/ascend/__init__.py
  python/sglang/srt/disaggregation/ascend/conn.py
  python/sglang/srt/disaggregation/ascend/transfer_engine.py
  python/sglang/srt/disaggregation/mooncake/conn.py
  python/sglang/srt/disaggregation/mooncake/transfer_engine.py
  python/sglang/srt/disaggregation/utils.py
  python/sglang/srt/managers/tokenizer_manager.py
  python/sglang/srt/mem_cache/memory_pool.py
  python/sglang/srt/server_args.py
Labels: high priority

#7968 Revert "[PD Disaggregation] replace transfer with batch transfer for better performance (#7236)"
  python/sglang/srt/disaggregation/mooncake/conn.py
Labels: bug, high priority

#7960 [router] add worker abstraction
  sgl-router/Cargo.toml
  sgl-router/src/core/error.rs
  sgl-router/src/core/mod.rs
  sgl-router/src/core/worker.rs
  sgl-router/src/lib.rs
  sgl-router/src/pd_router.rs
  sgl-router/src/pd_types.rs
  sgl-router/src/router.rs
  sgl-router/src/server.rs
  sgl-router/src/service_discovery.rs
  sgl-router/tests/test_pd_routing.rs
Labels: enhancement, router

#7367 [WIP] SWA Prefix Cache
  python/sglang/srt/configs/model_config.py
  python/sglang/srt/disaggregation/decode.py
  python/sglang/srt/layers/attention/flashinfer_backend.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/managers/schedule_policy.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/managers/tp_worker.py
  python/sglang/srt/managers/tp_worker_overlap_thread.py
  python/sglang/srt/mem_cache/allocator.py
  python/sglang/srt/mem_cache/base_prefix_cache.py
  python/sglang/srt/mem_cache/chunk_cache.py
  python/sglang/srt/mem_cache/swa_radix_cache.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/models/gemma2.py
  python/sglang/srt/server_args.py
  test/srt/test_swa_unittest.py
Labels: high priority

#7862 Support for Phi-1.5 & Phi-2 models
  docs/supported_models/generative_models.md
  python/sglang/srt/layers/activation.py
  python/sglang/srt/models/phi.py
  test/srt/models/test_generation_models.py
Labels: ready-to-merge

#8010 [CPU] fix no attribute 'can_fuse_mlp_allreduce' error
  python/sglang/srt/models/deepseek_v2.py
Labels: intel, cpu

#5163 feat: replace Decord with video_reader-rs
  python/pyproject.toml
  python/sglang/check_env.py
  python/sglang/srt/multimodal/processors/base_processor.py
  python/sglang/srt/multimodal/processors/internvl.py
  python/sglang/srt/multimodal/processors/qwen_vl.py
  python/sglang/srt/utils.py
Labels: high priority

#7760 Fix different device type adjustment in PP
  python/sglang/srt/distributed/parallel_state.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/managers/tp_worker.py
  python/sglang/srt/utils.py
Labels: high priority, ready-to-merge

#8098 [misc] update nvshmem and pin deepEP commit hash
  docker/Dockerfile
Labels: dependencies

#7992 [1/n] chore: decouple quantization implementation from vLLM dependency
  python/sglang/srt/layers/moe/fused_moe_triton/__init__.py
  python/sglang/srt/layers/quantization/__init__.py
  python/sglang/srt/layers/quantization/gptq.py
  python/sglang/srt/layers/quantization/marlin_utils.py
  python/sglang/srt/layers/quantization/moe_wna16.py
  python/sglang/srt/layers/quantization/quant_utils.py
  python/sglang/srt/layers/quantization/scalar_type.py
  python/sglang/srt/layers/quantization/utils.py
  sgl-kernel/python/sgl_kernel/fused_moe.py
  sgl-kernel/tests/test_marlin_repack.py
  test/srt/test_gptqmodel_dynamic.py
  test/srt/test_int4_kernel.py
  test/srt/test_w4a8.py
Labels: high priority

#8105 [ci] recover 8-gpu deepep test
  .github/workflows/pr-test.yml
  scripts/ci_install_deepep.sh
  test/srt/test_deepep_large.py
  test/srt/test_deepep_small.py
Labels: ready-to-merge

#7506 load draft model fix
  python/sglang/srt/model_loader/loader.py
Labels: ready-to-merge

#8113 [3/n] chore: decouple AWQ implementation from vLLM dependency
  benchmark/deepseek_v3/README.md
  python/sglang/srt/layers/quantization/__init__.py
  python/sglang/srt/layers/quantization/awq.py
  python/sglang/srt/layers/quantization/utils.py
  python/sglang/srt/models/deepseek_v2.py
  python/sglang/test/test_marlin_moe.py
  python/sglang/test/test_marlin_utils.py
  test/srt/test_gptqmodel_dynamic.py
Labels: high priority, ready-to-merge

#7987 [router] Refactor router and policy traits with dependency injection
  .github/workflows/pr-test-pd-router.yml
  scripts/ci_start_disaggregation_servers.sh
  sgl-router/benches/request_processing.rs
  sgl-router/py_test/test_launch_router.py
  sgl-router/src/config/types.rs
  sgl-router/src/config/validation.rs
  sgl-router/src/lib.rs
  sgl-router/src/policies/cache_aware.rs
  sgl-router/src/policies/factory.rs
  sgl-router/src/policies/mod.rs
  sgl-router/src/policies/power_of_two.rs
  sgl-router/src/policies/random.rs
  sgl-router/src/policies/round_robin.rs
  sgl-router/src/router.rs
  sgl-router/src/routers/factory.rs
  sgl-router/src/routers/mod.rs
  sgl-router/src/routers/pd_router.rs
  sgl-router/src/routers/pd_types.rs
  sgl-router/src/routers/request_adapter.rs
  sgl-router/src/routers/router.rs
  sgl-router/src/server.rs
  sgl-router/src/service_discovery.rs
  sgl-router/tests/benchmark_integration.rs
  sgl-router/tests/test_pd_routing.rs
Labels: enhancement, feature, router

#7302 Support NVFP4 quantized dense models on AMD CDNA2/CDNA3 GPUs
  python/pyproject.toml
  python/sglang/srt/configs/model_config.py
  python/sglang/srt/layers/linear.py
  python/sglang/srt/layers/quantization/__init__.py
  python/sglang/srt/layers/quantization/petit.py
  python/sglang/srt/layers/quantization/petit_utils.py
  python/sglang/srt/server_args.py
Labels: high priority

#8048 Feat: Support audio in Phi4-mm model
  docs/supported_models/multimodal_language_models.md
  python/sglang/srt/conversation.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/models/phi4mm.py
  python/sglang/srt/models/phi4mm_audio.py
  python/sglang/srt/models/phi4mm_utils.py
  python/sglang/srt/multimodal/processors/base_processor.py
  python/sglang/srt/multimodal/processors/phi4mm.py
  python/sglang/srt/utils.py
  test/srt/test_vision_openai_server_b.py
  test/srt/test_vision_openai_server_common.py
Labels: ready-to-merge

#8160 [router] allow router to have empty workers
  sgl-router/py_src/sglang_router/launch_router.py
  sgl-router/py_test/test_launch_router.py
Labels: bug, router, ready-to-merge

#8019 Support start up LoRA server without initial adapters
  docs/backend/lora.ipynb
  docs/backend/server_arguments.md
  python/sglang/srt/lora/lora_manager.py
  python/sglang/srt/managers/tokenizer_manager.py
  python/sglang/srt/model_executor/cuda_graph_runner.py
  python/sglang/srt/model_executor/forward_batch_info.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/server_args.py
  python/sglang/srt/utils.py
  python/sglang/test/runners.py
  test/srt/models/lora/test_lora_update.py
  test/srt/run_suite.py
Labels: feature, lora

#8115 [Feature] Simple Improve Health Check Mechanism for Production-Grade Stability
  python/sglang/srt/entrypoints/engine.py
  python/sglang/srt/entrypoints/http_server.py
  python/sglang/srt/managers/io_struct.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/managers/tokenizer_manager.py
  python/sglang/srt/utils.py
Labels: high priority

#6230 Enable FlashInfer support encoder models and add head_dim padding workaround
  python/sglang/srt/layers/attention/flashinfer_backend.py
  test/srt/models/test_encoder_embedding_models.py
Labels: ready-to-merge

#7825 fix moe gate dtype, fix tbo, fix fake dispatch
  python/sglang/srt/eplb/expert_location_dispatch.py
  python/sglang/srt/layers/moe/topk.py
  python/sglang/srt/models/deepseek_v2.py
Labels: high priority

#8067 fix: fix the bug of loading Internvl3
  python/sglang/srt/configs/internvl.py
Labels: MLLM

#8288 HiCache Fix
  python/sglang/srt/managers/cache_controller.py
  python/sglang/srt/model_executor/model_runner.py
Labels: ready-to-merge

#8295 [router] add common ut infra to mock worker and app
  sgl-router/Cargo.toml
  sgl-router/tests/common/mock_worker.rs
  sgl-router/tests/common/mod.rs
Labels: router, ready-to-merge, ci

#8262 fix: match chat-template for internvl3
  python/sglang/srt/conversation.py
Labels: MLLM, ready-to-merge

#8240 Fix gemma3n with hybrid swa
  python/sglang/srt/model_executor/model_runner.py
  test/srt/run_suite.py
  test/srt/test_vision_openai_server_b.py
Labels: high priority, MLLM, ready-to-merge

#7685 fix: prevent crashes due to logit bias dimension mismatch
  python/sglang/srt/sampling/sampling_batch_info.py
  python/sglang/srt/speculative/eagle_utils.py
Labels: high priority

#8043 feat(function call): complete utility method for KimiK2Detector and enhance documentation
  python/sglang/srt/function_call/base_format_detector.py
  python/sglang/srt/function_call/deepseekv3_detector.py
  python/sglang/srt/function_call/kimik2_detector.py
  python/sglang/srt/function_call/llama32_detector.py
  python/sglang/srt/function_call/mistral_detector.py
  python/sglang/srt/function_call/pythonic_detector.py
  python/sglang/srt/function_call/qwen25_detector.py
  test/srt/test_function_call_parser.py
Labels: ready-to-merge

#7562 Fix incomplete tool call capture issue in streaming response of DeepSeek-V3 when enable MTP
  python/sglang/srt/function_call/deepseekv3_detector.py
  test/srt/test_function_call_parser.py
Labels: ready-to-merge

#8298 [router] add endpoint unit test
  sgl-router/tests/api_endpoints_test.rs
  sgl-router/tests/common/mock_worker.rs
Labels: router, ci

#8301 chore: upgrade flashinfer v0.2.9rc1
  python/pyproject.toml
  python/sglang/srt/entrypoints/engine.py
Labels: high priority

#8299 [router] add streaming unit test
  sgl-router/tests/streaming_tests.rs
Labels: router, ci

#8300 [router] add request format unit test
  sgl-router/tests/request_formats_test.rs
Labels: router, ci

#8307 HiCache Storage TP Refinement
  python/sglang/srt/managers/cache_controller.py
  python/sglang/srt/mem_cache/hicache_storage.py
  python/sglang/srt/mem_cache/hiradix_cache.py
  python/sglang/srt/mem_cache/memory_pool_host.py
Labels: ready-to-merge

#8334 breakdown kernel update
  sgl-kernel/python/sgl_kernel/kvcacheio.py
  sgl-kernel/tests/test_kvcacheio.py
Labels: ready-to-merge

#6619 [Feature] Integrate quick allreduce and select the best allreduce implementation
  python/sglang/srt/_custom_ops.py
  python/sglang/srt/distributed/device_communicators/custom_all_reduce.py
  python/sglang/srt/distributed/device_communicators/custom_all_reduce_utils.py
  python/sglang/srt/distributed/device_communicators/quick_all_reduce.py
  python/sglang/srt/distributed/parallel_state.py
  sgl-kernel/csrc/allreduce/quick_all_reduce.cu
  sgl-kernel/csrc/allreduce/quick_all_reduce.cuh
  sgl-kernel/csrc/allreduce/quick_all_reduce.h
  sgl-kernel/csrc/allreduce/quick_all_reduce_base.h
  sgl-kernel/csrc/torch_extension_rocm.cc
  sgl-kernel/include/sgl_kernel_ops.h
  sgl-kernel/python/sgl_kernel/allreduce.py
  sgl-kernel/setup_rocm.py
  test/srt/test_quick_allreduce.py
Labels: good first issue, high priority, amd

#7135 [AMD] Add silu_and_mul, gelu_and_mul, gelu_tanh_and_mul, and gelu_quick kernels for AMD GPUs
  python/sglang/srt/layers/activation.py
  python/sglang/test/test_activation.py
  sgl-kernel/benchmark/bench_activation.py
  sgl-kernel/csrc/common_extension.cc
  sgl-kernel/csrc/elementwise/activation.cu
  sgl-kernel/csrc/torch_extension_rocm.cc
  sgl-kernel/include/hip_act_and_mul.cuh
  sgl-kernel/include/hip_math_def.h
  sgl-kernel/include/hip_vec_dtypes.h
  sgl-kernel/include/impl/hip_vec_bf16_impl.h
  sgl-kernel/include/impl/hip_vec_fp32_impl.h
  sgl-kernel/include/impl/hip_vec_half_impl.h
  sgl-kernel/include/sgl_kernel_ops.h
  sgl-kernel/include/utils.h
  sgl-kernel/python/sgl_kernel/__init__.py
  sgl-kernel/python/sgl_kernel/elementwise.py
  sgl-kernel/setup_rocm.py
Labels: high priority, amd

#8000 [CPU] Add tutorial docs for SGL on CPU
  docs/references/cpu.md
  docs/references/deepseek.md
  docs/references/hardware.rst
  docs/start/install.md
Labels: ready-to-merge, intel, cpu

#8305 chore: bump v0.4.9.post4
  benchmark/deepseek_v3/README.md
  docs/references/setup_github_runner.md
  docs/start/install.md
  python/pyproject.toml
  python/sglang/version.py
Labels: high priority

#7000 chore: improve mmmu benchmark
  benchmark/mmmu/bench_sglang.py
  benchmark/mmmu/eval_utils.py
Labels: ready-to-merge

#7737 chore: improvements on mm_utils
  python/sglang/srt/managers/mm_utils.py
Labels: performance, ready-to-merge

#6003 vlm: optimize tensor transport
  python/sglang/srt/managers/mm_utils.py
  python/sglang/srt/managers/multimodal_processor.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/managers/tokenizer_manager.py
  python/sglang/srt/multimodal/processors/base_processor.py
  python/sglang/srt/multimodal/processors/clip.py
  python/sglang/srt/multimodal/processors/deepseek_vl_v2.py
  python/sglang/srt/multimodal/processors/gemma3.py
  python/sglang/srt/multimodal/processors/gemma3n.py
  python/sglang/srt/multimodal/processors/internvl.py
  python/sglang/srt/multimodal/processors/janus_pro.py
  python/sglang/srt/multimodal/processors/kimi_vl.py
  python/sglang/srt/multimodal/processors/llava.py
  python/sglang/srt/multimodal/processors/minicpm.py
  python/sglang/srt/multimodal/processors/mlama.py
  python/sglang/srt/multimodal/processors/mllama4.py
  python/sglang/srt/multimodal/processors/phi4mm.py
  python/sglang/srt/multimodal/processors/pixtral.py
  python/sglang/srt/multimodal/processors/qwen_audio.py
  python/sglang/srt/multimodal/processors/qwen_vl.py
  python/sglang/srt/multimodal/processors/vila.py
  python/sglang/utils.py
  test/srt/test_vlm_input_format.py
Labels: Multi-modal, ready-to-merge

#8350 model: support intern-s1
  python/sglang/lang/chat_template.py
  python/sglang/srt/configs/internvl.py
  python/sglang/srt/configs/model_config.py
  python/sglang/srt/conversation.py
  python/sglang/srt/layers/attention/vision.py
  python/sglang/srt/layers/layernorm.py
  python/sglang/srt/models/interns1.py
  python/sglang/srt/models/internvl.py
  python/sglang/srt/models/qwen3_moe.py
  python/sglang/srt/multimodal/processors/internvl.py
Labels: high priority

#8314 Add perf tests for LoRA
  .github/workflows/pr-test.yml
  python/sglang/test/test_utils.py
  test/srt/test_bench_serving.py
Labels: ready-to-merge

#8396 Remove slot usage in code to be backward-compatible with python 3.9
  python/sglang/srt/lora/lora_registry.py
Labels: bug

#8392 Update Cutlass in sgl-kernel to v4.1
  sgl-kernel/CMakeLists.txt
  sgl-kernel/csrc/cutlass_extensions/gemm/collective/sm90_mma_array_tma_gmma_rs_warpspecialized_mixed_input_.hpp
Labels: high priority

#8382 fix: minor fix TransportProxyTensor under tp
  python/sglang/srt/managers/mm_utils.py
Labels: bug

#7720 fix: fix the missing metrics on non-rank0 nodes
  python/sglang/srt/entrypoints/engine.py
  python/sglang/srt/utils.py
Labels: ready-to-merge

#8397 [2/N] MoE Refactor: Unify weight loader and quant methods
  python/sglang/srt/layers/moe/ep_moe/layer.py
  python/sglang/srt/layers/moe/fused_moe_triton/layer.py
  python/sglang/srt/layers/quantization/fp8.py
  python/sglang/srt/layers/quantization/unquant.py
  python/sglang/srt/layers/quantization/w4afp8.py
Labels: high priority

#8156 Support precomputed_embeddings for Llama 4
  .pre-commit-config.yaml
  docs/backend/vlm_query.ipynb
  docs/index.rst
  python/sglang/srt/layers/multimodal.py
  python/sglang/srt/multimodal/processors/mllama4.py
  test/srt/test_vlm_input_format.py
Labels: Multi-modal, ready-to-merge

#8316 Fix: Improve test_openai_function_calling unit test and fix reasoning_parser.py think_start_token logic
  python/sglang/srt/entrypoints/openai/serving_chat.py
  python/sglang/srt/reasoning_parser.py
  test/srt/openai_server/function_call/test_openai_function_calling.py
Labels: high priority

#6338 [feat] Support different attention backends for prefill and decode
  docs/backend/server_arguments.md
  python/sglang/srt/layers/attention/hybrid_attn_backend.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/models/deepseek_v2.py
  python/sglang/srt/server_args.py
  python/sglang/test/runners.py
  test/srt/run_suite.py
  test/srt/test_hybrid_attn_backend.py
Labels: high priority

#8416 chore: bump transformer to 4.54.0
  .github/workflows/vllm-dependency-test.yml
  python/pyproject.toml
  python/sglang/srt/models/llava.py
  python/sglang/srt/models/minicpmo.py
  test/srt/models/test_generation_models.py
  test/srt/test_vision_openai_server_b.py
  test/srt/test_vlm_input_format.py
Labels: high priority

#8224 GLM-4.5 Model Support
  benchmark/kernels/fused_moe_triton/benchmark_sglang_fused_moe_triton.py
  benchmark/kernels/fused_moe_triton/benchmark_vllm_vs_sglang_fused_moe_triton.py
  python/sglang/srt/configs/model_config.py
  python/sglang/srt/function_call/ebnf_composer.py
  python/sglang/srt/function_call/function_call_parser.py
  python/sglang/srt/function_call/glm4_moe_detector.py
  python/sglang/srt/models/glm4_moe.py
  python/sglang/srt/models/glm4_moe_nextn.py
  python/sglang/srt/reasoning_parser.py
  python/sglang/srt/server_args.py
  python/sglang/srt/utils.py
  test/srt/openai_server/features/test_enable_thinking.py
  test/srt/openai_server/function_call/test_openai_function_calling.py
  test/srt/test_function_call_parser.py
Labels: high priority

#8477 [CI]Add genai-bench Performance Validation for PD Router
  .github/workflows/pr-test-pd-router.yml
  scripts/ci_start_disaggregation_servers.sh
Labels: router, ci

#8498 feat(hicache): support file backend reading directory config form env.
  python/sglang/srt/mem_cache/hicache_storage.py
Labels: ready-to-merge

#8516 feature(pd-hicache): Prefill instances support reusing the RemoteStorage Cache via HiCache.
  python/sglang/srt/managers/scheduler.py
Labels: ready-to-merge

#7280 Add hf3fs support for hicache storage (based on #7704)
  benchmark/hf3fs/bench.sh
  benchmark/hf3fs/bench_client.py
  benchmark/hf3fs/bench_storage.py
  python/sglang/srt/managers/cache_controller.py
  python/sglang/srt/mem_cache/hiradix_cache.py
  python/sglang/srt/mem_cache/memory_pool_host.py
  python/sglang/srt/mem_cache/storage/hf3fs/README.md
  python/sglang/srt/mem_cache/storage/hf3fs/client_hf3fs.py
  python/sglang/srt/mem_cache/storage/hf3fs/hf3fs_utils.cpp
  python/sglang/srt/mem_cache/storage/hf3fs/storage_hf3fs.py
  python/sglang/srt/mem_cache/storage/hf3fs/test_hf3fs_utils.py
  python/sglang/srt/server_args.py
Labels: high priority, ready-to-merge

#8479 [router] migrate router from actix to axum
  sgl-router/Cargo.toml
  sgl-router/py_src/sglang_router/launch_router.py
  sgl-router/py_src/sglang_router/router.py
  sgl-router/py_test/test_launch_router.py
  sgl-router/src/config/types.rs
  sgl-router/src/lib.rs
  sgl-router/src/middleware.rs
  sgl-router/src/routers/mod.rs
  sgl-router/src/routers/pd_router.rs
  sgl-router/src/routers/router.rs
  sgl-router/src/server.rs
  sgl-router/tests/api_endpoints_test.rs
  sgl-router/tests/common/mock_worker.rs
  sgl-router/tests/common/mod.rs
  sgl-router/tests/common/test_app.rs
  sgl-router/tests/request_formats_test.rs
  sgl-router/tests/streaming_tests.rs
  sgl-router/tests/test_pd_routing.rs
Labels: enhancement, router

#8365 Bug: Fix google gemma3n-mm audio input not working bug
  python/sglang/srt/multimodal/processors/base_processor.py
  test/srt/test_vision_openai_server_b.py
Labels: high priority

#8533 fix incorrect increase of hit count
  python/sglang/srt/mem_cache/hiradix_cache.py
Labels: ready-to-merge

#8608 chore: bump v0.4.10
  benchmark/deepseek_v3/README.md
  docs/references/setup_github_runner.md
  docs/start/install.md
  python/pyproject.toml
  python/sglang/version.py
Labels: high priority, collaboration

#8577 [Optimization][Perf] Disable the GC during CUDA graph capture to speed up by up to 3x
  python/sglang/srt/model_executor/cuda_graph_runner.py
  python/sglang/srt/server_args.py
Labels: performance

#8488 SGLang HiCache NIXL Connector
  python/sglang/srt/managers/cache_controller.py
  python/sglang/srt/mem_cache/hicache_storage.py
  python/sglang/srt/mem_cache/memory_pool_host.py
  python/sglang/srt/mem_cache/nixl/README.md
  python/sglang/srt/mem_cache/nixl/hicache_nixl.py
  python/sglang/srt/mem_cache/nixl/nixl_utils.py
  python/sglang/srt/mem_cache/nixl/test_hicache_nixl_storage.py
  python/sglang/srt/server_args.py
Labels: ready-to-merge

#8630 [bugfix] Fix flashinfer cutlass EP moe after MoE refactor
  python/sglang/srt/layers/moe/fused_moe_triton/layer.py
  python/sglang/srt/server_args.py
Labels: bug, high priority
