Repository sgl-project/sglang, pull requests merged in 2025-06, with the labels that each got.

#5981 [Feat] Enable PDL automatically on Hopper architecture
  sgl-kernel/python/sgl_kernel/elementwise.py
  sgl-kernel/python/sgl_kernel/utils.py
Labels: ready-to-merge

#6456 Add CPU optimized kernels for topk and rope fusions
  sgl-kernel/csrc/cpu/norm.cpp
  sgl-kernel/csrc/cpu/rope.cpp
  sgl-kernel/csrc/cpu/topk.cpp
  sgl-kernel/csrc/cpu/torch_extension_cpu.cpp
  test/srt/cpu/test_norm.py
  test/srt/cpu/test_rope.py
  test/srt/cpu/test_topk.py
Labels: sgl-kernel, intel, cpu

#6818 Fix wrong weight reference in dynamic EPLB
  python/sglang/srt/models/deepseek_v2.py
  python/sglang/srt/models/qwen3_moe.py
  python/sglang/srt/utils.py
Labels: bug, high priority

#6659 [Refactor] Multimodal data processing for VLM
  docs/backend/vlm_query.ipynb
  python/sglang/srt/managers/multimodal_processors/base_processor.py
  python/sglang/srt/managers/multimodal_processors/gemma3.py
  python/sglang/srt/managers/multimodal_processors/kimi_vl.py
  python/sglang/srt/managers/multimodal_processors/qwen_vl.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/models/gemma3_mm.py
  python/sglang/srt/models/kimi_vl.py
  python/sglang/srt/models/qwen2_5_vl.py
  python/sglang/srt/models/qwen2_vl.py
  test/srt/test_vlm_input_format.py
Labels: high priority, visIon-LM, ready-to-merge

#6277 support 1 shot allreduce in 1-node and 2-node using mscclpp
  benchmark/kernels/all_reduce/benchmark_mscclpp.py
  benchmark/lora/launch_server.py
  docs/backend/server_arguments.md
  python/sglang/srt/_custom_ops.py
  python/sglang/srt/distributed/device_communicators/pymscclpp.py
  python/sglang/srt/distributed/parallel_state.py
  python/sglang/srt/layers/dp_attention.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/server_args.py
  sgl-kernel/CMakeLists.txt
  sgl-kernel/Makefile
  sgl-kernel/build.sh
  sgl-kernel/csrc/allreduce/mscclpp_allreduce.cu
  sgl-kernel/csrc/allreduce/mscclpp_allreduce.cuh
  sgl-kernel/csrc/allreduce/test_mscclpp_allreduce.cu
  sgl-kernel/csrc/common_extension.cc
  sgl-kernel/include/sgl_kernel_ops.h
  sgl-kernel/python/sgl_kernel/allreduce.py
  sgl-kernel/tests/test_mscclpp.py
  test/srt/test_mscclpp.py
Labels: high priority

#6837 [EP] Add cuda kernel for moe_ep_post_reorder
  sgl-kernel/benchmark/bench_moe_ep_post_reorder.py
  sgl-kernel/csrc/common_extension.cc
  sgl-kernel/csrc/moe/ep_moe_reorder_kernel.cu
  sgl-kernel/include/sgl_kernel_ops.h
  sgl-kernel/python/sgl_kernel/__init__.py
  sgl-kernel/python/sgl_kernel/moe.py
  sgl-kernel/tests/test_ep_moe_post_reorder_kernel.py
Labels: ready-to-merge

#6890 Use deepgemm instead of triton for fused_qkv_a_proj_with_mqa
  python/sglang/srt/layers/quantization/fp8_utils.py
Labels: ready-to-merge

#6877 bugfix(OAI): Fix image_data processing for jinja chat templates
  python/sglang/srt/openai_api/adapter.py
  python/sglang/srt/openai_api/utils.py
  test/srt/run_suite.py
  test/srt/test_openai_adapter.py
Labels: high priority

#6458 [CPU] enable CI for PRs, add Dockerfile and auto build task
  .github/workflows/pr-test-xeon.yml
  .github/workflows/release-docker-xeon.yml
  docker/Dockerfile.xeon
  python/pyproject.toml
  python/sglang/test/test_utils.py
  test/srt/run_suite.py
Labels: high priority, intel, cpu

#6879 [Refactor] image data process in bench_serving
  python/sglang/bench_serving.py
  python/sglang/srt/managers/multimodal_processors/internvl.py
Labels: high priority, visIon-LM, ready-to-merge

#6369 reduce torch.zeros overhead in moe align block size kernel
  python/sglang/srt/layers/moe/fused_moe_triton/fused_moe.py
  sgl-kernel/csrc/moe/moe_align_kernel.cu
Labels: high priority

#6853 [DeepseekR1-FP4] Add Support for nvidia/DeepSeekR1-FP4 model
  python/sglang/srt/layers/moe/fused_moe_triton/layer.py
  python/sglang/srt/layers/quantization/modelopt_quant.py
  python/sglang/srt/models/deepseek_v2.py
Labels: high priority

#6990 support qwen3 emebedding
  python/sglang/srt/models/qwen3.py
  test/srt/models/test_embedding_models.py
Labels: high priority

#6884 feat: add direct routing strategy to DP worker
  python/sglang/srt/disaggregation/common/conn.py
  python/sglang/srt/disaggregation/decode.py
  python/sglang/srt/disaggregation/fake/conn.py
  python/sglang/srt/disaggregation/mooncake/conn.py
  python/sglang/srt/disaggregation/nixl/conn.py
  python/sglang/srt/entrypoints/EngineBase.py
  python/sglang/srt/entrypoints/engine.py
  python/sglang/srt/managers/data_parallel_controller.py
  python/sglang/srt/managers/io_struct.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/managers/tokenizer_manager.py
Labels: high priority

#6833 CPU: map changes from developing branch in sgl-kernel
  sgl-kernel/csrc/cpu/decode.cpp
  sgl-kernel/csrc/cpu/extend.cpp
  sgl-kernel/csrc/cpu/gemm.h
  sgl-kernel/csrc/cpu/gemm_fp8.cpp
  sgl-kernel/csrc/cpu/interface.cpp
  sgl-kernel/csrc/cpu/moe.cpp
  sgl-kernel/csrc/cpu/moe_fp8.cpp
  sgl-kernel/csrc/cpu/norm.cpp
  sgl-kernel/csrc/cpu/qkv_proj.cpp
  sgl-kernel/csrc/cpu/shm.cpp
  sgl-kernel/csrc/cpu/shm.h
  sgl-kernel/csrc/cpu/topk.cpp
  sgl-kernel/csrc/cpu/torch_extension_cpu.cpp
  sgl-kernel/csrc/cpu/vec.h
  test/srt/cpu/test_mla.py
  test/srt/cpu/test_moe.py
  test/srt/cpu/test_norm.py
  test/srt/cpu/test_qkv_proj_with_rope.py
  test/srt/cpu/test_topk.py
  test/srt/cpu/utils.py
Labels: sgl-kernel, intel, cpu

#7038 chore: bump v0.4.7
  Makefile
  benchmark/deepseek_v3/README.md
  docker/Dockerfile
  docker/Dockerfile.rocm
  docs/references/setup_github_runner.md
  docs/start/install.md
  python/pyproject.toml
  python/sglang/version.py
Labels: high priority

#6579 [Feature] Add Logit Bias
  python/sglang/srt/openai_api/adapter.py
  python/sglang/srt/sampling/sampling_batch_info.py
  python/sglang/srt/sampling/sampling_params.py
  python/sglang/srt/utils.py
  test/srt/test_srt_endpoint.py
Labels: enhancement, feature

#7067 Fix GGuf and add back test_gguf.py
  python/sglang/srt/layers/linear.py
  python/sglang/srt/model_loader/loader.py
  test/srt/run_suite.py
Labels: high priority, ready-to-merge

#6106 Support VILA models
  python/sglang/bench_serving.py
  python/sglang/srt/configs/model_config.py
  python/sglang/srt/conversation.py
  python/sglang/srt/managers/multimodal_processors/base_processor.py
  python/sglang/srt/managers/multimodal_processors/vila.py
  python/sglang/srt/models/vila.py
  test/srt/test_vision_openai_server_b.py
Labels: high priority, VLM, ready-to-merge, new-model

#6026 [Fix] Reduce busy polling when scheduler is idle
  docs/backend/server_arguments.md
  python/sglang/srt/disaggregation/decode.py
  python/sglang/srt/disaggregation/prefill.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/server_args.py
Labels: ready-to-merge

#6814 Minor speed up block_quant_dequant
  python/sglang/srt/layers/quantization/fp8_utils.py
Labels: high priority

#6378 Implement gather before attn
  python/sglang/srt/layers/communicator.py
Labels: high priority

#7244 Update CI flakes.
  .github/workflows/pr-test-amd.yml
  test/srt/test_bench_serving.py
Labels: high priority

#6081 feat: mtp support dp-attention
  python/sglang/srt/layers/attention/aiter_backend.py
  python/sglang/srt/layers/attention/base_attn_backend.py
  python/sglang/srt/layers/attention/cutlass_mla_backend.py
  python/sglang/srt/layers/attention/flashattention_backend.py
  python/sglang/srt/layers/attention/flashinfer_backend.py
  python/sglang/srt/layers/attention/flashinfer_mla_backend.py
  python/sglang/srt/layers/attention/flashmla_backend.py
  python/sglang/srt/layers/attention/tbo_backend.py
  python/sglang/srt/layers/attention/triton_backend.py
  python/sglang/srt/layers/dp_attention.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/model_executor/cuda_graph_runner.py
  python/sglang/srt/model_executor/forward_batch_info.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/models/deepseek_nextn.py
  python/sglang/srt/models/deepseek_v2.py
  python/sglang/srt/speculative/eagle_draft_cuda_graph_runner.py
  python/sglang/srt/speculative/eagle_draft_extend_cuda_graph_runner.py
  python/sglang/srt/speculative/eagle_utils.py
  python/sglang/srt/speculative/eagle_worker.py
  test/srt/test_dp_attention.py
Labels: high priority

#7022 support qwen2 running on ascend npu device
  docs/backend/native_api.ipynb
  python/sglang/srt/_custom_ops.py
  python/sglang/srt/layers/activation.py
  python/sglang/srt/layers/layernorm.py
  python/sglang/srt/layers/quantization/compressed_tensors/compressed_tensors_moe.py
  python/sglang/srt/layers/quantization/fp8.py
  python/sglang/srt/layers/quantization/utils.py
  python/sglang/srt/layers/rotary_embedding.py
  python/sglang/srt/utils.py
Labels: ready-to-merge

#6842 Fix AWQ Dequant and Weight Loading of deepseek v2
  python/sglang/srt/models/deepseek_v2.py
  sgl-kernel/csrc/gemm/awq_kernel.cu
  sgl-kernel/tests/test_awq_dequant.py
Labels: high priority

#7286 fix: resolve b200 dsv3 mtp issue
  python/sglang/srt/models/deepseek_v2.py
Labels: bug, high priority, speculative-decoding, blackwell

#7096 Merge PDLB (Prefill-Decode Load Balancer) into SGLang Router
  python/sglang/srt/disaggregation/mini_lb.py
  sgl-router/Cargo.toml
  sgl-router/py_src/sglang_router/launch_router.py
  sgl-router/py_src/sglang_router/router.py
  sgl-router/py_test/test_launch_router.py
  sgl-router/src/lib.rs
  sgl-router/src/openai_api_types.rs
  sgl-router/src/pd_router.rs
  sgl-router/src/pd_types.rs
  sgl-router/src/request_adapter.rs
  sgl-router/src/router.rs
  sgl-router/src/server.rs
  sgl-router/tests/test_pd_routing.rs
Labels: high priority

#7303 [Refactor] Clean up radix cache related API
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/managers/schedule_policy.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/mem_cache/base_prefix_cache.py
  python/sglang/srt/mem_cache/chunk_cache.py
  python/sglang/srt/mem_cache/hiradix_cache.py
  python/sglang/srt/mem_cache/radix_cache.py
Labels: ready-to-merge

#6389 [Feature] Comprehensive Hybrid Parallelism Support
  python/sglang/bench_one_batch.py
  python/sglang/srt/disaggregation/decode.py
  python/sglang/srt/disaggregation/prefill.py
  python/sglang/srt/layers/communicator.py
  python/sglang/srt/layers/dp_attention.py
  python/sglang/srt/layers/logits_processor.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/model_executor/cuda_graph_runner.py
  python/sglang/srt/models/deepseek_v2.py
  python/sglang/srt/server_args.py
  python/sglang/srt/speculative/eagle_draft_cuda_graph_runner.py
  python/sglang/srt/speculative/eagle_draft_extend_cuda_graph_runner.py
  python/sglang/srt/utils.py
  test/srt/test_hybrid_dp_ep_tp_mtp.py
Labels: high priority

#7351 feat(oai refactor): Replace `openai_api` with `entrypoints/openai`
  benchmark/hicache/data_processing.py
  docs/backend/openai_api_embeddings.ipynb
  docs/backend/openai_api_vision.ipynb
  docs/backend/vlm_query.ipynb
  python/sglang/srt/code_completion_parser.py
  python/sglang/srt/conversation.py
  python/sglang/srt/entrypoints/engine.py
  python/sglang/srt/entrypoints/http_server.py
  python/sglang/srt/entrypoints/openai/api_server.py
  python/sglang/srt/entrypoints/openai/protocol.py
  python/sglang/srt/entrypoints/openai/serving_base.py
  python/sglang/srt/entrypoints/openai/serving_chat.py
  python/sglang/srt/entrypoints/openai/serving_completions.py
  python/sglang/srt/entrypoints/openai/serving_embedding.py
  python/sglang/srt/entrypoints/openai/serving_rerank.py
  python/sglang/srt/entrypoints/openai/serving_score.py
  python/sglang/srt/entrypoints/openai/utils.py
  python/sglang/srt/function_call/base_format_detector.py
  python/sglang/srt/function_call/deepseekv3_detector.py
  python/sglang/srt/function_call/function_call_parser.py
  python/sglang/srt/function_call/llama32_detector.py
  python/sglang/srt/function_call/mistral_detector.py
  python/sglang/srt/function_call/pythonic_detector.py
  python/sglang/srt/function_call/qwen25_detector.py
  python/sglang/srt/jinja_template_utils.py
  python/sglang/srt/managers/io_struct.py
  python/sglang/srt/managers/template_manager.py
  python/sglang/srt/managers/tokenizer_manager.py
  python/sglang/srt/openai_api/adapter.py
  python/sglang/srt/openai_api/protocol.py
  python/sglang/srt/reasoning_parser.py
  test/srt/openai/conftest.py
  test/srt/openai/test_protocol.py
  test/srt/openai/test_server.py
  test/srt/openai/test_serving_chat.py
  test/srt/openai/test_serving_completions.py
  test/srt/openai/test_serving_embedding.py
  test/srt/run_suite.py
  test/srt/test_function_call_parser.py
  test/srt/test_jinja_template_utils.py
  test/srt/test_openai_server.py
  test/srt/test_vlm_accuracy.py
  test/srt/test_vlm_input_format.py
Labels: high priority, collaboration

#7327 FlashInfer NVFP4 MoE with EP & 2-stream shared expert
  python/sglang/srt/layers/moe/ep_moe/layer.py
  python/sglang/srt/layers/moe/fused_moe_triton/layer.py
  python/sglang/srt/layers/quantization/modelopt_quant.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/models/deepseek_v2.py
  python/sglang/srt/server_args.py
Labels: high priority

#7391 Fix torch compile run
  docker/Dockerfile.rocm
  python/sglang/srt/layers/moe/fused_moe_triton/layer.py
  python/sglang/srt/layers/quantization/fp8.py
  scripts/amd_ci_start_container.sh
Labels: bug, high priority, aiter

#7361 [misc] Add PD service discovery support in router
  sgl-router/Cargo.toml
  sgl-router/README.md
  sgl-router/py_src/sglang_router/launch_router.py
  sgl-router/py_src/sglang_router/router.py
  sgl-router/py_test/test_launch_router.py
  sgl-router/src/lib.rs
  sgl-router/src/pd_router.rs
  sgl-router/src/pd_types.rs
  sgl-router/src/router.rs
  sgl-router/src/service_discovery.rs
  sgl-router/tests/test_pd_routing.rs
Labels: high priority

#6821 feat: integrate deepgemm into EPMoE
  python/sglang/srt/layers/moe/ep_moe/kernels.py
  python/sglang/srt/layers/moe/ep_moe/layer.py
  python/sglang/test/test_block_fp8_ep.py
  sgl-kernel/benchmark/bench_moe_ep_post_reorder.py
  sgl-kernel/tests/test_ep_moe_post_reorder_kernel.py
Labels: high priority

#7449 ci: Revert openai_server related tests in AMD suites
  test/srt/openai_server/features/test_cache_report.py
  test/srt/run_suite.py
Labels: high priority

#7269 Perormance: Enable cuda graph for dp idle batch
  python/sglang/srt/layers/attention/flashattention_backend.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/model_executor/cuda_graph_runner.py
  python/sglang/srt/speculative/eagle_utils.py
  python/sglang/srt/speculative/eagle_worker.py
Labels: high priority

#7376 Fix MTP with Deepseek R1 Fp4
  python/sglang/srt/layers/moe/fused_moe_triton/layer.py
  python/sglang/srt/models/deepseek_nextn.py
  python/sglang/srt/models/deepseek_v2.py
Labels: bug, high priority

#7559 chore: bump v0.4.8.post1
  benchmark/deepseek_v3/README.md
  docker/Dockerfile.rocm
  docs/references/setup_github_runner.md
  docs/start/install.md
  python/pyproject.toml
  python/sglang/version.py
Labels: high priority

#7573 Updates Gemma3n MLP layer to adapt latest transformers version
  python/sglang/srt/models/gemma3n_causal.py
Labels: high priority

#7577 Updates transformers and timm dependencies
  python/pyproject.toml
  python/sglang/srt/models/gemma3_causal.py
Labels: high priority

#7225 feat: support compatibility between MTP and two-batch-overlap
  python/sglang/srt/layers/attention/tbo_backend.py
  python/sglang/srt/model_executor/cuda_graph_runner.py
  python/sglang/srt/model_executor/forward_batch_info.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/operations_strategy.py
  python/sglang/srt/two_batch_overlap.py
  test/srt/test_dp_attention.py
Labels: high priority

#6563 Hybrid kv cache for LLaMA4
  docs/references/llama4.md
  python/sglang/srt/configs/model_config.py
  python/sglang/srt/disaggregation/decode.py
  python/sglang/srt/layers/attention/flashattention_backend.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/mem_cache/allocator.py
  python/sglang/srt/mem_cache/chunk_cache.py
  python/sglang/srt/mem_cache/memory_pool.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/server_args.py
Labels: high priority

#6769 [CPU] add optimizations for INT8 and FP8 DeepSeek
  python/sglang/srt/layers/moe/fused_moe_triton/layer.py
  python/sglang/srt/layers/quantization/fp8.py
  python/sglang/srt/layers/quantization/moe_wna16.py
  python/sglang/srt/layers/quantization/w8a8_int8.py
  python/sglang/srt/models/deepseek_v2.py
Labels: intel, cpu

#7552 Fix flakiness in LoRA batch test.
  python/sglang/test/runners.py
  test/srt/models/lora/test_lora.py
  test/srt/run_suite.py
Labels: high priority, ready-to-merge

#7309 Let ep_scatter support arbitrary strides / ue8m0 format
  python/sglang/srt/layers/moe/ep_moe/kernels.py
Labels: high priority, ready-to-merge
