Repository sgl-project/sglang, pull requests merged in 2025-04, with the labels that each got.

#4767 [Feature] Support DeepEP Low Latency
  docs/backend/server_arguments.md
  python/sglang/srt/layers/moe/ep_moe/kernels.py
  python/sglang/srt/layers/moe/ep_moe/layer.py
  python/sglang/srt/layers/moe/ep_moe/token_dispatcher.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/models/deepseek_v2.py
  python/sglang/srt/server_args.py
Labels: high priority

#4915 [VLM RLHF] Take Image input for verl vlm rollout
  python/sglang/srt/entrypoints/engine.py
  python/sglang/srt/managers/multimodal_processors/base_processor.py
  python/sglang/srt/managers/multimodal_processors/qwen_vl.py
  python/sglang/srt/utils.py
Labels: high priority, RLHF

#4989 bug fix for hicache host eviction
  python/sglang/srt/mem_cache/hiradix_cache.py
Labels: bug

#4951 Add Eagle Speculative Decoding to FA3 Backend
  python/sglang/srt/layers/attention/flashattention_backend.py
  python/sglang/srt/speculative/eagle_worker.py
Labels: high priority

#5009 Feature/revise docs ci
  .github/workflows/release-docs.yml
  docs/wrap_run_llm.py
Labels: good first issue, high priority

#4796 update eagle-3 docs
  docs/backend/speculative_decoding.ipynb
Labels: high priority

#4625 [2/3] fix dsv3 awq issue
  benchmark/deepseek_v3/README.md
  python/sglang/srt/configs/model_config.py
  python/sglang/srt/layers/moe/fused_moe_triton/fused_moe.py
  python/sglang/srt/layers/quantization/__init__.py
  python/sglang/srt/layers/quantization/moe_wna16.py
  python/sglang/srt/layers/quantization/utils.py
  python/sglang/srt/server_args.py
  test/srt/test_triton_moe_wna16.py
Labels: high priority, quant

#4918 Add DeepSeek V3/R1 shared experts fusion
  benchmark/kernels/fused_moe_triton/tuning_fused_moe_triton.py
  python/sglang/bench_serving.py
  python/sglang/srt/layers/moe/fused_moe_triton/configs/E=257,N=256,device_name=NVIDIA_H200,dtype=fp8_w8a8,block_shape=[128, 128].json
  python/sglang/srt/layers/moe/fused_moe_triton/configs/E=264,N=256,device_name=NVIDIA_H200,dtype=fp8_w8a8,block_shape=[128, 128].json
  python/sglang/srt/layers/moe/fused_moe_triton/fused_moe.py
  python/sglang/srt/layers/moe/topk.py
  python/sglang/srt/layers/quantization/__init__.py
  python/sglang/srt/layers/quantization/compressed_tensors/compressed_tensors.py
  python/sglang/srt/layers/quantization/compressed_tensors/compressed_tensors_moe.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/models/deepseek_v2.py
  python/sglang/srt/server_args.py
  sgl-kernel/tests/test_moe_align.py
Labels: high priority

#4535 fix dummy-load deepseekv2
  python/sglang/srt/model_loader/loader.py
  python/sglang/srt/models/deepseek_v2.py
Labels: high priority, RLHF

#5050 FA3 Spec Decoding to support top k = 1 and add cuda graph support
  python/sglang/srt/layers/attention/flashattention_backend.py
  python/sglang/srt/model_executor/forward_batch_info.py
Labels: high priority

#5079 sgl-kernel transfer custom allreduce from trt kernel to vllm kernel
  sgl-kernel/CMakeLists.txt
  sgl-kernel/csrc/allreduce/custom_all_reduce.cu
  sgl-kernel/csrc/allreduce/custom_all_reduce.cuh
  sgl-kernel/csrc/allreduce/trt_reduce_internal.cu
  sgl-kernel/csrc/allreduce/trt_reduce_kernel.cu
  sgl-kernel/csrc/common_extension.cc
  sgl-kernel/include/sgl_kernel_ops.h
  sgl-kernel/include/trt_reduce_internal.cuh
  sgl-kernel/python/sgl_kernel/allreduce.py
  sgl-kernel/tests/test_custom_allreduce.py
Labels: high priority

#5092 Add Llama4 support
  docs/references/supported_models.md
  python/sglang/lang/chat_template.py
  python/sglang/srt/configs/model_config.py
  python/sglang/srt/conversation.py
  python/sglang/srt/layers/attention/flashattention_backend.py
  python/sglang/srt/layers/moe/fused_moe_native.py
  python/sglang/srt/layers/moe/fused_moe_triton/configs/E=128,N=512,device_name=NVIDIA_H100_80GB_HBM3.json
  python/sglang/srt/layers/moe/fused_moe_triton/configs/E=144,N=512,device_name=NVIDIA_H100_80GB_HBM3.json
  python/sglang/srt/layers/moe/fused_moe_triton/configs/E=16,N=1024,device_name=NVIDIA_H100_80GB_HBM3.json
  python/sglang/srt/layers/moe/fused_moe_triton/configs/E=16,N=1024,device_name=NVIDIA_H200.json
  python/sglang/srt/layers/moe/fused_moe_triton/configs/E=16,N=2048,device_name=NVIDIA_H100_80GB_HBM3.json
  python/sglang/srt/layers/moe/fused_moe_triton/configs/E=20,N=2048,device_name=NVIDIA_H100_80GB_HBM3.json
  python/sglang/srt/layers/moe/fused_moe_triton/configs/E=24,N=1024,device_name=NVIDIA_H100_80GB_HBM3.json
  python/sglang/srt/layers/moe/fused_moe_triton/fused_moe.py
  python/sglang/srt/layers/moe/fused_moe_triton/layer.py
  python/sglang/srt/layers/quantization/__init__.py
  python/sglang/srt/layers/quantization/blockwise_int8.py
  python/sglang/srt/layers/quantization/fp8.py
  python/sglang/srt/layers/quantization/moe_wna16.py
  python/sglang/srt/layers/quantization/w8a8_int8.py
  python/sglang/srt/layers/radix_attention.py
  python/sglang/srt/layers/rotary_embedding.py
  python/sglang/srt/managers/multimodal_processors/mllama4.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/models/llama.py
  python/sglang/srt/models/llama4.py
  python/sglang/srt/models/mllama4.py
Labels: high priority

#4984 feat: disable grammar restrictions within reasoning sections
  docs/backend/structured_outputs_for_reasoning_models.ipynb
  docs/index.rst
  python/sglang/srt/constrained/base_grammar_backend.py
  python/sglang/srt/constrained/llguidance_backend.py
  python/sglang/srt/constrained/outlines_backend.py
  python/sglang/srt/constrained/reasoner_grammar_backend.py
  python/sglang/srt/constrained/xgrammar_backend.py
  python/sglang/srt/managers/scheduler.py
Labels: high priority, collaboration, constraint-decoding

#5140 [AMD] Fix missing per_token_group_quant_fp8 for ROCm
  python/sglang/srt/layers/moe/fused_moe_triton/fused_moe.py
Labels: bug, high priority

#5103 [FA3 Feature] Support multi modal Llama-3.2-11B-Vision-Instruct
  benchmark/mmmu/bench_sglang.py
  python/sglang/srt/layers/attention/flashattention_backend.py
  python/sglang/srt/model_executor/model_runner.py
Labels: high priority

#4686 Fix loading KV quantization scale; Enable modelopt kv cache
  python/sglang/srt/configs/model_config.py
  python/sglang/srt/layers/attention/flashattention_backend.py
  python/sglang/srt/layers/attention/flashinfer_backend.py
  python/sglang/srt/layers/quantization/kv_cache.py
  python/sglang/srt/layers/quantization/modelopt_quant.py
  python/sglang/srt/layers/radix_attention.py
  python/sglang/srt/models/baichuan.py
  python/sglang/srt/models/chatglm.py
  python/sglang/srt/models/commandr.py
  python/sglang/srt/models/dbrx.py
  python/sglang/srt/models/deepseek.py
  python/sglang/srt/models/deepseek_v2.py
  python/sglang/srt/models/exaone.py
  python/sglang/srt/models/gemma.py
  python/sglang/srt/models/gemma2.py
  python/sglang/srt/models/gemma3_causal.py
  python/sglang/srt/models/gpt2.py
  python/sglang/srt/models/gpt_bigcode.py
  python/sglang/srt/models/granite.py
  python/sglang/srt/models/grok.py
  python/sglang/srt/models/internlm2.py
  python/sglang/srt/models/llama.py
  python/sglang/srt/models/minicpm.py
  python/sglang/srt/models/minicpm3.py
  python/sglang/srt/models/mixtral.py
  python/sglang/srt/models/mixtral_quant.py
  python/sglang/srt/models/mllama.py
  python/sglang/srt/models/olmo.py
  python/sglang/srt/models/olmo2.py
  python/sglang/srt/models/olmoe.py
  python/sglang/srt/models/phi3_small.py
  python/sglang/srt/models/qwen.py
  python/sglang/srt/models/qwen2.py
  python/sglang/srt/models/qwen2_moe.py
  python/sglang/srt/models/stablelm.py
  python/sglang/srt/models/xverse.py
  python/sglang/srt/models/xverse_moe.py
  python/sglang/test/test_utils.py
Labels: high priority

#5150 Add optimized native kernels in sgl-kernel
  sgl-kernel/csrc/cpu/activation.cpp
  sgl-kernel/csrc/cpu/bmm.cpp
  sgl-kernel/csrc/cpu/common.h
  sgl-kernel/csrc/cpu/decode.cpp
  sgl-kernel/csrc/cpu/extend.cpp
  sgl-kernel/csrc/cpu/gemm.cpp
  sgl-kernel/csrc/cpu/gemm.h
  sgl-kernel/csrc/cpu/gemm_int8.cpp
  sgl-kernel/csrc/cpu/interface.cpp
  sgl-kernel/csrc/cpu/moe.cpp
  sgl-kernel/csrc/cpu/moe_int8.cpp
  sgl-kernel/csrc/cpu/norm.cpp
  sgl-kernel/csrc/cpu/qkv_proj.cpp
  sgl-kernel/csrc/cpu/rope.cpp
  sgl-kernel/csrc/cpu/shm.cpp
  sgl-kernel/csrc/cpu/shm.h
  sgl-kernel/csrc/cpu/topk.cpp
  sgl-kernel/csrc/cpu/torch_extension_cpu.cpp
  sgl-kernel/csrc/cpu/vec.h
  sgl-kernel/setup_cpu.py
Labels: high priority

#4938 [feat&refactor] Enhance multimodal input support with refactor io_struct
  python/sglang/srt/entrypoints/engine.py
  python/sglang/srt/entrypoints/verl_engine.py
  python/sglang/srt/managers/io_struct.py
  test/srt/test_io_struct.py
Labels: high priority, RLHF, visIon-LM

#3972 FP4 weight loading and inference (2/2)
  python/sglang/srt/configs/model_config.py
  python/sglang/srt/layers/linear.py
  python/sglang/srt/layers/quantization/__init__.py
  python/sglang/srt/layers/quantization/modelopt_quant.py
  python/sglang/srt/server_args.py
  sgl-kernel/README.md
Labels: high priority

#5173 [Bugfix] Fix index out of bounds in local attention with large sequences
  python/sglang/srt/layers/attention/flashattention_backend.py
Labels: high priority

#5068 [Fix] DeepEP Compatibility with Low Latency
  python/sglang/srt/layers/moe/ep_moe/token_dispatcher.py
  python/sglang/srt/model_executor/forward_batch_info.py
  python/sglang/srt/models/deepseek_v2.py
  python/sglang/srt/server_args.py
Labels: high priority

#5189 [Misc] clean up vllm in sgl-kernel test
  sgl-kernel/tests/test_awq_dequant.py
  sgl-kernel/tests/test_int8_gemm.py
  sgl-kernel/tests/test_per_tensor_quant_fp8.py
  sgl-kernel/tests/test_per_token_quant_fp8.py
Labels: high priority

#5144 model: support mllama4
  python/sglang/srt/configs/model_config.py
  python/sglang/srt/managers/mm_utils.py
  python/sglang/srt/managers/multimodal_processors/mllama4.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/models/llama4.py
  python/sglang/srt/models/mllama4.py
  test/srt/test_vision_openai_server.py
Labels: high priority

#5171 Rework grok test.
  .github/workflows/pr-test-amd.yml
  python/sglang/test/test_utils.py
  test/srt/models/test_dummy_grok_models.py
Labels: high priority

#4880 [PD] Support KV transfer with mooncake
  python/sglang/srt/disaggregation/conn.py
  python/sglang/srt/disaggregation/decode.py
  python/sglang/srt/disaggregation/prefill.py
  python/sglang/srt/disaggregation/transfer_engine/mooncake.py
  python/sglang/srt/managers/io_struct.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/managers/tokenizer_manager.py
Labels: high priority

#5245 Update Makefile / build script to avoid installing incompatible torch dependency
  sgl-kernel/Makefile
  sgl-kernel/build.sh
Labels: high priority

#5142 Blackwell Cutlass MLA kernel
  sgl-kernel/CMakeLists.txt
  sgl-kernel/csrc/attention/cutlass_mla_kernel.cu
  sgl-kernel/csrc/common_extension.cc
  sgl-kernel/include/sgl_kernel_ops.h
  sgl-kernel/python/sgl_kernel/__init__.py
  sgl-kernel/python/sgl_kernel/attention.py
  sgl-kernel/tests/test_cutlass_mla.py
Labels: high priority

#5120 Fix w8a8_int8 model shared experts fusion load weights error
  python/sglang/srt/models/deepseek_v2.py
Labels: bug, high priority

#5315 Add flash_attn_varlen_func to sgl-kernel
  sgl-kernel/python/sgl_kernel/flash_attn.py
Labels: high priority

#5210 feat: use fa3 mla by default on hopper
  python/sglang/srt/layers/attention/flashattention_backend.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/utils.py
Labels: high priority, collaboration

#5322 Fix: ensure tensors used in dist.broadcast are created on the correct…
  python/sglang/srt/utils.py
Labels: high priority

#5277 [DeepEP] Reduce routed scaling overhead
  python/sglang/srt/models/deepseek_v2.py
Labels: high priority

#5406 Tiny fix DeepseekScalingRotaryEmbedding always use forward_native
  python/sglang/srt/layers/rotary_embedding.py
Labels: bug, high priority

#5344 feat: update model_specific_adjustment
  python/sglang/srt/layers/attention/flashattention_backend.py
  python/sglang/srt/model_executor/forward_batch_info.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/utils.py
Labels: high priority, collaboration

#5264 Fix ignore_eos parameter when loading a chat template
  python/sglang/srt/openai_api/adapter.py
  test/srt/test_openai_server.py
Labels: high priority

#5113 Support MHA with chunked prefix cache for DeepSeek chunked prefill
  docs/backend/server_arguments.md
  docs/references/deepseek.md
  python/sglang/srt/layers/attention/flashattention_backend.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/model_executor/forward_batch_info.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/models/deepseek_v2.py
  python/sglang/srt/server_args.py
  python/sglang/test/attention/test_prefix_chunk_info.py
  test/srt/test_fa3.py
Labels: high priority, performance, deepseek

#4836 Introduce moe_dense_tp_size to fix dense layer errors in DeepSeek V3 + 4x8xH100
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/models/deepseek_v2.py
  python/sglang/srt/server_args.py
Labels: high priority

#5432 [perf] introduce deep gemm group_gemm_masked as bmm
  python/sglang/srt/layers/quantization/fp8_kernel.py
  python/sglang/srt/models/deepseek_v2.py
  python/sglang/test/test_block_fp8.py
Labels: high priority

#4947 [Fix] fix outlines and xgrammar
  python/sglang/srt/constrained/outlines_jump_forward.py
  python/sglang/srt/constrained/triton_ops/bitmask_ops.py
  python/sglang/srt/constrained/xgrammar_backend.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/server_args.py
Labels: high priority

#5417 [Feat] upgrade pytorch2.6
  .github/workflows/pr-test-sgl-kernel.yml
  benchmark/deepseek_v3/README.md
  docker/Dockerfile
  docs/start/install.md
  python/pyproject.toml
  python/sglang/srt/layers/dp_attention.py
  scripts/ci_install_dependency.sh
Labels: high priority, dependencies

#4733 Feat: Implement JSON Mode (response_format.type="json_object")
  python/sglang/srt/constrained/xgrammar_backend.py
  python/sglang/srt/openai_api/adapter.py
  test/srt/test_json_mode.py
Labels: high priority

#5141 Perform Batch Tokenization.
  benchmark/benchmark_batch/benchmark_batch.py
  benchmark/benchmark_batch/benchmark_tokenizer.py
  python/sglang/srt/managers/tokenizer_manager.py
  python/sglang/srt/server_args.py
Labels: high priority

#5318 Add Speculative Decoding Eagle3 topk > 1
  python/sglang/srt/layers/attention/flashattention_backend.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/server_args.py
  python/sglang/srt/utils.py
  test/srt/run_suite.py
  test/srt/test_fa3.py
Labels: high priority, collaboration, speculative-decoding

#5477 [PD] Add NIXL transfer backend
  python/sglang/srt/disaggregation/nixl/__init__.py
  python/sglang/srt/disaggregation/nixl/conn.py
  python/sglang/srt/disaggregation/utils.py
  python/sglang/srt/server_args.py
Labels: high priority

#5580 [feature] enable pre compile jit deep_gemm
  python/sglang/compile_deep_gemm.py
  python/sglang/srt/layers/quantization/deep_gemm.py
  python/sglang/srt/layers/quantization/fp8_kernel.py
  python/sglang/srt/layers/quantization/fp8_utils.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/models/deepseek_v2.py
  python/sglang/srt/utils.py
Labels: high priority

#5510 Support aiter RMSNorm in AMD
  python/sglang/srt/layers/layernorm.py
Labels: ready-to-merge

#5578 Remove extra copy in deepseek forward absorb
  .github/workflows/pr-test-amd.yml
  python/sglang/srt/layers/rotary_embedding.py
  python/sglang/srt/models/deepseek_v2.py
Labels: high priority

#5281 [1/2] Add FP8 Blockscale MoE CUTLASS kernel for Blackwell
  sgl-kernel/CMakeLists.txt
  sgl-kernel/csrc/common_extension.cc
  sgl-kernel/csrc/moe/cutlass_moe_helper.cu
  sgl-kernel/csrc/moe/fp8_blockwise_moe_kernel.cu
  sgl-kernel/include/sgl_kernel_ops.h
  sgl-kernel/python/sgl_kernel/__init__.py
  sgl-kernel/python/sgl_kernel/moe.py
  sgl-kernel/tests/test_fp8_blockwise_moe.py
Labels: high priority

#5435 Integrating PD disaggregation with DP attention and DeepEP
  python/sglang/srt/disaggregation/decode.py
  python/sglang/srt/disaggregation/prefill.py
  python/sglang/srt/managers/data_parallel_controller.py
Labels: high priority, collaboration

#5756 [Minor] fix documentations
  docs/backend/sampling_params.md
  docs/backend/server_arguments.md
  docs/index.rst
  docs/references/deepseek.md
Labels: ready-to-merge

#5736 Add an assertion to enhance the robustness of the operator
  python/sglang/srt/layers/attention/vision.py
Labels: ready-to-merge

#5733 fix: import vllm_rotary_embedding error when head_size not in 64, 128, 256, 512
  python/sglang/srt/layers/rotary_embedding.py
Labels: ready-to-merge

#5728 Use device_id in dist init to reduce NCCL communicator warmup & creation overhead
  python/sglang/srt/distributed/parallel_state.py
Labels: ready-to-merge

#5722 [fix] fix potential bumpy throughtput with deepgemm
  python/sglang/compile_deep_gemm.py
  python/sglang/srt/layers/quantization/deep_gemm.py
Labels: high priority, ready-to-merge

#5720 Resolves the `404 Not Found` error when running `compile_deep_gemm.py` in multi-node setups
  python/sglang/compile_deep_gemm.py
Labels: bug, high priority, ready-to-merge

#5685 we fix the non existent access of `decrypted_config_file`
  python/sglang/srt/server_args.py
Labels: ready-to-merge

#5748 Fuse MLA set kv cache kernel
  python/sglang/srt/layers/attention/flashattention_backend.py
  python/sglang/srt/layers/radix_attention.py
  python/sglang/srt/mem_cache/memory_pool.py
  python/sglang/srt/models/deepseek_v2.py
Labels: high priority, ready-to-merge

#5697 Update amd docker image to `sglang:v0.4.5.post3-rocm630`.
  .github/workflows/pr-test-amd.yml
Labels: ready-to-merge

#5730 [feature] support for roberta embedding models
  python/sglang/srt/layers/pooler.py
  python/sglang/srt/models/roberta.py
  test/srt/models/test_encoder_embedding_models.py
Labels: ready-to-merge

#5687 fix: Use `is not None` instead of `!= None` for None checks.
  python/sglang/bench_serving.py
  python/sglang/srt/code_completion_parser.py
Labels: ready-to-merge

#5565 [misc] more decode step log for batch_one_batch
  python/sglang/bench_one_batch.py
Labels: ready-to-merge

#5599 Handle JSONDecodeError while processing request data
  python/sglang/srt/openai_api/adapter.py
Labels: ready-to-merge

#5633 fix(srt): check if sample_indices is not None before usage.
  python/sglang/srt/layers/logits_processor.py
Labels: ready-to-merge

#4870 update llguidance to 0.7.11; adds StructTag
  python/pyproject.toml
  python/sglang/srt/constrained/llguidance_backend.py
  test/srt/test_ebnf_constrained.py
Labels: high priority, ready-to-merge

#3744 add switch to disable open api doc
  python/sglang/srt/entrypoints/http_server.py
Labels: ready-to-merge

#5691 Add 8-GPU Test for Deepseek-V3
  .github/workflows/pr-test.yml
  test/srt/run_suite.py
  test/srt/test_full_deepseek_v3.py
Labels: high priority, ready-to-merge

#5796 [CI] Improve github summary & enable fa3 for more models
  .github/workflows/pr-test.yml
  python/sglang/srt/utils.py
  test/srt/run_suite.py
  test/srt/test_bench_one_batch.py
  test/srt/test_bench_serving.py
  test/srt/test_full_deepseek_v3.py
Labels: ready-to-merge

#5643 [Docs] update grafana setup guide in production metrics
  docs/references/production_metrics.md
Labels: ready-to-merge

#5788 Improve overlap scheduling
  python/sglang/srt/disaggregation/prefill.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/managers/scheduler_output_processor_mixin.py
  python/sglang/srt/managers/tp_worker.py
  python/sglang/srt/managers/tp_worker_overlap_thread.py
Labels: high priority

#5482 Tiny refactor DefaultModelLoader.Source
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/model_loader/loader.py
Labels: ready-to-merge

#5276 [Docs] Replace lists with tables for cleanup and readability in server_arguments
  docs/backend/server_arguments.md
Labels: ready-to-merge

#5801 simplify fused_moe config logging
  benchmark/kernels/fused_moe_triton/README.md
  python/sglang/srt/layers/moe/fused_moe_triton/fused_moe.py
Labels: ready-to-merge

#5860 [CI] tune the test order to warmup the server
  python/sglang/srt/layers/quantization/deep_gemm.py
  test/srt/test_full_deepseek_v3.py
Labels: ready-to-merge

#4949 [Feature] support auto chat template
  python/sglang/srt/conversation.py
  python/sglang/srt/entrypoints/engine.py
  python/sglang/srt/openai_api/adapter.py
  test/srt/test_vision_openai_server.py
Labels: high priority

#5793 Auto set draft model path for MTP
  python/sglang/srt/configs/model_config.py
  python/sglang/srt/managers/tp_worker.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/models/deepseek_nextn.py
  python/sglang/srt/models/deepseek_v2.py
  python/sglang/srt/server_args.py
Labels: high priority

#5725 feat: support pythonic tool call and index in tool call streaming
  docs/backend/function_calling.ipynb
  examples/chat_template/tool_chat_template_llama4_pythonic.jinja
  python/sglang/srt/function_call_parser.py
  python/sglang/srt/openai_api/adapter.py
  python/sglang/srt/openai_api/protocol.py
  python/sglang/srt/server_args.py
  test/srt/run_suite.py
  test/srt/test_function_calling.py
Labels: ready-to-merge
