Repository sgl-project/sglang, pull requests merged in 2025-02, with the labels that each got.

#3207 Fix min_p sampling crash when using flashinfer backend
  python/sglang/srt/layers/sampler.py
Labels: flashinfer

#3205 Add a Doc about guide on nvidia jetson #3182
  docs/index.rst
  docs/references/nvidia_jetson.md
Labels: documentation

#3350 enable fake finish for docs PR
  .github/workflows/pr-test.yml
  docs/index.rst
  docs/references/deepseek.md
  docs/references/llama_405B.md
  docs/references/multi_node.md
Labels: documentation

#3407 fix EAGLE 2 non greedy case
  benchmark/kernels/fused_moe_triton/benchmark_vllm_vs_sglang_fused_moe_triton.py
  python/sglang/srt/model_executor/cuda_graph_runner.py
  python/sglang/srt/speculative/eagle_utils.py
  python/sglang/srt/speculative/eagle_worker.py
Labels: bug, high priority

#3450 Fix deepseek awq v3
  python/sglang/srt/layers/linear.py
  python/sglang/srt/layers/moe/fused_moe_triton/layer.py
  python/sglang/srt/layers/quantization/__init__.py
  python/sglang/srt/models/deepseek_v2.py
Labels: high priority

#3582 Support NextN (MTP) speculative decoding for DeepSeek-V3/R1
  python/sglang/srt/configs/model_config.py
  python/sglang/srt/models/deepseek_nextn.py
  python/sglang/srt/models/deepseek_v2.py
  python/sglang/srt/server_args.py
  python/sglang/srt/speculative/eagle_worker.py
  python/sglang/srt/speculative/spec_info.py
  scripts/export_deepseek_nextn.py
Labels: high priority

#3643 feat: support flashinfer mla with prefix cache
  python/sglang/srt/layers/attention/flashinfer_backend.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/models/deepseek_v2.py
Labels: high priority

#3223 Add support for nvidia modelopt fp8 kv cache
  python/sglang/srt/layers/quantization/modelopt_quant.py
  python/sglang/srt/model_loader/weight_utils.py
  python/sglang/srt/models/llama.py
  test/srt/test_modelopt_fp8kvcache.py
Labels: enhancement, high priority, quant

#2693 Hierarchical Caching for SGLang
  benchmark/hicache/README.md
  benchmark/hicache/bench_multiturn.py
  python/sglang/srt/managers/cache_controller.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/mem_cache/hiradix_cache.py
  python/sglang/srt/mem_cache/memory_pool.py
  python/sglang/srt/utils.py
Labels: enhancement

#3785 Refactor flashinfer logic for deepseek v3 and fix accuracy bug
  python/sglang/srt/configs/model_config.py
  python/sglang/srt/layers/attention/flashinfer_mla_backend.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/models/deepseek_v2.py
Labels: high priority
