Repository sgl-project/sglang, pull requests merged in 2025-10, with the labels that each got.

#10271 [Feature] Add EIC as sglang HiCache Storage backend
  python/sglang/srt/managers/cache_controller.py
  python/sglang/srt/mem_cache/storage/backend_factory.py
  python/sglang/srt/mem_cache/storage/eic/README.md
  python/sglang/srt/mem_cache/storage/eic/eic_storage.py
  python/sglang/srt/mem_cache/storage/eic/test_unit.py
  python/sglang/srt/server_args.py
Labels: high priority, ready-to-merge, run-ci

#11120 [router] add pd service in grpc router for pd
  python/sglang/srt/entrypoints/grpc_request_manager.py
  python/sglang/srt/entrypoints/grpc_server.py
Labels: run-ci

#11123 Fix metrics and request tracing (TimeStats)
  python/pyproject.toml
  python/sglang/srt/disaggregation/decode.py
  python/sglang/srt/disaggregation/prefill.py
  python/sglang/srt/disaggregation/utils.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/managers/schedule_policy.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/managers/scheduler_metrics_mixin.py
  python/sglang/srt/managers/scheduler_output_processor_mixin.py
  python/sglang/srt/managers/tokenizer_communicator_mixin.py
  python/sglang/srt/managers/tokenizer_manager.py
  python/sglang/srt/metrics/collector.py
  python/sglang/srt/tracing/trace.py
Labels: run-ci

#10720 Intoduce cpu tensor as metadata to avoid blocking gpu kernel launch
  python/sglang/srt/disaggregation/decode_schedule_batch_mixin.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/mem_cache/allocator.py
  python/sglang/srt/mem_cache/allocator_ascend.py
  python/sglang/srt/speculative/eagle_info.py
  python/sglang/srt/speculative/eagle_worker.py
  python/sglang/srt/speculative/ngram_utils.py
  python/sglang/srt/utils.py
Labels: high priority, run-ci

#11135 Fix ngram spec with page size > 1
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/server_args.py
  python/sglang/srt/speculative/eagle_info.py
  python/sglang/srt/speculative/ngram_utils.py
  test/srt/test_ngram_speculative_decoding.py
Labels: run-ci

#10559 [ROCm] To reduce the compiling time when using torch compile.
  python/sglang/srt/model_executor/cuda_graph_runner.py
Labels: ready-to-merge, run-ci

#11148 Clean up parallel_state.py
  python/sglang/srt/distributed/parallel_state.py
Labels: run-ci

#11132 Tiny improve dumper
  python/sglang/srt/debug_utils/dumper.py
Labels: run-ci

#11156 Remove unused pack `.item()` in paged allocator.
  python/sglang/srt/utils.py
Labels: run-ci

#10422 Support single batch overlap
  docs/advanced_features/server_arguments.md
  python/sglang/srt/layers/moe/ep_moe/layer.py
  python/sglang/srt/layers/moe/flashinfer_cutedsl_moe.py
  python/sglang/srt/layers/moe/token_dispatcher/deepep.py
  python/sglang/srt/layers/moe/utils.py
  python/sglang/srt/layers/quantization/modelopt_quant.py
  python/sglang/srt/models/deepseek_v2.py
  python/sglang/srt/server_args.py
  python/sglang/srt/single_batch_overlap.py
Labels: high priority, run-ci

#11160 [router][grpc] Support tool call parser in streaming
  sgl-router/benches/tool_parser_benchmark.rs
  sgl-router/src/routers/grpc/pd_router.rs
  sgl-router/src/routers/grpc/router.rs
  sgl-router/src/server.rs
  sgl-router/src/service_discovery.rs
  sgl-router/src/tool_parser/factory.rs
  sgl-router/src/tool_parser/mod.rs
  sgl-router/src/tool_parser/parsers/deepseek_parser.rs
  sgl-router/src/tool_parser/parsers/glm4_moe_parser.rs
  sgl-router/src/tool_parser/parsers/gpt_oss_harmony_parser.rs
  sgl-router/src/tool_parser/parsers/gpt_oss_parser.rs
  sgl-router/src/tool_parser/parsers/helpers.rs
  sgl-router/src/tool_parser/parsers/json_parser.rs
  sgl-router/src/tool_parser/parsers/kimik2_parser.rs
  sgl-router/src/tool_parser/parsers/llama_parser.rs
  sgl-router/src/tool_parser/parsers/mistral_parser.rs
  sgl-router/src/tool_parser/parsers/mod.rs
  sgl-router/src/tool_parser/parsers/pythonic_parser.rs
  sgl-router/src/tool_parser/parsers/qwen_parser.rs
  sgl-router/src/tool_parser/parsers/step3_parser.rs
  sgl-router/src/tool_parser/registry.rs
  sgl-router/src/tool_parser/state.rs
  sgl-router/src/tool_parser/tests.rs
  sgl-router/src/tool_parser/traits.rs
  sgl-router/src/tool_parser/types.rs
  sgl-router/tests/common/mod.rs
  sgl-router/tests/tool_parser_deepseek.rs
  sgl-router/tests/tool_parser_edge_cases.rs
  sgl-router/tests/tool_parser_glm4_moe.rs
  sgl-router/tests/tool_parser_gpt_oss.rs
  sgl-router/tests/tool_parser_kimik2.rs
  sgl-router/tests/tool_parser_llama.rs
  sgl-router/tests/tool_parser_mixed_edge_cases.rs
  sgl-router/tests/tool_parser_pythonic.rs
  sgl-router/tests/tool_parser_qwen.rs
  sgl-router/tests/tool_parser_registry.rs
  sgl-router/tests/tool_parser_step3.rs
  sgl-router/tests/tool_parser_streaming.rs
Labels: high priority, router, run-ci, router-benchmark

#10837 fix cpp JIT compilation issue of ngram speculative decoding
  python/sglang/srt/server_args.py
  python/sglang/srt/speculative/cpp_ngram/ngram.cpp
Labels: run-ci

#11163 Tiny cleanup deepseek_v2.py
  python/sglang/srt/layers/moe/fused_moe_triton/layer.py
  python/sglang/srt/models/deepseek_v2.py
Labels: run-ci

#11130 Tiny fix ep_gather behavior different in CI
  python/sglang/srt/layers/moe/ep_moe/kernels.py
Labels: run-ci

#11124 Unify forward output datastructure
  python/sglang/srt/configs/model_config.py
  python/sglang/srt/disaggregation/prefill.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/managers/scheduler_metrics_mixin.py
  python/sglang/srt/managers/scheduler_output_processor_mixin.py
  python/sglang/srt/managers/tp_worker.py
  python/sglang/srt/managers/tp_worker_overlap_thread.py
  python/sglang/srt/managers/utils.py
  python/sglang/srt/model_executor/forward_batch_info.py
  python/sglang/srt/speculative/eagle_worker.py
  python/sglang/srt/speculative/ngram_worker.py
Labels: run-ci

#11170 Remove dp balance metadata and minimul token balance.
  python/sglang/srt/entrypoints/engine.py
  python/sglang/srt/grpc/sglang_scheduler.proto
  python/sglang/srt/grpc/sglang_scheduler_pb2.py
  python/sglang/srt/grpc/sglang_scheduler_pb2.pyi
  python/sglang/srt/managers/data_parallel_controller.py
  python/sglang/srt/managers/io_struct.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/managers/scheduler_metrics_mixin.py
  python/sglang/srt/managers/utils.py
  sgl-router/src/proto/sglang_scheduler.proto
  test/srt/test_dp_attention.py
Labels: run-ci

#11179 [router][grpc] Support streaming for v1/chat/completions
  python/sglang/srt/entrypoints/grpc_request_manager.py
  python/sglang/srt/entrypoints/grpc_server.py
  python/sglang/srt/grpc/sglang_scheduler.proto
  python/sglang/srt/grpc/sglang_scheduler_pb2.py
  python/sglang/srt/grpc/sglang_scheduler_pb2.pyi
  sgl-router/benches/request_processing.rs
  sgl-router/src/proto/sglang_scheduler.proto
  sgl-router/src/protocols/spec.rs
  sgl-router/src/reasoning_parser/README.md
  sgl-router/src/reasoning_parser/factory.rs
  sgl-router/src/reasoning_parser/mod.rs
  sgl-router/src/routers/grpc/pd_router.rs
  sgl-router/src/routers/grpc/router.rs
  sgl-router/src/server.rs
  sgl-router/src/tool_parser/parsers/deepseek_parser.rs
  sgl-router/src/tool_parser/parsers/glm4_moe_parser.rs
  sgl-router/src/tool_parser/parsers/gpt_oss_parser.rs
  sgl-router/src/tool_parser/parsers/helpers.rs
  sgl-router/src/tool_parser/parsers/json_parser.rs
  sgl-router/src/tool_parser/parsers/kimik2_parser.rs
  sgl-router/src/tool_parser/parsers/llama_parser.rs
  sgl-router/src/tool_parser/parsers/mistral_parser.rs
  sgl-router/src/tool_parser/parsers/pythonic_parser.rs
  sgl-router/src/tool_parser/parsers/qwen_parser.rs
  sgl-router/src/tool_parser/parsers/step3_parser.rs
  sgl-router/src/tool_parser/tests.rs
  sgl-router/src/tool_parser/traits.rs
  sgl-router/src/tool_parser/types.rs
  sgl-router/tests/chat_template_integration.rs
  sgl-router/tests/chat_template_loading.rs
Labels: router, run-ci

#11138 Allow use of TRTLLM_MHA backend for hybrid attention on Blackwell
  python/sglang/srt/layers/attention/attention_registry.py
  python/sglang/srt/model_executor/model_runner.py
Labels: high priority, run-ci

#10830 [Generative Scores API] add performance tests to CICD
  .github/workflows/pr-test.yml
  python/sglang/test/test_utils.py
  test/srt/test_bench_serving.py
Labels: run-ci

#9537 [1/n] Enable DCA CUDA graph capture
  python/sglang/srt/layers/attention/dual_chunk_flashattention_backend.py
  python/sglang/srt/server_args.py
Labels: run-ci

#11161 [Fix] Update to v0.1.5.post4 and refine HIP attention backend selection
  docker/Dockerfile.rocm
  python/sglang/srt/model_executor/model_runner.py
Labels: run-ci

#11185 [CI]] Tee server logs to both file and stdout/stderr using PIPE
  python/sglang/test/test_utils.py
Labels: run-ci

#11173 [router] Steaming support for MCP Tool Calls in OpenAI Router
  sgl-router/src/routers/http/openai_router.rs
  sgl-router/tests/common/mock_worker.rs
  sgl-router/tests/responses_api_test.rs
Labels: run-ci

#10892 Fix CUDA illegal memory access issues in speculative decoding
  python/sglang/srt/speculative/eagle_draft_cuda_graph_runner.py
  python/sglang/srt/speculative/eagle_draft_extend_cuda_graph_runner.py
Labels: run-ci

#10855 fix 3fs indices
  python/sglang/srt/mem_cache/storage/hf3fs/storage_hf3fs.py
Labels: ready-to-merge, run-ci

#10838 fix xeon ci check
  .github/workflows/pr-test-xeon.yml
Labels: ready-to-merge, intel, cpu, run-ci

#11178 fix self.enable_kv_cache_events
  python/sglang/srt/managers/scheduler.py
Labels: run-ci

#11096 fix sampling_seed handling when deterministic is enabled
  python/sglang/srt/sampling/sampling_params.py
  python/sglang/test/test_deterministic.py
Labels: ready-to-merge, run-ci

#11140 [router] add grpc router pd mode for chat and generate
  python/pyproject.toml
  python/sglang/srt/entrypoints/grpc_request_manager.py
  python/sglang/srt/entrypoints/grpc_server.py
  sgl-router/src/core/worker.rs
  sgl-router/src/core/worker_builder.rs
  sgl-router/src/grpc_client/sglang_scheduler.rs
  sgl-router/src/protocols/spec.rs
  sgl-router/src/routers/grpc/mod.rs
  sgl-router/src/routers/grpc/pd_router.rs
  sgl-router/src/routers/grpc/router.rs
  sgl-router/src/routers/grpc/utils.rs
Labels: router, run-ci, router-benchmark

#11215 EAGLE cache fix for HiCache
  python/sglang/srt/managers/schedule_policy.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/mem_cache/hiradix_cache.py
  test/srt/hicache/test_hicache_eagle.py
  test/srt/run_suite.py
Labels: run-ci

#11217 Add --max-new-tokens CLI flag for MMMU evaluation
  benchmark/mmmu/eval_utils.py
Labels: run-ci

#11063 Add DeepSeek-V3.2 Tool Call Template
  examples/chat_template/tool_chat_template_deepseekv32.jinja
Labels: run-ci

#11225 Tiny `skip_sample` adjust
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/managers/tp_worker.py
  python/sglang/srt/managers/tp_worker_overlap_thread.py
  python/sglang/srt/speculative/eagle_worker.py
  python/sglang/srt/speculative/ngram_worker.py
Labels: run-ci

#11194 [Feature] Add a fast-topk to sgl-kernel for DeepSeek v3.2
  sgl-kernel/CMakeLists.txt
  sgl-kernel/csrc/common_extension.cc
  sgl-kernel/csrc/elementwise/topk.cu
  sgl-kernel/include/sgl_kernel_ops.h
  sgl-kernel/python/sgl_kernel/__init__.py
  sgl-kernel/python/sgl_kernel/top_k.py
  sgl-kernel/tests/test_topk.py
Labels: run-ci

#9624 Update `v1/responses` to be more OpenAI-compatible.
  python/sglang/srt/entrypoints/http_server.py
  python/sglang/srt/entrypoints/openai/protocol.py
  python/sglang/srt/entrypoints/openai/serving_responses.py
  test/srt/openai_server/basic/test_openai_server.py
Labels: high priority, ready-to-merge, run-ci

#11229 Update DeepGEMM repository tag to specific commit
  sgl-kernel/CMakeLists.txt
Labels: run-ci

#11162 Refactor and optimize mooncake CI
  python/sglang/test/test_disaggregation_utils.py
  test/srt/run_suite.py
  test/srt/test_disaggregation.py
  test/srt/test_disaggregation_different_tp.py
  test/srt/test_disaggregation_dp_attention.py
  test/srt/test_disaggregation_pp.py
Labels: run-ci

#11222 Update transformers package version to 4.57.0
  python/pyproject.toml
  python/sglang/srt/models/kimi_vl_moonvit.py
  test/srt/test_vision_openai_server_b.py
  test/srt/test_vlm_input_format.py
Labels: run-ci

#11237 Remove gdrcopy check in ci_install_deepep.sh
  scripts/ci/ci_install_deepep.sh
Labels: run-ci

#11228 Rename runner labels
  .github/workflows/pr-test-pd-router.yml
  .github/workflows/pr-test-rust.yml
  .github/workflows/pr-test.yml
  .github/workflows/release-docker-dev.yml
  .github/workflows/release-docker.yml
  .github/workflows/release-whl-kernel-cu118.yml
  .github/workflows/release-whl-kernel.yml
  docs/get_started/install.md
  docs/platforms/blackwell_gpu.md
  python/pyproject.toml
  scripts/ci/ci_install_dependency.sh
  sgl-kernel/README.md
  test/srt/run_suite.py
Labels: run-ci

#10042 [quantization] Fix scale remapping for mllama4
  python/sglang/srt/models/mllama4.py
Labels: run-ci

#10048 [quantization] Enable aiter mxfp4 fused_moe for Quark
  python/sglang/srt/layers/quantization/quark/quark_moe.py
Labels: run-ci

#11251 Use cu128 for torch audio to fix some CI tests
  .github/workflows/pr-test-pd-router.yml
  python/sglang/srt/speculative/spec_utils.py
  scripts/ci/ci_install_dependency.sh
Labels: run-ci

#11252 Bump torch_memory_saver 0.0.9rc2
  python/pyproject.toml
Labels: run-ci

#11209 feat: add shortcut detection for multimodal templates in Jinja format
  python/sglang/srt/parser/jinja_template_utils.py
Labels: run-ci

#11240 Improve bot release workflow
  .github/workflows/bot-bump-kernel-version.yml
  .github/workflows/bot-bump-sglang-version.yml
  scripts/release/bump_kernel_version.py
  scripts/release/bump_sglang_version.py
  scripts/release/commit_and_pr.sh
  scripts/release/test_utils.py
  scripts/release/utils.py
Labels: run-ci

#11235 Add flashmla and fast hadamard transform to Dockerfile
  docker/Dockerfile
Labels: run-ci

#11270 [router][tool call] Clean up redundant `detect_format` and `has_tool_markers`
  sgl-router/src/routers/grpc/pd_router.rs
  sgl-router/src/routers/grpc/router.rs
  sgl-router/src/tool_parser/parsers/deepseek_parser.rs
  sgl-router/src/tool_parser/parsers/glm4_moe_parser.rs
  sgl-router/src/tool_parser/parsers/gpt_oss_harmony_parser.rs
  sgl-router/src/tool_parser/parsers/gpt_oss_parser.rs
  sgl-router/src/tool_parser/parsers/json_parser.rs
  sgl-router/src/tool_parser/parsers/kimik2_parser.rs
  sgl-router/src/tool_parser/parsers/llama_parser.rs
  sgl-router/src/tool_parser/parsers/mistral_parser.rs
  sgl-router/src/tool_parser/parsers/pythonic_parser.rs
  sgl-router/src/tool_parser/parsers/qwen_parser.rs
  sgl-router/src/tool_parser/parsers/step3_parser.rs
  sgl-router/src/tool_parser/tests.rs
  sgl-router/src/tool_parser/traits.rs
  sgl-router/tests/tool_parser_deepseek.rs
  sgl-router/tests/tool_parser_glm4_moe.rs
  sgl-router/tests/tool_parser_gpt_oss.rs
  sgl-router/tests/tool_parser_json.rs
  sgl-router/tests/tool_parser_kimik2.rs
  sgl-router/tests/tool_parser_llama.rs
  sgl-router/tests/tool_parser_mistral.rs
  sgl-router/tests/tool_parser_pythonic.rs
  sgl-router/tests/tool_parser_qwen.rs
  sgl-router/tests/tool_parser_step3.rs
Labels: router, run-ci

#11274 disable sm100 for FlashMLA and fast-hadamard-transform in cuda12.6.1
  docker/Dockerfile
Labels: run-ci

#11276 Fix code sync scripts
  scripts/code_sync/copy_from_oss.py
  scripts/code_sync/copy_to_oss.py
Labels: run-ci

#11283 [router][grpc] Fix proto3 default value mismatches and cleanup unused fields
  python/sglang/srt/entrypoints/grpc_server.py
  python/sglang/srt/grpc/sglang_scheduler.proto
  python/sglang/srt/grpc/sglang_scheduler_pb2.py
  python/sglang/srt/grpc/sglang_scheduler_pb2.pyi
  sgl-router/src/grpc_client/sglang_scheduler.rs
  sgl-router/src/proto/sglang_scheduler.proto
Labels: run-ci

#10949 Feature/longbench v2 evaluation utils
  python/sglang/test/longbench_v2/__init__.py
  python/sglang/test/longbench_v2/longbench_v2_evaluation.md
  python/sglang/test/longbench_v2/test_longbench_v2_eval.py
  python/sglang/test/longbench_v2/validate_longbench_v2.py
  python/sglang/test/longbench_v2/validate_longbench_v2_standalone.py
  python/sglang/test/run_eval.py
  python/sglang/test/simple_eval_longbench_v2.py
Labels: run-ci

#11294 [ci] fix pp test
  test/srt/test_bench_serving.py
Labels: run-ci

#11231 EAGLE cache fix for SWARadixCache
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/mem_cache/allocator.py
  python/sglang/srt/mem_cache/memory_pool.py
  python/sglang/srt/mem_cache/radix_cache.py
  python/sglang/srt/mem_cache/swa_radix_cache.py
  python/sglang/srt/models/utils.py
  test/srt/run_suite.py
  test/srt/test_swa_unittest.py
Labels: run-ci

#11210 Remove overlap thread
  python/sglang/srt/disaggregation/decode.py
  python/sglang/srt/disaggregation/prefill.py
  python/sglang/srt/managers/overlap_utils.py
  python/sglang/srt/managers/schedule_batch.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/managers/scheduler_metrics_mixin.py
  python/sglang/srt/managers/scheduler_output_processor_mixin.py
  python/sglang/srt/managers/tp_worker.py
  python/sglang/srt/managers/tp_worker_overlap_thread.py
  python/sglang/srt/model_executor/forward_batch_info.py
  python/sglang/srt/sampling/sampling_batch_info.py
  python/sglang/srt/speculative/eagle_worker.py
  python/sglang/srt/speculative/ngram_worker.py
  python/sglang/test/test_utils.py
Labels: high priority, run-ci

#11290 [router] add reasoning and tool parser argument in router
  sgl-router/py_src/sglang_router/router_args.py
  sgl-router/src/config/types.rs
  sgl-router/src/lib.rs
  sgl-router/src/main.rs
  sgl-router/src/routers/grpc/pd_router.rs
  sgl-router/src/routers/grpc/router.rs
  sgl-router/src/routers/grpc/utils.rs
  sgl-router/src/server.rs
  sgl-router/src/service_discovery.rs
  sgl-router/tests/api_endpoints_test.rs
  sgl-router/tests/responses_api_test.rs
  sgl-router/tests/test_openai_routing.rs
  sgl-router/tests/test_pd_routing.rs
Labels: router, run-ci

#11068 [sgl-kernel] Support float64 moe_sum_reduce cuda kernel
  sgl-kernel/benchmark/bench_sum_scale.py
  sgl-kernel/csrc/moe/moe_sum_reduce.cu
Labels: run-ci

#11302 [Docs] [Router] Update Observability and Common Issues Section
  docs/advanced_features/router.md
Labels: documentation, router, run-ci

#11303 [router] add get server info and get model info in grpc server
  python/sglang/srt/entrypoints/grpc_server.py
  python/sglang/srt/grpc/sglang_scheduler.proto
  python/sglang/srt/grpc/sglang_scheduler_pb2.py
  python/sglang/srt/grpc/sglang_scheduler_pb2.pyi
  python/sglang/srt/grpc/sglang_scheduler_pb2_grpc.py
  sgl-router/src/grpc_client/sglang_scheduler.rs
  sgl-router/src/proto/sglang_scheduler.proto
Labels: router, run-ci

#11288 [router][grpc] Refactor chat template content format detection
  sgl-router/src/tokenizer/chat_template.rs
  sgl-router/tests/chat_template_format_detection.rs
Labels: router, run-ci

#11001 [Doc]: Best Practice for HICache
  docs/advanced_features/hicache.rst
  docs/advanced_features/hicache_best_practices.md
Labels: high priority

#11306 [router][grpc] Fix sampling_params.stop_strs is None
  python/sglang/srt/entrypoints/grpc_server.py
Labels: run-ci

#11307 [router][grpc] Fix error message format in grpc chat handler
  sgl-router/src/routers/grpc/pd_router.rs
  sgl-router/src/routers/grpc/router.rs
  sgl-router/src/routers/grpc/utils.rs
Labels: router, run-ci

#11310 [router] cleanup worker health check to return early
  sgl-router/src/core/worker.rs
  sgl-router/src/core/worker_manager.rs
Labels: router, run-ci

#11230 ci: unify the model launch method of nightly ci
  python/sglang/test/test_utils.py
  test/srt/test_nightly_text_models_gsm8k_eval.py
  test/srt/test_nightly_text_models_perf.py
  test/srt/test_nightly_vlms_mmmu_eval.py
  test/srt/test_nightly_vlms_perf.py
Labels: run-ci

#10710 [Chore] Update xgrammar 0.1.24 -> 0.1.25
  python/pyproject.toml
  python/pyproject_other.toml
Labels: run-ci

#11315 update sampling_params documentation with defaults
  docs/basic_usage/sampling_params.md
Labels: run-ci

#11316 Rename `ngram_utils` -> `ngram_info`
  python/sglang/srt/model_executor/cuda_graph_runner.py
  python/sglang/srt/speculative/ngram_info.py
  python/sglang/srt/speculative/ngram_worker.py
  python/sglang/srt/speculative/spec_utils.py
Labels: run-ci

#9545 [Feature] Add /tokenize and /detokenize OpenAI compatible endpoints
  docs/basic_usage/native_api.ipynb
  python/sglang/srt/entrypoints/http_server.py
  python/sglang/srt/entrypoints/openai/protocol.py
  python/sglang/srt/entrypoints/openai/serving_tokenize.py
  test/srt/test_srt_endpoint.py
Labels: run-ci

#11211 [8/N] MoE Refactor: deprecate `EPMoE`
  benchmark/kernels/fbgemm/README.md
  benchmark/kernels/fbgemm/benchmark_fbgemm_grouped_gemm.py
  docs/advanced_features/server_arguments.md
  python/sglang/srt/layers/moe/cutlass_w4a8_moe.py
  python/sglang/srt/layers/moe/ep_moe/kernels.py
  python/sglang/srt/layers/moe/ep_moe/layer.py
  python/sglang/srt/layers/moe/fused_moe_triton/layer.py
  python/sglang/srt/layers/moe/moe_runner/deep_gemm.py
  python/sglang/srt/layers/moe/moe_runner/runner.py
  python/sglang/srt/layers/moe/utils.py
  python/sglang/srt/layers/quantization/fp8.py
  python/sglang/srt/layers/quantization/w4afp8.py
  python/sglang/srt/models/grok.py
  python/sglang/srt/models/mixtral.py
  python/sglang/srt/server_args.py
  python/sglang/test/test_block_fp8_ep.py
  python/sglang/test/test_cutlass_w4a8_moe.py
  test/srt/ep/test_moe_ep.py
  test/srt/run_suite.py
Labels: run-ci

#11312 Skip weight loading in deepgemm compilation
  python/sglang/compile_deep_gemm.py
Labels: ready-to-merge

#11321 [Doc] Update mooncake nvlink transport doc for PD disaggregation
  docs/advanced_features/pd_disaggregation.md
Labels: run-ci

#11007 fix(decode): adjust ServerArgs import to explicit module path
  python/sglang/srt/disaggregation/decode_kvcache_offload_manager.py
Labels: bug, high priority, ready-to-merge, run-ci

#11318 Support LoRA in bench_serving oai interface
  python/sglang/bench_serving.py
Labels: lora, run-ci

#10909 model: Support Hybrid Mamba2 NemotronHForCausalLM (nvidia/NVIDIA-Nemotron-Nano-9B-v2)
  docs/supported_models/generative_models.md
  python/sglang/srt/configs/__init__.py
  python/sglang/srt/configs/falcon_h1.py
  python/sglang/srt/configs/mamba_utils.py
  python/sglang/srt/configs/nemotron_h.py
  python/sglang/srt/configs/qwen3_next.py
  python/sglang/srt/layers/attention/attention_registry.py
  python/sglang/srt/layers/attention/fla/layernorm_gated.py
  python/sglang/srt/layers/attention/hybrid_linear_attn_backend.py
  python/sglang/srt/layers/attention/mamba/causal_conv1d.py
  python/sglang/srt/layers/attention/mamba/causal_conv1d_triton.py
  python/sglang/srt/layers/attention/mamba/mamba.py
  python/sglang/srt/layers/attention/mamba/mamba2_metadata.py
  python/sglang/srt/layers/attention/mamba/mamba_utils.py
  python/sglang/srt/layers/attention/mamba/mixer2_rms_norm_gated.py
  python/sglang/srt/layers/attention/mamba/ops/ssd_bmm.py
  python/sglang/srt/layers/attention/mamba/ops/ssd_chunk_scan.py
  python/sglang/srt/layers/attention/mamba/ops/ssd_chunk_state.py
  python/sglang/srt/layers/attention/mamba/ops/ssd_state_passing.py
  python/sglang/srt/layers/attention/triton_backend.py
  python/sglang/srt/managers/scheduler.py
  python/sglang/srt/mem_cache/memory_pool.py
  python/sglang/srt/model_executor/model_runner.py
  python/sglang/srt/models/falcon_h1.py
  python/sglang/srt/models/nemotron_h.py
  python/sglang/srt/speculative/eagle_worker.py
  python/sglang/srt/utils/common.py
  python/sglang/srt/utils/hf_transformers_utils.py
  test/srt/layers/attention/mamba/test_causal_conv1d.py
  test/srt/layers/attention/mamba/test_mamba2_mixer.py
  test/srt/layers/attention/mamba/test_mamba_ssm.py
  test/srt/layers/attention/mamba/test_mamba_ssm_ssd.py
  test/srt/models/test_generation_models.py
  test/srt/models/test_nvidia_nemotron_nano_v2.py
  test/srt/run_suite.py
Labels: high priority, run-ci
